<div class="join-us-page">
    <div class="top-corner icon icon-delete" ng-click="modelInstance.close()"></div>
    <div class="">
        <div>
            <div class="title">
                Why waste time searching?
            </div>
            <div class="secondary-title">
                We’ll do the work for you!
            </div>
            <div class="sub-title">
                Leave us some details about your home and trip,<br>
                and we’ll get back to you with a match in no time
            </div>
            <div class="btn-primary ok-btn" ng-click="signin();openLogin(true);modelInstance.close()">Find me a Swap!</div>
            <div class="sub-title">
                Oh, by the way, your first Swap is free
            </div>
            <div class="link" ng-click="signin();openLogin(true);modelInstance.close()" >
                Sign up now!
            </div>
        </div>
    </div>
</div>