<div class="join-us-page">
    <div class="top-corner icon icon-delete" ng-click="modelInstance.close()"></div>
    <div class="">
        <div ng-if="!loggedIn">
            <div class="title">
                Sorry, we couldn't find a place in {{failedCity.split(',')[0]}}
            </div>
            <div class="sub-title">
                Can’t find what you’re looking for?
            </div>
            <div class="secondary-title">
                We’ll take it from here!
            </div>
            <div class="sub-title">
                Leave us some details about your home and trip,<br>
                and we’ll get back to you with a match in no time
            </div>
            <div class="btn-primary ok-btn" ng-click="signin();openLogin(true);modelInstance.close({$value: true})">Find me a Swap!</div>
            <div class="sub-title">
                Oh, by the way, your first Swap is free
            </div>
            <div class="link" ng-click="signin();openLogin(true);modelInstance.close({$value: true})" >
                Sign up now!
            </div>
        </div>
        <div ng-if="loggedIn">
            <div class="title" ng-if="loggedIn">
                Oh man, <br>there are no Swappers in {{failedCity.split(',')[0]}} yet
            </div>

            <div class="pa-55">

            </div>
            <invite-friends help-grow="true"></invite-friends>
        </div>

    </div>
</div>