<div class="account-page">
    <div class="container inner-page">
        <div class="row display-flex">
            <div class="col-sm-3 sidebar" ng-hide="conversationIsOpen">
                <ul class="menu">
                    <li class="single-link {{activeTab == 'edit'?'active':''}}"><a href=""
                                                                                   ng-click="go('account/edit')">Profile</a>
                    </li>
                    <li class="single-link {{activeTab == 'listing'?'active':''}}"><a href=""
                                                                                      ng-click="go('account/listing')">My
                        Home</a></li>
                    <li class="single-link {{activeTab == 'messages'?'active':''}}"><a href=""
                                                                                       ng-click="go('account/messages')">Messages</a>
                    </li>
                    <li class="single-link {{activeTab == 'set-swap-dates'?'active':''}}"><a href=""
                                                                                    ng-click="go('account/set-swap-dates')">Set Swap Dates</a>
                    </li>
                    <li class="single-link {{activeTab == 'credits'?'active':''}}"><a href=""
                                                                                    ng-click="go('account/credits')">Swap Credits</a>
                    </li>
                    <li class="single-link {{activeTab == 'homes-i-like'?'active':''}}"><a href=""
                                                                                           ng-click="go('account/homes-i-like')">Homes
                        I Like</a></li>
                    <li class="single-link {{activeTab == 'reviews'?'active':''}}"><a href=""
                                                                                      ng-click="go('account/reviews')">Reviews</a>
                    </li>
                    <!--<li class="single-link {{activeTab == 'pricing'?'active':''}}"><a href=""-->
                                                                                           <!--ng-click="go('account/pricing')">Pricing</a></li>-->

                    <li class="single-link {{activeTab == 'password'?'active':''}}" ng-if="user.localId"><a href=""
                                                                                      ng-click="go('account/password')">Password</a></li>
                </ul>
            </div>
            <div class="{{conversationIsOpen?'col-sm-12':'col-sm-9 '}} col-xs-12 content {{activeTab == 'upcoming-swaps'?'scroll':''}}">
                <div class="edit-profile" ng-if="activeTab == 'edit'">
                    <div class="row permanent-info">
                        <div class="col-sm-3">
                            <div class="pic" style="background-image:url('{{user.image}}')" ng-if="user.facebookId">
                            </div>
                            <div class="upload-profile-image pic" style="background-image: url({{user.image}})" ng-if="!user.facebookId" data-toggle="tooltip" title="Upload profile photo" data-placement="top" tooltip>
                                <input class="cloudinary-fileupload profile-upload" id="profile-pic" data-ng-init="initUploadProfileButton()" data-cloudinary-field="image_id"
                                       data-max-chunk-size="52428800" data-update-path="google.com"
                                       data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" name="profile" type="file" />
                                <label for="profile-pic" class="choose-file"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="name">
                                {{user.firstName}} {{user.lastName}}
                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal edit-form" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-6 col-xs-12">
                                <input class="form-control" type="text" ng-model="edit.email">
                            </div>
                        </div>
                        <div class="form-group birthday">
                            <label class="col-sm-3 control-label">Birthday:</label>
                            <div class="col-sm-3 col-xs-12">
                                <input class="datepicker form-control" name="birthday" ng-model="edit.birthday" birthday="user.birthday" birthday-picker readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender:</label>
                            <div class="col-sm-3 col-xs-12">
                                <select class="form-control" id="gender" ng-model="edit.gender"
                                        ng-options="gender.value as gender.name for gender in data.genders">
                                    {{gender.name}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">About me:</label>
                            <div class="col-sm-6 col-xs-12">
                                <textarea rows="6" cols="20" class="form-control" ng-model="edit.aboutMe"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Occupation:</label>
                            <div class="col-sm-6 col-xs-12">
                                <input class="form-control" type="text" ng-model="edit.occupation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">What are you looking for when you travel? <br> <br>
                                <span style="font-weight: 400">(This will help us find the best place for you to Swap!)</span></label>
                            <div class="col-sm-8 col-xs-12 things">
                                <checkbox items="data.thingsToDo" model="edit.thingsToDo"></checkbox>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="buttons">
                                <input type="button" class="btn btn-primary btn-edit" value="Save"
                                       ng-click="saveChanges()" ng-disabled="saving" disabled="{{saving}}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="my-listing" ng-if="activeTab == 'listing'">
                    <div class="info-section my-photos {{saving?'saving':''}}">
                        <div class="loader-wrapper" ng-if="saving">
                            <div class="loader">

                            </div>
                        </div>
                        <div class="display-photos no-photos" ng-if="user.photos.length == 0">
                            <div class="text">
                                You don't have enough photos of your listing, you must have at least 3 photo.
                            </div>
                            <div class="no-image">
                                <img src="../images/static/no-image.png" class="no-image-icon">
                            </div>
                            <div class="upload-photos btn btn-primary btn-edit" data-ng-init="initUploadButton()" ng-if="user.photos.length < 8">
                                Upload Photos
                                <input class="cloudinary-fileupload" data-cloudinary-field="image_id"
								data-max-chunk-size="52428800" data-update-path="google.com" 
								data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" multiple="multiple" name="file" type="file" />
                            </div>
                        </div>
                        <div class="display-photos" ng-if="user.photos.length > 0">
                            <div class="text" ng-if="user.photos.length < 3">
                                Homes with 3 or more photos are far more likely to get viewed.
                            </div>
                            <ng-image-gallery
                                    images="images"
                                    thumb-size="180"
                                    img-anim="slide"
                                    on-delete="deletePhoto(img, cb)"
                                    on-close="galeryClosed()"
                            ></ng-image-gallery>
                            <div class="drag-hover hidden-xs {{!dragAnimation?'animate':''}}" ng-if="user.photos.length > 1">
                                <div class="drag-img" style="background-image: url({{user.photos[0]}})"></div>
                                <div class="drag-cursor"></div>
                            </div>
                            <div class="upload-photos btn btn-primary btn-edit" data-ng-init="initUploadButton()" ng-if="user.photos.length < 8">
                                Upload Photos
                                <input class="cloudinary-fileupload" data-cloudinary-field="image_id"
								data-max-chunk-size="52428800" data-update-path="google.com" 
								data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" multiple="multiple" name="file" type="file" />
                            </div>
                        </div>
                        <div class="progress" ng-if="saving">
                            <div class="progress-bar" ng-style="{'width': imageProgress + '%'}">

                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal edit-form" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label listing-label">Title:<br>
                                <span class="explanation">A short description of your home</span>
                            </label>
                            <div class="col-sm-8 col-xs-12">
                                <input class="form-control" type="text" ng-model="edit.apptInfo.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label listing-label">Address:<br>
                            <span class="explanation">Where you live</span>
                            </label>
                            <div class="col-sm-8 col-xs-12">
                                <input class="form-control" id="address" type="text" ng-model="edit.address" autocomplete>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Basics:<br>
                            <span class="explanation">Essential information about you home</span>
                            </label>
                            <div class="col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3 basics">
                                        <div class="name-with-icon">
                                            <div class="icon icon-man-small"></div>
                                            <div class="basics-name">Guests</div>
                                        </div>
                                        <input class="form-control" id="swappers" type="number" min="1" max="8"
                                               ng-model="edit.apptInfo.guests">
                                    </div>
                                    <div class="col-sm-3 col-xs-3 basics">
                                        <div class="name-with-icon">
                                            <div class="icon icon-door-small"></div>
                                            <div class="basics-name">Rooms</div>
                                        </div>
                                        <input class="form-control" id="rooms" type="number" min="1" max="8"
                                               ng-model="edit.apptInfo.rooms">
                                    </div>
                                    <div class="col-sm-3 col-xs-3 basics">
                                        <div class="name-with-icon">
                                            <div class="icon icon-bed-small"></div>
                                            <div class="basics-name">Beds</div>
                                        </div>
                                        <input class="form-control" id="beds" type="number" min="1" max="8"
                                               ng-model="edit.apptInfo.beds">
                                    </div>
                                    <div class="col-sm-3 col-xs-3 basics">
                                        <div class="name-with-icon">
                                            <div class="icon icon-duck-small"></div>
                                            <div class="basics-name">Baths</div>
                                        </div>
                                        <input class="form-control" id="baths" type="number" min="1" max="8"
                                               ng-model="edit.apptInfo.baths">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label listing-label">About my home:<br>
                            <span class="explanation">What makes your home special</span>
                            </label>
                            <div class="col-sm-6 col-xs-12">
                                <textarea rows="6" cols="20" class="form-control"
                                          ng-model="edit.apptInfo.about"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label listing-label">Room Type:<br>
                            <span class="explanation">The type of room you are offering</span>
                            </label>
                            <div class="col-sm-4 col-xs-12">
                                <select class="form-control" id="roomType" ng-model="edit.apptInfo.roomType"
                                        ng-options="room.id as room.displayName for room in data.roomType">
                                    {{room.displayName}}
                                </select>
                            </div>
                            <div class="col-sm-5 col-xs-12 gain">
                                Gain {{data.roomType[edit.apptInfo.roomType].gain}} Swap Credits for every night a Swapper stays at your place <a class="credits-link" href="/how-it-works#swapCredits" target="_blank">(See more)</a>
                            </div>
                        </div>
                    </form>
                    <div class="info-section rules">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label listing-label">Facilities:<br>
                            <span class="explanation">Things you have in your home</span>
                            </label>
                            <div class="col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <checkbox items="data.amenities" model="edit.apptInfo.amenities"></checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-section rules">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label listing-label">House Rules:<br>
                            <span class="explanation">What Swappers can and can't do at your home</span>
                            </label>
                            <div class="col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <checkbox items="data.houseRules" model="edit.apptInfo.rules"></checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-section rules last">
                        <div class="row">
                            <label class="col-sm-3 control-label listing-label">More Information:<br>
                            <span class="explanation">Is there anything else you'd like Swappers to know about your home?
                            You can, for example tell them about about attractions near your home,
                            Pets you own, or even just how to turn on the A/C</span>
                            </label>
                            <div class="col-sm-6 col-xs-12">
                                <textarea rows="6" cols="20" class="form-control"
                                          ng-model="edit.apptInfo.moreInfo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="buttons">
                            <input type="button" class="btn btn-primary btn-edit" value="Save" ng-click="editlisting()"
                                   ng-disabled="saving" disabled="{{saving}}">
                        </div>
                    </div>
                </div>
                <div class="" ng-if="activeTab == 'messages'">
                    <div class="messages" ng-if="user.messages.length == 0">
                        <div class="no-messages">You Have no messages
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <div class="messages" ng-if="user.messages.length > 0">
                        <div class="all-messages" ng-if="!conversationIsOpen">
                            <div class="">
                                <div class="messages-list"
                                     ng-repeat="message in user.messages | orderBy: orderByDate | limitTo: messagePageEnd: messagePageStart">
                                    <div class="single-message {{messageOpened && message.id == currentConversationId?'opened':''}}" ng-click="goToMessages(message.id)">
                                        <div class="">
                                            <a href="{{'profile/'+message.id}}" >
                                                <div class="photo" style="background-image:url('{{message.image}}')">

                                                </div>
                                            </a>
                                        </div>
                                        <div class="names">
                                            <div class="message row">
                                                <div class="col-sm-3 col-xs-4 message-info">
                                                    <div class="message-column">
                                                        <div class="name">
                                                            {{message.name}}
                                                        </div>
                                                        <div class="city hidden-xs">
                                                            {{message.city}}
                                                        </div>
                                                        <div class="date {{message.read?'read':''}} visible-xs">
                                                            {{message.messages[message.messages.length -1].date |
                                                            dateFilter}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5 col-xs-8 message-info">
                                                    <div class="unread" ng-if="!message.read">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="message-column">
                                                        <div class="date {{message.read?'read':''}} hidden-xs">
                                                            {{message.messages[message.messages.length -1].date |
                                                            dateFilter}}
                                                        </div>
                                                        <div class="request visible-xs"
                                                             ng-if="requestStatus(message.id) != -1">
                                                            <div class="" ng-switch="requestStatus(message.id)">
                                                                <div ng-switch-when="0">
                                                                    <div class="request-status {{getRequest(message.id).user1 == null?'pending':'awaiting-approval'}}">
                                                                        {{getRequest(message.id).user1 == null?'Request pending':'Awaiting approval'}}
                                                                    </div>
                                                                </div>
                                                                <div ng-switch-when="1">
                                                                    <div class="request-status confirmation" ng-if="getRequest(message.id).user1 != null">
                                                                        Awaiting Confirmation
                                                                    </div>
                                                                    <div class="btn request-status-button confirm" ng-if="getRequest(message.id).user1 == null" ng-click="confirmRequest(message.id)">
                                                                        Confirm
                                                                    </div>
                                                                </div>
                                                                <div ng-switch-when="2">
                                                                    <div class="request-status confirmed">
                                                                        Confirmed
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="text {{message.read?'read':''}}" ng-bind-html="trustAsHtml(message.messages[message.messages.length -1].message)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 hidden-xs message-info">
                                                    <div class="request"
                                                         ng-if="requestStatus(message.id) != -1">
                                                        <div class="message-column" ng-switch="requestStatus(message.id)">
                                                            <div ng-switch-when="0">
                                                                <div class="request-status {{getRequest(message.id).user1 == null?'pending':'awaiting-approval'}}">
                                                                    {{getRequest(message.id).user1 == null?'Request pending':'Awaiting approval'}}
                                                                </div>
                                                            </div>
                                                            <div ng-switch-when="1">
                                                                <div class="request-status confirmation" ng-if="getRequest(message.id).user1 != null">
                                                                    Awaiting Confirmation
                                                                </div>
                                                                <div class="btn request-status-button confirm" ng-if="getRequest(message.id).user1 == null" ng-click="confirmRequest($event, message.id)">
                                                                    Confirm
                                                                </div>
                                                            </div>
                                                            <div ng-switch-when="2">
                                                                <div class="request-status confirmed">
                                                                    Confirmed
                                                                    <div class="icon icon-check"></div>
                                                                </div>
                                                            </div>
                                                            <div class="request-dates" ng-if="requestStatus(message.id) == 0" uib-tooltip="{{getRequest(message.id).proposition.rangeLabel == 'Weekends'?data.weekendStart[getRequest(message.id).proposition.startRange].displayName+' - ' +data.weekendEnd[getRequest(message.id).proposition.endRange].displayName+ ' Weekend within this range.':getRequest(message.id).proposition.rangeLabel == 'Date Range'?(getRequest(message.id).proposition.startRange != getRequest(message.id).proposition.endRange?getRequest(message.id).proposition.startRange+' - ' +getRequest(message.id).proposition.endRange:getRequest(message.id).proposition.startRange) + ' nights within this range.':'Exact dates'}}" tooltip-placement="left" tooltip>
                                                                {{getRequest(message.id).proposition.checkin | date: 'MMMM d'}} - {{getRequest(message.id).proposition.checkout | date: 'MMMM d'}}
                                                            </div>
                                                            <div class="request-dates" ng-if="requestStatus(message.id) > 0">
                                                                {{getRequest(message.id).checkin | date: 'MMMM d'}} - {{getRequest(message.id).checkout | date: 'MMMM d'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="messages-pagination" ng-if="user.messages.length > messagePageSize">
                                <paging
                                        page="messagePage"
                                        page-size="messagePageSize"
                                        total="messagesLength"
                                        paging-action="getPage(page)"
                                        show-prev-next="true"
                                        adjacent="1"
                                        text-next-class="glyphicon glyphicon-chevron-right"
                                        text-prev-class="glyphicon glyphicon-chevron-left">
                                </paging>
                            </div>
                        </div>
                        <div class="message-profile" ng-if="conversationIsOpen">
                            <div class="loader-wrapper" ng-if="loading">
                                <div class="loader">

                                </div>
                            </div>
                            <div class="row mobile-messages" ng-if="!loading">
                                <div class="col-sm-5 col-xs-12">
                                    <div class="messages-and-status hidden-xs">
                                        <div class="status">
                                            <div class="set-swap" ng-if="!getRequest(currentConversationId)">
                                                <div class="btn btn-primary btn-swap" ng-click="setSwap(currentConversationId)" ng-disabled="saving">
                                                    Reqeust Swap
                                                </div>
                                            </div>
                                            <div class="status-action" ng-switch="requestStatus(currentConversationId)">
                                                <div ng-switch-when="0" class="align-center">
                                                    <div class="request-status pending" ng-if="getRequest(currentConversationId).user1 == null">
                                                        Request pending
                                                    </div>
                                                    <div class="btn request-status-button approve" ng-if="getRequest(currentConversationId).user1 != null" ng-click="approveRequest($event, currentConversationId)">
                                                        Approve
                                                    </div>
                                                </div>
                                                <div ng-switch-when="1" class="align-center">
                                                    <div class="request-status confirmation" ng-if="getRequest(currentConversationId).user1 != null">
                                                        Awaiting Confirmation
                                                    </div>
                                                    <div class="btn request-status-button confirm" ng-if="getRequest(currentConversationId).user1 == null" ng-click="confirmRequest($event, currentConversationId)">
                                                        Confirm
                                                    </div>
                                                </div>
                                                <div ng-switch-when="2" class="align-center">
                                                    <div class="request-status confirmed">
                                                        Confirmed
                                                        <div class="icon icon-check"></div>
                                                    </div>
                                                </div>
                                                <div class="dates-and-cancel" ng-if="getRequest(currentConversationId)">
                                                    <div class="" ng-if="getRequest(currentConversationId).oneWay">
                                                        <div class="request-dates">
                                                            One way Swap by {{getRequest(currentConversationId).user1 == null?'you':getRequest(currentConversationId).user1.firstName}} at {{getRequest(currentConversationId).user1 == null?getRequest(currentConversationId).user2.firstName+"'s":'your'}} home
                                                        </div>
                                                    </div>
                                                    <div class="" ng-if="requestStatus(currentConversationId) == 0">
                                                        <div class="request-dates">
                                                            {{getRequest(currentConversationId).proposition.checkin | date: 'EEEE, MMMM d, yyyy'}} - {{getRequest(currentConversationId).proposition.checkout | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                        <div class="request-dates" ng-if="getRequest(currentConversationId).proposition.rangeLabel != 'Exact Dates'">
                                                            <strong>Flexible dates:</strong> {{getRequest(currentConversationId).proposition.rangeLabel == 'Weekends'?data.weekendStart[getRequest(currentConversationId).proposition.startRange].displayName+' - ' +data.weekendEnd[getRequest(currentConversationId).proposition.endRange].displayName+ ' Weekend within this range.':(getRequest(currentConversationId).proposition.startRange != getRequest(currentConversationId).proposition.endRange?getRequest(currentConversationId).proposition.startRange+' - ' +getRequest(currentConversationId).proposition.endRange:getRequest(currentConversationId).proposition.startRange) + ' nights within this range.'}}
                                                        </div>
                                                    </div>
                                                    <div class="" ng-if="requestStatus(currentConversationId) > 0">
                                                        <div class="request-dates">
                                                            <strong>Check in: </strong> {{getRequest(currentConversationId).checkin | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                        <div class="request-dates">
                                                            <strong>Check out:</strong> {{getRequest(currentConversationId).checkout | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="cancel-request" ng-click="cancelRequest(getRequest(currentConversationId))">
                                                            {{requestStatus(currentConversationId) == 0 && getRequest(currentConversationId).user1 != null?'Decline request':'Cancel request'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swapper-details">
                                        <swapper-home traveler="profile"></swapper-home>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                    <div class="messages-and-status">
                                        <!--<div class="glyphicon glyphicon-menu-right top-corner" ng-click="closeMessage()"></div>-->
                                        <div class="status visible-xs">
                                            <div class="set-swap" ng-if="!getRequest(currentConversationId)">
                                                <div class="btn btn-primary btn-swap" ng-click="setSwap(currentConversationId)" ng-disabled="saving">
                                                    Request Swap
                                                </div>
                                            </div>
                                            <div class="status-action" ng-switch="requestStatus(currentConversationId)">
                                                <div ng-switch-when="0">
                                                    <div class="request-status pending" ng-if="getRequest(currentConversationId).user1 == null">
                                                        Request pending
                                                    </div>
                                                    <div class="btn request-status-button approve" ng-if="getRequest(currentConversationId).user1 != null" ng-click="approveRequest($event, currentConversationId)">
                                                        Approve
                                                    </div>
                                                </div>
                                                <div ng-switch-when="1">
                                                    <div class="request-status confirmation" ng-if="getRequest(currentConversationId).user1 != null">
                                                        Awaiting Confirmation
                                                    </div>
                                                    <div class="btn request-status-button confirm" ng-if="getRequest(currentConversationId).user1 == null" ng-click="confirmRequest($event, currentConversationId)">
                                                        Confirm
                                                    </div>
                                                </div>
                                                <div ng-switch-when="2">
                                                    <div class="request-status confirmed">
                                                        Confirmed
                                                        <div class="icon icon-check"></div>
                                                    </div>
                                                </div>
                                                <div class="row dates-and-cancel" ng-if="getRequest(currentConversationId)">
                                                    <div class="col-sm-8 col-xs-12" ng-if="requestStatus(currentConversationId) == 0">
                                                        <div class="request-dates">
                                                            {{getRequest(currentConversationId).proposition.checkin | date: 'EEEE, MMMM d, yyyy'}} - {{getRequest(currentConversationId).proposition.checkout | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                        <div class="request-dates" ng-if="getRequest(currentConversationId).proposition.rangeLabel != 'Exact Dates'">
                                                            <strong>Flexible dates:</strong> {{getRequest(currentConversationId).proposition.rangeLabel == 'Weekends'?data.weekendStart[getRequest(currentConversationId).proposition.startRange].displayName+' - ' +data.weekendEnd[getRequest(currentConversationId).proposition.endRange].displayName+ ' Weekend within this range.':(getRequest(currentConversationId).proposition.startRange != getRequest(currentConversationId).proposition.endRange?getRequest(currentConversationId).proposition.startRange+' - ' +getRequest(currentConversationId).proposition.endRange:getRequest(currentConversationId).proposition.startRange) + ' nights within this range.'}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-12" ng-if="requestStatus(currentConversationId) > 0">
                                                        <div class="request-dates">
                                                            <strong>Check in: </strong> {{getRequest(currentConversationId).checkin | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                        <div class="request-dates">
                                                            <strong>Check out:</strong> {{getRequest(currentConversationId).checkout | date: 'EEEE, MMMM d, yyyy'}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="cancel-request" ng-click="cancelRequest(getRequest(currentConversationId))">
                                                            {{requestStatus(currentConversationId) == 0 && getRequest(currentConversationId).user1 != null?'Decline request':'Cancel request'}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-area">
                                            <div class="conversation-messages" id="{{currentConversationId}}">
                                                <div class="conversation-message {{conversation.id == user._id && !conversation.isRequest && !conversation.isConfirm && !conversation.isCancel?'user-message':''}} {{conversation.isRequest?'request':''}} {{conversation.isConfirm?'confirm':''}} {{conversation.isCancel?'cancel':''}}"
                                                     ng-repeat="conversation in currentConversation.messages">
                                                    <div class="photo" style="background-image:url('{{conversation.id==user._id?user.image:profile.image}}')" ng-if="!conversation.isRequest && !conversation.isConfirm && !conversation.isCancel">
                                                    </div>
                                                    <div class="conversation">
                                                        <div class="text" ng-bind-html="trustAsHtml(conversation.message)">
                                                        </div>
                                                        <div class="date">
                                                            {{conversation.date | dateFilter}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="send-message">
                                                <textarea rows="2" cols="20" class="form-control send-text" ng-model="send.message"></textarea>
                                                <input type="button" class="btn btn-primary btn-send" value="Send"
                                                       ng-click="sendMessage()" ng-disabled="send.message == '' " disabled="{{send.message == ''}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swaps-and-requests" ng-if="activeTab == 'set-swap-dates'">
                    <div class="swap-title"></div>
                    <swaps swaps="user.travelingInformation" ng-if="user._id"></swaps>
                </div>
                <div class="swaps-and-requests" ng-if="activeTab == 'credits'">
                    <div class="points">
                        <div class="points-title">
                            Swap nights are acquired with Swap Credits, The value of each Swapper’s home is calculated based on our easy-to-understand Swap Credit system.
                            <br>
                            <br>
                            <a target="_blank"  href="/how-it-works#swapCredits"> Click here for more information about Swap Credit prices and Swap Credit Value System.</a>
                        </div>
                    </div>
                    <points data="data" ng-if="data && user._id"></points>
                </div>
                <div class="swaps-and-requests" ng-if="activeTab == 'upcoming-swaps'">
                    <div class="messages" ng-if="requests.length == 0">
                        <div class="no-messages">You Have no upcoming swaps
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <div class="loader" ng-if="saving"></div>
                    <div class="swap-title" ng-hide="saving"></div>
                    <div class="mg-0 row request-list" ng-repeat="request in requests | filter: status == 2 || status == 3 | orderBy: 'checkin'" ng-hide="saving">
                        <swapper-home ng-if="request.user1" class="traveler-col col-sm-6 col-xs-12" traveler="request.user1"></swapper-home>
                        <swapper-home ng-if="request.user2" class="traveler-col col-sm-6 col-xs-12" traveler="request.user2"></swapper-home>
                        <div class="request-info col-sm-6 col-xs-12">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label">Status:</label>
                                <div class="statuses col-sm-6">
                                    <div class="request-status"
                                         ng-if="request.status == 4">
                                        Completed
                                    </div>
                                    <div class="request-status confirmed" ng-if="request.status == 2">Confirmed</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 control-label">Check in:</label>
                                <div class="col-xs-1 hidden-xs">
                                </div>
                                <div class="col-xs-11">
                                    {{request.checkin | date :'EEEE, MMMM dd, yyyy'}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 control-label">Check out:</label>
                                <div class="col-xs-1 hidden-xs">
                                </div>
                                <div class="col-xs-11">
                                    {{request.checkout | date :'EEEE, MMMM dd, yyyy'}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 control-label">Type:</label>
                                <div class="col-xs-1 hidden-xs">
                                </div>
                                <div class="col-xs-11" ng-if="!request.oneWay">
                                    {{data.roomType[request.roomType1].displayName}} for {{data.roomType[request.roomType2].displayName}}
                                </div>
                                <div class="col-xs-11" ng-if="request.oneWay">
                                    One way Swap at {{data.roomType[request.roomType2].displayName}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xs-12 control-label">Swap Credits:</label>
                                <div class="col-xs-1 hidden-xs">
                                </div>
                                <div class="col-xs-11" ng-init="x = getCreditsAmount(request)">
                                    {{x.notCharged?'No Swap Credits spent':x.gained?'You gained ' + x.totalPayment + ' Swap Credits':'You spent '+ x.totalPayment + ' Swap Credits'}}
                                </div>
                            </div>
                            <!--<div class="">-->
                                <!--<div class="cancel" ng-click="cancelRequest(request)" ng-hide="saving">{{request.status == 0 && request.user1?'Decline':'Cancel'}} Request</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="fav-tab" ng-if="activeTab == 'homes-i-like'">

                    <div class="messages" ng-if="user.favorites.length == 0">
                        <div class="no-messages">You have no saved homes
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <div class="favorite-cont" ng-if="user.favorites.length > 0">

                        <div class="fav-scroll">
                            <div class="favorites-show"
                                 ng-repeat="favorite in likedHomes">
                                <swapper-home class="col-sm-6 col-xs-12 single-favorite" traveler="favorite"></swapper-home>
                                <div class="clearfix visible-xs"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-tab" ng-if="activeTab == 'reviews'">
                    <div class="messages" ng-if="user.reviews.length == 0">
                        <div class="no-messages">You Have no reviews
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <div class="reviews-cont" ng-if="user.reviews.length > 0">

                        <div class="reviews-scroll">
                            <div class="row comments-show"
                                 ng-repeat="commenter in user.reviews">
                                <review-elm commenter="commenter"></review-elm>
                                <hr style="clear: both;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="password-tab" ng-if="activeTab == 'password'">
                    <div class="permanent-info">
                        <div class="title">
                            Change Password
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <form class="form-horizontal edit-form" name="changePasswordForm">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Current password:</label>
                                <div class="">
                                    <input class="form-control {{currentInvalid?'error':''}} " ng-focus="currentInvalid = false;" type="password" name="current" ng-model="passwords.current" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">New password:
                                    <span class="explanation">At least 6 characters</span>
                                </label>
                                <div class="">
                                    <input class="form-control {{newInvalid?'error':''}}" ng-focus="newInvalid = false;" type="password" name="new" minlength="6" ng-model="passwords.new" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="control-label">Confirm new password:</label>
                                <div class="">
                                    <input class="form-control {{confirmInvalid?'error':''}}" ng-focus="confirmInvalid = false;" type="password" name="confirm" ng-model="passwords.confirm" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="message {{error?'error-message':''}}">
                                    <span ng-if="success">Password changed successfully</span>
                                    <span ng-if="error">{{error}}</span>
                                </div>
                                <div class="buttons">
                                    <input type="button" class="btn btn-primary btn-edit" value="Save"
                                           ng-click="changePassword(changePasswordForm)" ng-disabled="saving" disabled="{{saving}}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="pricing-tab" ng-if="activeTab == 'pricing'">-->
                    <!--<div class="payment-plan">-->
                        <!--<div class="pricing-title">-->
                            <!--Choose a pricing plan-->
                            <!--<div class="underline"></div>-->
                        <!--</div>-->
                        <!--<div class="row all-plans">-->
                            <!--<div class="col-sm-4" ng-repeat="plan in data.securityDeposit">-->
                                <!--<div class="single-plan {{plan.type}}">-->
                                    <!--<div class="coming-soon" ng-if="plan.id > 0">-->
                                        <!--<div class="coming-soon-title">-->
                                            <!--Coming soon-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="plan-top">-->
                                        <!--<div class="plan-title">-->
                                            <!--{{plan.displayName}}-->
                                            <!--<br>-->
                                            <!--Payment Plan-->
                                        <!--</div>-->
                                        <!--<div class="plan-image">-->

                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="plan-bottom">-->
                                        <!--<div class="small-text">-->
                                            <!--Per night-->
                                        <!--</div>-->
                                        <!--<div class="price">-->
                                            <!--{{plan.night}}$-->
                                        <!--</div>-->
                                        <!--<div class="covers">-->
                                            <!--This plan covers up to <br> {{plan.damage}}$-->
                                        <!--</div>-->
                                        <!--<div class="small-text">-->
                                            <!--in damages or cancellations-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row display-flex" style="background-color: #f9f6f1">
            <div class="col-sm-3 col-xs-0">

            </div>
            <div class="col-sm-9 col-xs-12">
                <invite-friends></invite-friends>
            </div>
        </div>
    </div>
</div>
