<div class="account-page">
    <div class="container inner-page">
        <div class="row display-flex">
            <div class="col-sm-3 sidebar">
                <ul class="">
                    <li class="single-link {{activeTab == 'edit'?'active':''}}"><a href="" ng-click="go('account/edit')">Edit Account</a></li>
                    <li class="single-link {{activeTab == 'listing'?'active':''}}"><a href="" ng-click="go('account/listing')">My Listing</a></li>
                    <li class="single-link {{activeTab == 'messages'?'active':''}}"><a href="" ng-click="go('account/messages')">Messages</a></li>
                    <li class="single-link {{activeTab == 'swap'?'active':''}}"><a href="" ng-click="go('account/swap')">Swap</a></li>
                    <li class="single-link {{activeTab == 'reviews'?'active':''}}"><a href="" ng-click="go('account/reviews')">Reviews</a></li>
                    <li class="single-link {{activeTab == 'settings'?'active':''}}"><a href="" ng-click="go('account/settings')">Settings</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
              <div class="edit-profile" ng-if="activeTab == 'edit'">
                <div class="row permanent-info">
                  <div class="col-sm-3">
                    <div class="pic" style="background-image:url('{{user.image}}')">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="name">
                      {{user.firstName}} {{user.lastName}}
                    </div>
                  </div>
                </div>
               <form class="form-horizontal edit-form" role="form">
                   <div class="form-group">
                       <label class="col-sm-3 control-label">Email:</label>
                       <div class="col-sm-6">
                           <input class="form-control" type="text" ng-model="edit.email" >
                       </div>
                   </div>
                   <div class="form-group">
                      <label class="col-sm-3 control-label">Address:</label>
                      <div class="col-sm-6">
                        <input class="form-control" id="address" type="text" ng-model="edit.address">
                    </div>
                  </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label">Age:</label>
                       <div class="col-sm-2">
                           <input class="form-control" id="age" type="number" ng-model="edit.age">
                       </div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label">Gender:</label>
                       <div class="col-sm-3">
                           <select class="form-control" id="gender" ng-model="edit.gender">
                               <option value="gender.value" ng-repeat="gender in data.genders" ng-selected="edit.gender == gender.value">{{gender.name}}</option>
                           </select>
                       </div>
                   </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">About me:</label>
                    <div class="col-sm-6">
                    <textarea rows="6" cols="20" class="form-control" ng-model="edit.aboutMe"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Occupation:</label>
                    <div class="col-sm-6">
                      <input class="form-control" type="text" ng-model="edit.occupation" >
                    </div>
                  </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label">What are you looking for when you travel? <br> <br> <span style="font-weight: 400">(This will help us find the best place for you to Swap!)</span></label>
                       <div class="col-sm-8 things-col">
                           <div class="things-to-do" ng-repeat="thing in data.thingsToDo">
                               <div class="things-checkbox" ng-click="addThing(thing.id, $event)">
                                   <div class="check icon icon-check {{isCheckedThing(thing.id)?'checked':''}}"></div>
                               </div>
                               <div>
                                   {{thing.displayName}}
                               </div>
                           </div>
                       </div>
                   </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="buttons col-sm-6">
                      <input type="button" class="btn btn-primary btn-edit" value="Save Changes" ng-click="saveChanges()" ng-disabled="saving">
                      <span class="space"></span>
                      <input type="reset" class="btn btn-primary btn-edit cancel" value="Cancel" ng-click="cancel()" ng-if="editing">
                    </div>
                  </div>
                </form>
              </div>
              <div class="my-listing" ng-if="activeTab == 'listing'">
                <div class="info-section">
                  <div class="title">
                      Description
                  </div>
                  <div class="input-section">
                      <input class="form-control appt-info" type="text" name="description" value="Short description of the listing.." ng-model="apptInfo.description">
                  </div>
                </div>
                <div class="info-section">
                  <div class="title">
                      About your place
                  </div>
                  <div class="input-section">
                      <textarea rows="3" cols="20" class="form-control about-listing" ng-model="apptInfo.about"></textarea>
                  </div>
                </div>
                <div class="info-section">
                  <div class="title">
                      Listing
                  </div>
                  <div class="input-section">
                    <div class="row">
                      <div class="col-sm-4">
                        <label class="control-label">Listing Type</label>
                        <select class="form-control appt-info" name="property" id="select-property" ng-model="apptInfo.property">
                          <option disabled="" value="Select...">Select...</option>
                          <option ng-value="Apartment">Apartment</option>
                          <option ng-value="House">House</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Room</label>
                        <select class="form-control appt-info" name="room" id="select-room" ng-model="apptInfo.room">
                          <option disabled="" value="Select...">Select...</option>
                          <option value="Private Room">Private Room</option>
                          <option value="Entire Place">Entire Place</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Guests Allowed</label>
                        <select class="form-control appt-info" name="guests" id="select-guests" ng-model="apptInfo.guests">
                          <option disabled="" value="Select...">Select...</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="info-section">
                  <div class="title">
                      Photos
                  </div>
                  <div class="display-photos no-photos" ng-if="user.photos.length == 0">
                    <div class="text">
                      You don't have enough photos of your listing, you must have at least 3 photo.
                    </div>
                    <div class="no-image">
                      <img src="http://localhost:3000/images/static/no-image.png" class="no-image-icon">
                    </div>
                  </div>
                  <div class="display-photos" ng-if="user.photos.length > 0">
                    <div class="text" ng-if="user.photos.length < 3">
                        You don't have enough photos of your listing, you must have at least 3 photo.
                    </div>
                    <ng-image-gallery
                      images="images"
                      thumb-size="180"
                      img-anim="slide"
                      on-delete="deletePhoto(img, cb)"
                      on-close="galeryClosed()"
                    ></ng-image-gallery>
                    <div class="upload-photos" ng-if="user.photos.length < 8">
                      <form method="POST" enctype="multipart/form-data" action="/account/upload" >
                          <input type="file" name="photos" id="my_file" accept="image/jpg, image/jpeg" onchange="if(this.files.length > 8 - acc.user.photos.length) {
                              alert('You can only have 8 images');
                              this.value='';
                           }" multiple>
                          <input type="hidden" name="id" value="{{edit._id}}">
                          <div style="margin-top:15px;"></div>
                          <input type="submit" value="Upload Photos" class="btn btn-primary btn-edit">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="info-section">
                  <div class="title">
                    Amenities
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.essentials" ng-repeat="amenity in amenities">
                              {{amenity.displayName}}
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.tv " ng-model="apptInfo.tv">
                            TV
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.wheelchair " ng-model="apptInfo.wheelchair">
                            Wheelchair accessable
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.transportation " ng-model="apptInfo.babies">
                            Public transportation
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.kids " ng-model="apptInfo.kids">
                            Kid friendly
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.parking " ng-model="apptInfo.parking">
                            Parking
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.elevator " ng-model="apptInfo.elevator">
                            Elevator
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <ul class="list-unstyled">
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.washing " ng-model="apptInfo.washing">
                            Washing machine
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.dryer " ng-model="apptInfo.dryer">
                            Dryer
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.smoking " ng-model="apptInfo.smoking">
                            Smoking allowed
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.pool " ng-model="apptInfo.pool">
                            Pool
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.pets " ng-model="apptInfo.pets">
                            Pet allowed
                          </label>
                        </li>
                        <li>
                          <label class="amenity-label">
                            <input type="checkbox" name="amenity" value="" ng-checked="apptInfo.bathroom " ng-model="apptInfo.bathroom">
                            Private bathroom
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="buttons col-sm-4">
                  <input type="button" class="btn btn-primary btn-edit" value="Save" ng-click="editlisting()">
                  <span class="space"></span>
                  <input type="reset" class="btn btn-primary btn-edit cancel" value="Cancel" ng-click="cancel()">
                </div>
            </div>
            <div class="messages" ng-if="activeTab == 'messages'">
              <div class="all-messages">
                  <div class="search-messages">
                      <input type="text" class="search" placeholder="Search Messages" ng-model="$parent.searchTerm">
                  </div>
                  <div class="messages-scroll">
                    <div class="messages-list" ng-repeat="message in user.messages | searchMessages:searchTerm" >
                      <div class="single-message" ng-click="openConversation(message, $index)">
                        <div class="">
                          <div class="photo" style="background-image:url('{{message.image}}')" ng-click="go('profile/'+message.id )">
                          </div>
                        </div>
                        <div class="names">
                          <div class="message">
                            <div class="top">
                                <div class="row">
                                    <div class="col-sm-6">
                                      <div class="name">
                                          {{message.name}}
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="date {{message.read?'not-read':''}}">
                                          {{message.messages[message.messages.length -1].date | dateFilter}}
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                              <div class="row last-massage">
                                <div class="col-sm-8">
                                  <div class="text {{message.read?'not-read':''}}">
                                      {{message.messages[message.messages.length -1].message}}
                                  </div>
                                </div>
                                <div class="col-sm-4 {{requestStatus(message.id) != -1?'display-flex':''}} align-center">
                                    <div class="request" ng-if="requestStatus(message.id) != -1">
                                        <div class="request-status">{{requestStatus(message.id) == 0?'Request Pending':requestStatus(message.id) == 1?'Request Confirmed':''}}</div>
                                    </div>
                                    <div class="unread" ng-if="!message.read">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                          <div class="arrow {{message.read?'not-read':''}}">
                              <div class="glyphicon glyphicon-chevron-right"></div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
                <div class="message-area">
                    <div class="conversation-profile">
                        <div class="photo" style="background-image:url('{{currentConversation.image}}')" ng-click="go('profile/'+message.id )">
                        </div>
                        <div class="name">
                            {{currentConversation.name}}
                        </div>
                    </div>
                    <div class="conversation-messages" id="{{currentConversationId}}">
                        <div class="con-message {{conversation.id == user._id?'user-message':''}} {{conversation.isRequest?'request':''}}" ng-repeat="conversation in currentConversation.messages">
                            <div class="text">
                                {{conversation.message}}
                            </div>
                        </div>
                    </div>
                    <div class="send-message" ng-if="conversationIsOpen">
                        <input type="button" class="btn btn-primary btn-swap {{currentConversationStatus == 0?requestSentByMe?'btn-pending':'btn-confirm':''}} {{currentConversationStatus == 1?'btn-confirmed':''}}" value="{{currentConversationStatus == 0?requestSentByMe?'Pending':'Confirm':currentConversationStatus == 1?'Confirmed':currentConversationStatus == -1?'Swap':''}}" ng-disabled ="currentConversationRequest && currentConversationRequest.sentBy == user._id && currentConversationStatus != -1" ng-click="currentConversationStatus == 0?confirmRequest():swap()">
                        <textarea rows="2" cols="20" class="form-control send-text" ng-model="send.message">
                          </textarea>
                        <input type="button" class="btn btn-primary btn-send" value="Send" ng-click="sendMessage()" ng-disabled="send.message == '' ">
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div id="requestModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="send-request">
                     <div class="title">
                         Request to swap with {{currentMessager.name}}
                     </div>
                     <label class="control-label">When</label>
                     <div class="dates">
                         <input class="form-control" type="text" name="datefilter" placeholder="When" ng-model="swap.dates"/>
                         <span class="date-calendar"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i></span>
                     </div>
                     <div class="modal-footer">
                         <input type="button" class="btn btn-primary fll btn-swap" data-dismiss="modal" value="Swap" ng-click="sendRequest()">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
