<div class="information-page">
    <div class="sub-title pa-55">
        What is Swaps?
        <div class="underline"></div>
    </div>
    <div class="text">
        <span class="swaps">Swaps</span> is an easy, affordable, and fun solution for young travelers, allowing you to live out your dreams and experience the world.
        <br>
        <br>
        <span ng-if="!$root.user"><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first 2 Swap Credits <strong>for free!</strong><br>
        <br></span>
        With <span class="swaps">Swaps</span>, your home is anywhere.
        <br>
        <br>
        In fact, you can even <strong>Swap <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> for free.</a></strong>
        <br>
        <br>
        How? It’s simple.
        <br>
        <br>
        When you <strong>Swap</strong>, you don’t have to worry about your home while you travel, or blow your budget on expensive rentals and hotels. Even if you travel only a few days each year, <span class="swaps">Swaps</span> will save you literally hundreds of dollars, ensure your home and personal belongings are secure while your away, and provide you with a convenient, safe, and comfortable place to stay wherever you go.
        <br>
        <br>
        <span class="swaps">Swaps</span> gives you the peace of mind you need to live life with no excuses and travel the world with no regrets.
    </div>
    <div class="text">
        <div class="clickable secondary-title" data-toggle="collapse" href="#topQuestions" aria-expanded="false" aria-controls="topQuestions">
            Top Questions
        </div>
        <div class="collapse" id="topQuestions">
            <div class="clickable sub-title" data-toggle="collapse" href="#whoIsSwapsFor" aria-expanded="false" aria-controls="whoIsSwapsFor">
                Who is Swaps for?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="whoIsSwapsFor">Swaps is for anyone who wants to live life with no excuses and travel the world with no regrets.
                <br>
                <br>
                We offer a set of tailor-made options for a wide range of travelers. Whether you rent or own your home, live alone or with roommates, are single or in a relationship, have children or not -- Swaps has an option for you.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#WhyShouldI" aria-expanded="false" aria-controls="WhyShouldI">
                Why should I Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="WhyShouldI">
                Because paying hundreds of dollars for a dull hotel room or rental apartment is a waste of money and a boring way to travel.
                <br>
                <br>
                Because leaving your home unattended and empty while you're away is a waste of space.
                <br>
                <br>
                And because searching for someone to rent out your apartment while you're away is a waste of time.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#howCanITrust" aria-expanded="false" aria-controls="howCanITrust">
                How can I trust a Swapper if I haven’t ever met them and don’t yet know them?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="howCanITrust">
                First of all, we encourage you to contact and get to know your fellow Swapper before confirming a Swap.
                <br>
                <br>
                But besides that, Swaps has built a review system where Swappers are asked to rate their stays at other fellow Swappers homes. These reviews and ratings serve as an excellent means to judge whether a particular home or particular Swapper is a good fit for you.
                <br>
                <br>
                Furthermore, In order to assure our users and their homes are safe during travels, Swaps asks that you set aside a security deposit before a Swap is confirmed.
                <br>
                <br>
                The security deposit serves as a guarantee to cover for possible property damages or cancellations. In this way, trust is quickly built between Swappers and bad eggs are deterred from using the site.
                <br>
                <br>
                Of course, even in the rare case of damages or unexpected cancellations, you will be compensated. <a ng-click="showSecuritySection()" href="how-it-works#securityDeposit"> Click here for more information about the Swaps security deposit</a>
                <br>
                <br>
                Finally, Swaps is uncompromising when it comes to your security. We place a real emphasis on screening out and detecting malicious or untrustworthy people, and on removing them immediately from the site.
                <br>
                <br>
                We have put in place a strict set of terms and conditions to best ensure that our users stay safe, no matter where they are or who stays at their home.
                <br>
                <br>
                As a matter of policy, any user who violates Swaps’ rules, endangers other Swappers or their belongings, or behaves inappropriately towards other Swappers will be immediately banned from the site. We are happy to say that so far, we have not had to ban anyone, but we are prepared for any case.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#alwaysMutual" aria-expanded="false" aria-controls="alwaysMutual">
                Do Swaps always go both ways?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="alwaysMutual">
                In order to offer Swappers more Swap options, our Swaps Credit System allows you to set up one-way Swaps as well.
                <br>
                <br>
                If you’re traveling, Swap Credits allow you to stay at other Swappers’ homes even if you haven't found someone to stay at yours.
                <br>
                <br>
                If your hosting, Swap Credits allow you to offer your home to other Swappers and accumulate Swap Credits for your next trip.
                <br>
                <br>
                With enough Swap Credits, you can <strong>Swap <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> for free.</a></strong>
                <br>
                <br>
                <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> Click here for more information about Swap Credits.</a>
                <br>
                <br>
                We are constantly working on improving our technology, and in the future, we plan on offering more Swap options as well.
                <br>
                <br>
                Stay tuned for updates, and in the meantime, enjoy Swapping!
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#costMoney" aria-expanded="false" aria-controls="costMoney">
                Does Swaps cost money?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="costMoney">
                Depending on the amount of <strong>Swap Credits</strong> you gain, you can actually <strong>Swap <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> for free!</a></strong>
                <br>
                <br>
                Otherwise, the price per Swap night typically ranges from as low as $6.25 per night to $10.00 per night, saving you literally hundreds of dollars per trip.
                <br>
                <br>
                <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> Click here for more information about Swap Credits.</a>
                <span ng-if="!$root.user"><br>
                <br><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first 2 Swap Credits for free!</span>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#protectedFromDamages" aria-expanded="false" aria-controls="protectedFromDamages">
                How am I protected from damages to my belongings or from unexpected cancellations when I Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="protectedFromDamages">
                In order to assure our users and their homes are safe during travels, Swaps asks that you set aside a security deposit before a swap is confirmed.
                <br>
                <br>
                The security deposit serves as a guarantee to cover for possible property damages or cancellations. In such cases, the harmed individual will be compensated up to double the amount of the security deposit, with half of the compensation coming from the security deposit itself, and the other half from Swaps.
                <br>
                <br>
                <a ng-click="showSecuritySection()" href="how-it-works#securityDeposit"> Click here for more information about the Swaps security deposit</a>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#differentFromAirbnb" aria-expanded="false" aria-controls="differentFromAirbnb">
                How is Swaps different from Airbnb?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="differentFromAirbnb">
                Both Swaps and Airbnb present accommodation solutions for travelers based on sharing-economy principles. However, Airbnb and Swaps approach the issue differently, and are geared toward different audiences.
                <br>
                <br>
                With Airbnb, the process is essentially a monetary transaction similar to booking a hotel room. This means one side sets a price for the value of renting a place, while the other pays for the service. Meanwhile, AirBnb charges both sides for its role in facilitating the transaction. The AirBnb model is best suited for people who are willing to pay a substantial amount for proper accommodation.
                <br>
                <br>
                With Swaps, on the other hand, you will avoid all the usual expenses that come with accommodation during travel. The transaction between Swappers is not a monetary one, but rather a truly sharing-economy based solution with each side providing the other with a convenient and comfortable home.
                 <br>
                <br>
                The Swaps model assures you don’t blow your budget on accommodation during your trips, and helps you keep your home safe while you travel.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#settingUpASwap" aria-expanded="false" aria-controls="settingUpASwap">
            Setting up a Swap
        </div>
        <div class="collapse" id="settingUpASwap">
            <div class="clickable sub-title" data-toggle="collapse" href="#howDoIFind" aria-expanded="false" aria-controls="howDoIFind">
                How do I find a home to Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="howDoIFind">
                On the site’s homepage, you can enter a search for homes in specific locations and dates that match your travel plans.
                <br>
                <br>
                You can be flexible if you’d like as well, and broaden your search options.
                <br>
                <br>
                You can also find the search tab at the top of the site on each page.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#exactDatesAndTravel" aria-expanded="false" aria-controls="exactDatesAndTravel">
                Do I need to enter exact dates and travel destinations in order to Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="exactDatesAndTravel">
                You can be flexible when searching for or when listing a home. For example, you can choose to search for homes anywhere, or only in Rome, Italy.
                <br>
                <br>
                Similarly, when you set Swap dates you can be flexible as well, and you can search for homes available anytime, or on specific dates, or on a number of days within a broader date range. The more flexible you are, the better chance you have of finding a Swap that suits you. <a ng-click="openSwapDates()">Click here to Set Swap Dates</a>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#needToListHome" aria-expanded="false" aria-controls="needToListHome">
                Do I need to list my home in order to set up a Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="needToListHome">
                You don’t need to list your home in order to search Swaps, and are welcome to look around for the perfect place.
                <br>
                <br>
                However, once you have found a home suited for your travel plans, and have requested a Swap, you will be asked to list your home before you can proceed.
                <br>
                <br>
                If you have yet to sign up to the site at this stage, Swaps will ask that you sign up using Facebook, Gmail, or a different email address.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#requestASwap" aria-expanded="false" aria-controls="requestASwap">
                How do I request a Swap once I’ve found a home that interests me?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="requestASwap">
                Once you’ve reached a Swappers home profile page, you will be able to request a Swap using the button on the right hand side of the page labeled <strong>Request Swap.</strong>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#contactAnotherSwapper" aria-expanded="false" aria-controls="contactAnotherSwapper">
                Can I contact another Swapper without first requesting a Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="contactAnotherSwapper">
                Yes, once you’ve reached a Swappers’ home profile page, you will be able to contact the Swapper in the contact section at the bottom of the page.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#swapCredits" aria-expanded="{{showSwapCredits}}" aria-controls="swapCredits">
            Swap Credits
        </div>
        <div class="collapse {{showSwapCredits?'in':''}}" id="swapCredits">
            <div class="clickable sub-title" data-toggle="collapse" href="#whatAreSwapCredits" aria-expanded="false" aria-controls="whatAreSwapCredits">
                What are Swap Credits?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="whatAreSwapCredits">
                Swap nights are acquired with Swap Credits, which any Swapper can gain either by offering their home to other Swappers, or by paying a small fee.
                <br>
                <br>
                With enough Swap Credits, you can <strong>Swap <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> for free!</a></strong>
                <br>
                <br>
                <a data-toggle="collapse" href="#valueSystem" aria-expanded="false" aria-controls="valueSystem"> Click here for more information about Swap Credit prices and how to buy Swap Credits.</a>
                <br>
                <br>
                <span ng-if="!$root.user"><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first 2 Swap Credits for free!</span>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#valueSystem" aria-expanded="false" aria-controls="valueSystem">
                Swap Credit Value System
                <div class="underline"></div>
            </div>
            <span class="collapse" id="valueSystem">
                The value of each Swapper’s home is calculated based on our easy-to-understand Swap Credit Value System.
                <br>
                <br>
                You use Swap Credits when you stay at another Swapper's home and you gain Swap Credits when a Swapper stays at yours.
                <br>
                <br>
                The cost per Swap night is easy to understand as well:
                <br>
                <br>
                <strong>1 Swap Credit = 1 Room for 1 Night</strong>
                <br>
                <br>
                In order for the Swap Credit System to work continually and flawlessly, Swaps takes a small commission of 0.5 Swap Credits per night.
                <br>
                <br>
                Below is a table to help you better understand the Swap Credit Value System:
                <br>
                <br>
                <table class="swap-value">
                    <thead>
                        <th>Rooms</th>
                        <th>Cost</th>
                        <th>Gain</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1 Bedroom
                            </td>
                            <td class="cost">
                                1 Swap Credit (per night)
                            </td>
                            <td class="gain">
                                0.5 <br>Swap Credits (per night)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2 Bedrooms
                            </td>
                            <td class="cost">
                                2 Swap Credits (per night)
                            </td>
                            <td class="gain">
                                 1.5 <br>
                                Swap Credits (per night)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3 Bedrooms
                            </td>
                            <td class="cost">
                                3 Swap Credits (per night)
                            </td>
                            <td class="gain">
                                 2.5 <br>
                                Swap Credits (per night)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4+ Bedrooms
                            </td>
                            <td class="cost">
                                4 Swap Credits (per night)
                            </td>
                            <td class="gain">
                                 3.5 <br>
                                Swap Credits (per night)
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                In other words, if you’re offering Swappers 3 rooms <span class="gain">(gain 2.5 Swap Credits)</span>, and you Swap homes with George who is offering 1 room <span class="cost">(cost 1 Swap Credit)</span>, you will gain a total of <span class="gain">1.5 Swap Credits</span> per night. (<span class="gain">2.5</span> - <span class="cost">1</span> = <span class="gain">1.5</span>)
                <br>
                <br>
                On the other hand, if you’re offering Swappers 1 room <span class="gain">(gain 0.5 a Swap Credit)</span>, and you Swap homes with Sharon who is offering 2 rooms <span class="cost">(cost 2 Swap Credits)</span>, you will pay a total of <span class="cost">1.5 Swap Credits</span> per night (<span class="cost">2</span> - <span class="gain">0.5</span> = <span class="cost">1.5</span>)
                <br>
                <br>
                In one-way Swaps, the host doesn't pay for a Swap since they aren't staying at the other Swapper's home, therefore, the host will only gain credits.
                <br>
                <br>
                So if you’re offering 2 rooms <span class="gain">(gain 1.5 Swap Credits)</span>, and Felix stays at your place, you gain a total of <span class="gain">1.5 Swap Credits</span> per night.
                <br>
                <br>
                By gaining enough Swap Credits, you can <strong>Swap <a ng-click="showCreditsSection()" href="how-it-works#swapCredits"> for free!</a></strong>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#missingCredits" aria-expanded="false" aria-controls="missingCredits">
                Missing some Swap Credits?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="missingCredits">
                You can also buy credits for a small fee. <a href="/account/credits">Buy Now</a>
                <span ng-if="!$root.user">
                    <br>
                    <br>
                    <strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first Swap Credit for free!
                </span>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#homeWorth" aria-expanded="false" aria-controls="homeWorth">
                Why is my home worth that many Swap Credits? What if I think it should be worth more?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="homeWorth">
                We at Swaps believe the Swapping experience should be as accessible and as simple as possible.
                <br>
                <br>
                For this reason, the Swap Credit Value System was designed to be accessible and simple to understand We also believe Swapping is first and foremost a way to help everyone travel more often
                <br>
                <br>
                By assigning simple to understand, fixed values to homes and rooms, the Swap Credit Value System makes travel <strong>more accessible to everyone.</strong>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#swapCreditsCost" aria-expanded="false" aria-controls="swapCreditsCost">
                How much do Swap Credits cost, and how can I buy them?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="swapCreditsCost">
                You can always buy Swap Credits for cheap at the following prices:
                <br>
                <br>
                <ul>
                    <li>
                        <strong>1 Swap Credit</strong> for <strong>$20</strong> <a href="/account/credits">Buy Now</a>
                    </li>
                    <li>
                        <strong>2 Swap Credits</strong> for <strong>$35</strong> ($17.5 per Swap Credit) <a href="/account/credits">Buy Now</a>
                    </li>
                    <li>
                        <strong>3 Swap Credits</strong> for <strong>$45</strong> ($15 per Swap Credit) <a href="/account/credits">Buy Now</a>
                    </li>
                </ul>
                <br>
                <br>
                Additionally, with our premium <span class="gold">Swaps Gold</span> service you will <span class="gold"> get 2 Swap Credits for only $20, every month!</span> That’s just <strong>$10 per Swap Credit, every month!</strong> <a href="/account/credits">Buy Now</a>
                <br>
                <br>
                <span ng-if="!$root.user"><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first Swap Credit for free!
                    <br>
                    <br>
                </span>
                You can always buy more Swap Credits by clicking the Swap Credits icon <div class="coins"></div> on the site’s upper tab.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#howManySwapCredits" aria-expanded="false" aria-controls="howManySwapCredits">
                Can I buy as many Swap Credits as I want?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="howManySwapCredits">
                Yes, you can buy as many Swap Credits as you please. However, you can only use Swap Credits for up to 14 one-way Swap Nights more than the number of nights fellow Swappers have stayed at your home.
                <br>
                <br>
                There is no limit on the amount of Swap Credits you can use for two-way Swap Nights.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#oneWaySwapNights" aria-expanded="false" aria-controls="oneWaySwapNights">
                Why can I only use Swap Credits for up to 14 one-way Swap Nights?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="oneWaySwapNights">
                Swaps is a trust and sharing-economy-based platform that works best when all Swappers help each other out.
                <br>
                <br>
                We understand that sometimes one-way Swaps are the best option, but in order to encourage Swappers to offer their homes to others, we have placed a limit on the amount of one-way Swap Nights you may use Swap Credits for.
                <br>
                <br>
                However, once other Swappers have stayed at your home, you may once again use Swap Credits for one-way Swaps (as long as you use Swap Credits for up to 14 one-way Swap Nights more than the number of nights fellow Swappers stayed at your home).
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#swapCreditsHave" aria-expanded="false" aria-controls="swapCreditsHave">
                How do I know how many Swap Credits I currently have?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="swapCreditsHave">
                You can always find out how many Swap Credits you currently have by looking at the number placed alongside the Swap Credit icon <div class="coins"></div> on the site’s upper tab.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#redeemSwapCredits" aria-expanded="false" aria-controls="redeemSwapCredits">
                Can I redeem Swap Credits for cash?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="redeemSwapCredits">
                No, we currently do not allow Swappers to redeem Swap Credits for cash.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#listingYourHome" aria-expanded="false" aria-controls="listingYourHome">
            Listing Your Home
        </div>
        <div class="collapse" id="listingYourHome">
            <div class="clickable sub-title" data-toggle="collapse" href="#listMyHome" aria-expanded="false" aria-controls="listMyHome">
                How do I list my home on Swaps?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="listMyHome">
                Enter your profile and go to the <strong>My Home</strong> tab. There, you can upload photos and enter information about your home, so other Swappers can easily find your home and suggest a Swap.
                <br>
                <br>
                You can enter Swap dates and destinations using the <strong>Set Swap Dates</strong> label on the site’s upper tab, or in your profile.
                <span ng-if="!$root.user"><br>
                <br><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first 2 Swap Credits for free!</span>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#swapperCanFindMe" aria-expanded="false" aria-controls="swapperCanFindMe">
                I’ve listed my home, does this mean any Swapper can find me and request a Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="swapperCanFindMe">
                Once you’ve listed your home any Swapper will be able to find you and request a Swap.
                <br>
                <br>
                However, if you would like to hide your home from other users’ searches, or to show up only in searches that match your specific dates, simply uncheck the box labeled <strong>“Show my home in all Swap searches”</strong> in your account, under the <strong>My Home</strong> tab.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#informationAndSecurity" aria-expanded="false" aria-controls="informationAndSecurity">
            Personal Information and Security
        </div>
        <div class="collapse" id="informationAndSecurity">
            <div class="clickable sub-title" data-toggle="collapse" href="#personalInformationProtected" aria-expanded="false" aria-controls="personalInformationProtected">
                Is my personal information protected by Swaps?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="personalInformationProtected">
                Aside from public information -- which includes your first name, your occupation, and the information you entered in the <strong>About Me</strong> section in your profile -- no personal data can be seen or accessed by others.
                <br>
                <br>
                This means your email address and exact home address are not visible to others if no Swap has been confirmed.
                <br>
                <br>
                Once a Swap has been confirmed with another Swapper, your full address will be provided to them, so that they can find the home when they arrive.
                <br>
                <br>
                Your email is used only by us in order to keep in touch with you and to send you updates and confirmations about your Swap.
                <br>
                <br>
                Your email address will never be shown to others.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#messagingAnotherSwapper" aria-expanded="false" aria-controls="messagingAnotherSwapper">
                What should I avoid when messaging another Swapper?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="messagingAnotherSwapper">
                All messages between Swappers are sent only via the Swaps messaging feature, and never through other parties.
                <br>
                <br>
                In order to avoid possible scams and keep yourself safe, <strong>never provide credit card information, phone numbers, emails, or other contact information when messaging a fellow Swapper.</strong>
                <br>
                <br>
                Remember, Swaps does not require that money be transferred between Swappers, and <strong>in no case should anyone ask you to transfer them money.</strong>
                <br>
                <br>
                The only time you will be asked for credit card or Paypal information is via our protected service once a Swap has been proposed.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#securityDeposit" aria-expanded="{{showSecurityDeposit}}" aria-controls="securityDeposit">
            Security Deposit
        </div>
        <div class="collapse {{showSecurityDeposit?'in':''}}" id="securityDeposit">
            <div class="clickable sub-title" data-toggle="collapse" href="#whatIsSecurityDeposit" aria-expanded="false" aria-controls="whatIsSecurityDeposit">
                What is the security deposit?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="whatIsSecurityDeposit">
                In order to assure our users and their homes are safe during travels, Swaps asks that you set aside a security deposit to cover for possible property damages or cancellations.
                <br>
                <br>
                In the likely event that no damage was caused to the home when Swapping and no cancellations took place too close to the scheduled Swap date, <strong>the entire security deposit is returned to you</strong>, without the money ever having to leave your account.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#securityDepositLeaveAccount" aria-expanded="false" aria-controls="securityDepositLeaveAccount">
                Wait a minute, you said the security deposit doesn’t leave my account, how can that be?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="securityDepositLeaveAccount">
                The security deposit is not charged to Swaps, but rather a credit limit is designated to Swaps in your bank or Paypal account.
                <br>
                <br>
                The security deposit remains in your account and is not charged at all, except in cases where damages were claimed, or if you cancelled a Swap too close to the scheduled Swap date.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#creditLimit" aria-expanded="false" aria-controls="creditLimit">
                When will the credit limit for the security deposit be lifted?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="creditLimit">
                In the likely event that no damage was caused to the home when Swapping and no cancellations took place too close to the scheduled Swap date, the credit limit for the security deposit will be lifted within 14 days from the end of the Swap.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#setAside" aria-expanded="false" aria-controls="setAside">
                How much money do I have to set aside for the security deposit?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="setAside">
                <ul>
                    <li>
                        You must set aside 75$ deposit per week. You will be covered for up to 150$ in damages or cancellations.
                    </li>
                </ul>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#whoReceives" aria-expanded="false" aria-controls="whoReceives">
                Who receives the security deposit?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="whoReceives">
                The security deposit is not charged to Swaps, but rather a credit limit is designated to Swaps in your bank or paypal account. This means that the security deposit remains in your account and is not charged at all, except in cases where damages were claimed, or if you cancelled a Swap too close to the scheduled Swap date.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#securityDepositCharged" aria-expanded="false" aria-controls="securityDepositCharged">
                Are there any cases where my security deposit will be charged by Swaps?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="securityDepositCharged">
                Yes, Swaps charges some or all of the security deposit in two rare cases -- if damage claims were filed by the Swapper with which you Swapped homes, and if you cancelled a Swap too close to a scheduled Swap date.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#damagesAndCancellations" aria-expanded="false" aria-controls="damagesAndCancellations">
            Damages and Cancellations
        </div>
        <div class="collapse" id="damagesAndCancellations">
            <div class="clickable sub-title" data-toggle="collapse" href="#cancelSwap" aria-expanded="false" aria-controls="cancelSwap">
                Can I cancel a confirmed Swap?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="cancelSwap">
                Yes, you can cancel a confirmed Swap. However, in some cases, you will be required to pay a cancellation fee.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#cancellationFee" aria-expanded="false" aria-controls="cancellationFee">
                What is a cancellation fee?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="cancellationFee">
                Since Swappers who confirmed a Swap are counting on each other, last minute cancellations can cause major inconveniences.
                <br>
                <br>
                Swaps has set up a cancellation fee, which is used as a compensation that protects Swappers and assures that they are never left stranded in case of an unexpected cancellation.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#payCancellationFee" aria-expanded="false" aria-controls="payCancellationFee">
                Under what circumstances will a Swapper have to pay a cancellation fee?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="payCancellationFee">
                We understand that sometimes there are circumstances that are out of control and that the need to cancel a confirmed Swap my sometimes occur.
                <br>
                <br>
                For that reason, we allow the cancellation of a confirmed Swap <strong>up to one week before the date of the Swap</strong>.
                <br>
                <br>
                However, Since Swappers who confirmed a Swap are counting on each other, last minute cancellations can cause major inconveniences. Therefore, if a Swapper cancelled a Swap less than one week ahead of the confirmed Swap date, Swaps will charge the sum of the security deposit from the canceling Swapper. The funds charged by Swaps will be given as compensation to the second Swapper whose Swap has been canceled through no fault of their own, in order to allow the Swapper to pay for alternative accommodation.
            </span>
        </div>
        <div class="clickable secondary-title" data-toggle="collapse" href="#paymentsAndFees" aria-expanded="false" aria-controls="paymentsAndFees">
            Other Payment Information
        </div>
        <div class="collapse" id="paymentsAndFees">
            <div class="clickable sub-title" data-toggle="collapse" href="#payToJoin" aria-expanded="false" aria-controls="payToJoin">
                Do I have to pay to join Swaps?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="payToJoin">
               Of course not, why would you pay for a service you haven’t yet used?
                <br>
                <br>
                Swaps doesn't have any hidden charges or verification fees either.
                <span ng-if="!$root.user"><br>
                <br><strong><span class="swaps" style="outline: none" ng-click="openLogin(true)">Join now</span></strong> and get your first 2 Swap Credits for free!</span>
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#paymentMethods" aria-expanded="false" aria-controls="paymentMethods">
                What payment methods does Swaps accept?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="paymentMethods">
                Swaps accepts payments by credit card or with Paypal.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#cleaningTheApartment" aria-expanded="false" aria-controls="cleaningTheApartment">
                Do I have to pay for cleaning of the apartment?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="cleaningTheApartment">
                No, we don’t charge a cleaning fee and you do not need to pay for such a service.
                <br>
                <br>
                We only ask that our swappers leave a clean home before they depart on their trip, and return the home at which they stayed in the condition they received it.
                <br>
                <br>
                Of course, you can always discuss your cleaning preferences with other Swappers before your trip.
            </span>
            <div class="clickable sub-title" data-toggle="collapse" href="#apartmentBills" aria-expanded="false" aria-controls="apartmentBills">
                Do I need to pay for the apartment's bills during the stay (electricity, water, etc.)?
                <div class="underline"></div>
            </div>
            <span class="collapse" id="apartmentBills">
                No, each Swapper pays for their own home’s fees.

            </span>
        </div>
    </div>
</div>