<div class="home-page">
    <div class="section main-section" id="findSwap">
        <div class="title-container">
            <div class="title-swaps" style="background-image: url('../images/logotype.svg')"></div>
            <div class="points-container">
                Home is Wherever.
            </div>
            <div class="points-container-border"></div>
            <div class="find-swap">
                <!--<div class="start-swapping">Start Swapping</div>-->
                <div class="row search-area">
                    <div class="search-field left col-sm-12 col-xs-12">
                        <label class="where-label" for="searchCity">Where would you like to swap homes?</label>
                        <div class="search-input">
                            <input type="text" class="form-control" placeholder="Anywhere" id="searchCity" ng-model="search.where" autocomplete city="true" auto-search="autoSearch()">
                            <div class="icon icon-infocenter"></div>
                            <a href="/travelers/{{search.where}}?dates={{search.when}}&guests={{search.guests}}">
                                <button class="search" ng-click="searchSwap($event)">Search</button>
                            </a>
                        </div>
                    </div>
                    <!--<div class="search-field col-sm-6 col-xs-12 hidden-xs">-->
                    <!--<label for="searchDate">When</label>-->
                    <!--<div class="row flex">-->
                    <!--<div class="col-xs-12 {{rangeLabel?'col-sm-7':'col-sm-12'}}">-->
                    <!--<input type="text" class="form-control" placeholder="Anytime" id="searchDate" name="searchDate" ng-model="search.date" swap-dates="search" locale-format="localeFormat" ng-change="changeDates()" model-format="modelFormat" find-travel="false" datepicker readonly="true">-->
                    <!--<div class="glyphicon glyphicon-remove" ng-click="removeDates()" ng-if="search.date"></div>-->
                    <!--<span class="flexible-departure">{{rangeLabel === 'Weekends'?'Next 4 weekends':rangeLabel === 'Within Range'?'Within next 2 months':rangeLabel === 'Dates' && search.startRange != 0 ?data.flexibleDates[search.startRange].value:''}}</span>-->
                    <!--<span class="flexible-return">{{rangeLabel === 'Dates' && search.endRange != 0?data.flexibleDates[search.endRange].value:''}}</span>-->
                    <!--</div>-->
                    <!--<div class="{{rangeLabel?'col-xs-12 col-sm-5':'col-sm-0'}} xs-full-width">-->
                    <!--<div class="dropdown">-->
                    <!--<div class="flexible-dates" data-toggle="dropdown" ng-if="rangeLabel">-->
                    <!--{{rangeLabel === 'Weekends'? data.weekendStart[search.startRange].value +'-'+data.weekendEnd[search.endRange].value :rangeLabel === 'Dates'?search.startRange != 0 || search.endRange != 0?'Flexible':'Exact dates':rangeLabel === 'Within Range'?(search.startRange != search.endRange?search.startRange +'-'+ search.endRange:search.startRange) + ' Nights': ''}}-->
                    <!--<span class="glyphicon glyphicon-chevron-down"></span>-->
                    <!--</div>-->
                    <!--<div class="dropdown-menu" ng-if="rangeLabel">-->
                    <!--<form name="rangeForm" class="range-wr" novalidate>-->
                    <!--<div ng-if="rangeLabel === 'Weekends'" class="flex">-->
                    <!--<div class="flex flex-row">-->
                    <!--<label class="flexible-label">Departure: </label>-->
                    <!--<select ng-model="search.startRange" class="form-control">-->
                    <!--<option ng-repeat="x in data.weekendStart" value="{{x.id}}">{{x.value}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="flex flex-row">-->
                    <!--<label class="flexible-label">Return: </label>-->
                    <!--<select ng-model="search.endRange" class="form-control">-->
                    <!--<option ng-repeat="x in data.weekendEnd" value="{{x.id}}">{{x.value}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div ng-if="rangeLabel === 'Dates'" class="flex">-->
                    <!--<div class="flex flex-row">-->
                    <!--<label class="flexible-label">Departure: </label>-->

                    <!--<select ng-model="search.startRange" class="form-control">-->
                    <!--<option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="flex flex-row">-->
                    <!--<label class="flexible-label">Return: </label>-->
                    <!--<select ng-model="search.endRange" class="form-control">-->
                    <!--<option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div ng-if="rangeLabel === 'Within Range'" class="duration-wr">-->
                    <!--<label class="flexible-label">Duration: </label>-->
                    <!--<input type="text" class="form-control" placeholder="6-8" name="durationRange" ng-model="search.duration" ng-change="changeRange()">-->
                    <!--<span class="nights">Nights</span>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Anytime" id="searchDate" name="searchDate" ng-focus="openDate()" ng-model="search.date">&ndash;&gt;-->
                    <!--<div class="icon icon-calender"></div>-->
                    <!--</div>-->
                    <!--<div class="search-field right col-sm-2 col-xs-12 ">-->
                        <!--&lt;!&ndash;<label for="guests">Travelers</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="guests-search">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="number" class="form-control guests" id="guests" placeholder="2" ng-model="search.guests" min="1" max="8">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<a href="/travelers/{{search.where}}?dates={{search.when}}&guests={{search.guests}}">-->
                            <!--<button class="search hidden-xs" ng-click="searchSwap($event)">Search</button>-->
                        <!--</a>-->
                        <!--&lt;!&ndash;<div class="icon icon-man-small"></div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="no-padding col-sm-4 col-xs-12 visible-xs">-->
                        <!--<button class="search" ng-click="searchSwap($event)">Search</button>-->
                    <!--</div>-->
                </div>
            </div>
        <!--<div class="button-div container" scroll-to-top>-->
            <!--<span class="icon icon-brownerrow"-->
                  <!--style="cursor: pointer"></span>-->
        <!--</div>-->
        </div>
    </div>
    <div class="section featured-homes what-is">
        <div class="what-is-swaps" scroll-animate>
            <div class="what-is-swaps-gradient">
                <div class="row full-width">
                    <div class="col-sm-5 col-xs-0 full-height hidden-xs">
                        <!--<div class="photo">-->
                        <!--</div>-->
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="explanation-text">
                            <div class="line line-1">
                                Swaps is about creating a home swapping solution for travelers around the world.
                            </div>
                            <div class="line line-2">
                                Our platform offers wanderers at heart an easy, safe, and cheap way to live their dreams and travel anywhere.
                            </div>
                            <div class="line line-3">
                                It’s easy - You stay at their home, they stay at yours.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section featured-homes" id="featuredHomes">
        <div class="title swappers">
            <span scroll-on-click ng-if="swapperTitle == 'city'">Swappers looking for a place in {{userCity}}</span>
            <span scroll-on-click ng-if="swapperTitle == 'featured'">Meet our top rated Swappers</span>
            <span scroll-on-click ng-if="swapperTitle == 'new'">Meet some new Swappers</span>
            <div class="swappers-border" scroll-animate></div>
        </div>
        <div class="travelers-list">
            <div class="mg-0 row">
                <div class= "traveler-col col-sm-4 col-xs-12 {{'traveler'+$index}}" ng-repeat="traveler in travelers |limitTo : 3" id="{{traveler._id}}" scroll-animate>
                    <!--<div class="push-pin icon {{$index==0?'icon-pin-green':$index==1?'icon-pin-blue':$index==2?'icon-pin-red':''}}"></div>-->
                    <swapper-home traveler="traveler"></swapper-home>
                </div>
            </div>
        </div>
    </div>
    <div class="how-it-works">
        <div class="how-it-works-cover" bind-scroll-opacity>
            <div class="inner-section row" scroll-animate>
                <div class="title">How does it work?</div>
                <div class="sub-title">Swapping homes is easy, secure, and cheap</div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="join">
                        <div class="description-icon icon icon-house" scroll-animate></div>
                    </div>
                    <div class="ticket-title">It's Easy!</div>
                    <div class="how-inner-sentences first" scroll-animate>
                        List your home, find other Swappers or enter your travel plans so they can find you, and set up a perfect home swap
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="join">
                        <div class="description-icon icon icon-keys" scroll-animate></div>
                    </div>
                    <div class="ticket-title">It's Secure!</div>
                    <div class="how-inner-sentences second" scroll-animate>
                        Your trip and your home are important to us, and we offer unique plans to cover you in cases of property damages or cancellations
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="join">
                        <div class="description-icon icon icon-money" scroll-animate></div>
                    </div>
                    <div class="ticket-title">It's Cheap!</div>
                    <div class="how-inner-sentences third" scroll-animate>Save money for the important things in life and start experiencing the world. Signing up is completely free, and your first Swap is on us!</div>
                </div>
                <div class="col-xs-12" >
                    <button class="start-button" ng-click="searchSwap($event)" ng-if="user._id">Start</button>
                    <button class="start-button" ng-click="openLogin(true)" ng-if="!user._id">Join</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section featured-homes" id="instagram">
        <div class="title swappers">
            <span scroll-on-click>Check us out on Instagram</span>
            <div class="swappers-border" scroll-animate></div>
        </div>
        <div class="mg-0 row instagram-row">
            <div class= "instagram-col col-sm-3 col-xs-12" ng-repeat="image in [0,1,2,3] " ng-click="link('instagram')">
                <div class="instagram-image {{'instagram-image'+$index}}" style="background-image: url({{featured[image]}})" scroll-animate>

                </div>
            </div>
        </div>
    </div>
    <!--<div class="title swappers" id="featuredDestinations">-->
        <!--<span scroll-on-click>Featured Destinations</span>-->
        <!--<div class="swappers-border" scroll-animate></div>-->
    <!--</div>-->
    <!--<div class="section featured-destinations" ng-click="searchSwap($event)">-->
        <!--<div class="columns col-30">-->
            <!--<div class="city he-60"-->
                 <!--ng-mouseout="changeImageBack(0)" style="background-image: url({{featured[0]}})">-->

                <!--<div class="city-text">{{cities[0].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-40"-->
                 <!--ng-mouseout="changeImageBack(1)" style="background-image: url({{featured[1]}})">-->
                <!--<div class="city-text">{{cities[1].name}}</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="columns col-70">-->
            <!--<div class="city he-40"-->
                 <!--ng-mouseout="changeImageBack(2)" style="background-image: url({{featured[2]}})">-->
                <!--<div class="city-text">{{cities[2].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-60 width-60 "-->
                 <!--ng-mouseout="changeImageBack(3)" style="background-image: url({{featured[3]}})">-->
                <!--<div class="city-text">{{cities[3].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-60 width-40"-->
                 <!--ng-mouseout="changeImageBack(4)" style="background-image: url({{featured[4]}})">-->
                <!--<div class="city-text">{{cities[4].name}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="join-now" ng-if="false">
        <div class="bg-image">
            <div class="bottom-title">What are you waiting for? Start Swapping today!</div>
            <div class="join-buttons">
                <div class="row social-join">
                    <div class="col-sm-4 col-sx-3">

                    </div>
                    <div class="col-sm-4 col-sx-6">
                        <div class="facebook-signin" ng-click="openLogin(true)">
                            <button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Join with Facebook</button>
                        </div>
                        <div class="google">

                        </div>
                    </div>
                    <div class="col-sm-4 col-sx-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
