<div class="home-page">
    <div class="section main-section">
        <div class="main-section-gradient" id="findSwap">
            <div class="title-container">
                <div class="title-swaps {{alreadyEntered?'':'animate'}}" style="background-image: url('../images/logotype.svg')"></div>
                <div class="points-container {{alreadyEntered?'':'animate'}}">
                    Home is Wherever.
                </div>
                <div class="points-container-border {{alreadyEntered?'':'animate'}}"></div>
                <div class="find-swap">
                    <!--<div class="start-swapping">Start Swapping</div>-->
                    <div class="row search-area" sticky-header>
                        <div class="search-field left col-sm-12 col-xs-12">
                            <label class="where-label {{alreadyEntered?'':'animate'}}" for="searchCity">Don’t overthink, travel. <br>Where do you want to go?
                            </label>
                            <div class="search-input {{alreadyEntered?'':'animate'}}">
                                <input type="text" class="form-control" placeholder="Anywhere" id="searchCity" ng-model="search.where" autocomplete city="true" auto-search="autoSearch()">
                                <div class="icon icon-infocenter"></div>
                                <div class="icon icon-infocenter"></div>
                                <a href="/travelers/{{search.where}}?dates={{search.when}}&guests={{search.guests}}">
                                    <button class="search" ng-click="searchSwap($event)">Search</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-it-works">
        <div class="how-it-works-cover">
            <div class="inner-section row">
                <div class="sub-title">Swapping homes is easy, secure, and cheap</div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">Use Your Home to Travel More</div>
                    <div class="join">
                        <div class="description-icon icon icon-house" scroll-animate></div>
                    </div>
                    <div class="how-inner-sentences first" scroll-animate>
                        Swapping is simple. You stay at their home when you travel, they stay at yours while your away
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">Get Swap Credits for Your Next Trip</div>
                    <div class="join">
                        <div class="description-icon icon icon-money" scroll-animate></div>
                    </div>
                    <div class="how-inner-sentences second" scroll-animate>
                        Leaving home for a while? Let other Swappers stay at your place and gain Swap Credits for free.
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">By Far the Best Way to Travel</div>
                    <div class="join">
                        <div class="description-icon icon icon-matos" scroll-animate></div>
                    </div>
                    <div class="how-inner-sentences third" scroll-animate>
                        Swapping homes and using Swap Credits makes traveling cheaper and easier than ever before.
                    </div>
                </div>
                <div class="col-xs-12" >
                    <button class="start-button" ng-click="searchSwap($event)" ng-if="user._id">Start</button>
                    <button class="start-button" ng-click="openLogin(true)" ng-if="!user._id">Join</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section featured-homes" id="featuredHomes">
        <div class="title swappers">
            <span scroll-on-click ng-if="swapperTitle == 'city'">Swappers looking for a place in {{userCity}}</span>
            <span scroll-on-click ng-if="swapperTitle == 'featured'">Meet our top rated Swappers</span>
            <span scroll-on-click ng-if="swapperTitle == 'new'">Meet some new Swappers</span>
            <div class="swappers-border" scroll-animate></div>
        </div>
        <div class="travelers-list">
            <div class="mg-0 row">
                <div class= "traveler-col col-sm-4 col-xs-12 {{'traveler'+$index}}" ng-repeat="traveler in travelers |limitTo : 3" id="{{traveler._id}}" scroll-animate>
                    <!--<div class="push-pin icon {{$index==0?'icon-pin-green':$index==1?'icon-pin-blue':$index==2?'icon-pin-red':''}}"></div>-->
                    <swapper-home traveler="traveler" lazy-load></swapper-home>
                </div>
            </div>
        </div>
        <div class="">
            <a href="/travelers">
                <div class="view-all" ng-click="go('travelers')" scroll-animate>View All</div>
            </a>
        </div>
    </div>
    <div class="section featured-homes what-is">
        <div class="what-is-swaps" scroll-animate>
            <div class="title">Swap Credits</div>
            <div class="sub-title">We’ve designed the Swap Credits System to be as straightforward as possible</div>
            <div class="swappers-border" scroll-animate></div>
            <div class="what-is-swaps-gradient">
                <div class="beach-girl hidden-xs" img="../../images/static/beach-girl.png" lazy-load-image=""></div>
                <div class="row full-width">
                    <div class="col-sm-4 col-xs-0 full-height hidden-xs">
                        <!--<div class="photo">-->
                        <!--</div>-->
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="explanation-text">
                            <h1 class="line line-1">
                                You use Swap Credits when you stay at another Swapper's home and gain Swap Credits when a Swapper stays at yours.
                            </h1>
                            <h1 class="line line-2">
                                The value of each home is calculated based on our easy-to-understand <a class="link" href="/how-it-works#swapCredits" target="_blank"> Swap Credit System.</a>
                            </h1>
                            <h1 class="line line-3">
                                By gaining enough Swap Credits, you can Swap for free!
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="instagram">
        <div class="title swappers">
            <span scroll-on-click>Check us out on Instagram</span>
            <div class="swappers-border" scroll-animate></div>
        </div>
        <div class="mg-0 row instagram-row">
            <div class= "instagram-col col-sm-3 col-xs-12" ng-repeat="image in [0,1,2,3] " ng-click="link('instagram')">
                <div class="instagram-image {{'instagram-image'+$index}}" img="{{featured[image]}}" scroll-animate lazy-load-image="">

                </div>
            </div>
        </div>
    </div>
    <!--<div class="title swappers" id="featuredDestinations">-->
        <!--<span scroll-on-click>Featured Destinations</span>-->
        <!--<div class="swappers-border" scroll-animate></div>-->
    <!--</div>-->
    <!--<div class="section featured-destinations" ng-click="searchSwap($event)">-->
        <!--<div class="columns col-30">-->
            <!--<div class="city he-60"-->
                 <!--ng-mouseout="changeImageBack(0)" style="background-image: url({{featured[0]}})">-->

                <!--<div class="city-text">{{cities[0].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-40"-->
                 <!--ng-mouseout="changeImageBack(1)" style="background-image: url({{featured[1]}})">-->
                <!--<div class="city-text">{{cities[1].name}}</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="columns col-70">-->
            <!--<div class="city he-40"-->
                 <!--ng-mouseout="changeImageBack(2)" style="background-image: url({{featured[2]}})">-->
                <!--<div class="city-text">{{cities[2].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-60 width-60 "-->
                 <!--ng-mouseout="changeImageBack(3)" style="background-image: url({{featured[3]}})">-->
                <!--<div class="city-text">{{cities[3].name}}</div>-->
            <!--</div>-->
            <!--<div class="city he-60 width-40"-->
                 <!--ng-mouseout="changeImageBack(4)" style="background-image: url({{featured[4]}})">-->
                <!--<div class="city-text">{{cities[4].name}}</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="join-now" ng-if="false">
        <div class="bg-image">
            <div class="bottom-title">What are you waiting for? Start Swapping today!</div>
            <div class="join-buttons">
                <div class="row social-join">
                    <div class="col-sm-4 col-sx-3">

                    </div>
                    <div class="col-sm-4 col-sx-6">
                        <div class="facebook-signin" ng-click="openLogin(true)">
                            <button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Join with Facebook</button>
                        </div>
                        <div class="google">

                        </div>
                    </div>
                    <div class="col-sm-4 col-sx-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
