<div class="information-page">
    <div class="sub-title">
        How Does Swaps Work?
        <div class="underline"></div>
    </div>
    <div class="text">
        <span class="swaps">Swaps</span> allows you to easily and securely exchange homes with people all over the world. Start swapping today and save a ton of money on your travels!
        <br>
        <br>
        With <span class="swaps">Swaps</span>, you can easily enter information about your home, the dates on which you plan to travel, and the destination where you want to stay during your trip. <span class="swaps">Swaps</span> then finds and connects you with Swappers from different cities who have entered parallel information, so you can enjoy a home exchange specifically tailored to your needs.
        <br>
        <br>
        As part of the swap, <span class="swaps">Swappers</span> are required to set aside a security deposit to cover for possible property damages or cancelations. But don’t worry, <strong><span class="swaps">Swaps</span> will return the entire security deposit to you at the end of your trip</strong>, provided that no cancellations took place and no damage claims were filed. In fact, the security deposit never even leaves your bank account, so you can rest easy.
        <br>
        <br>
        <a ng-click="go('faq#securityDeposit')">Click here for more information about the security deposit.</a>
        <strong><span class="swaps">Swaps</span> has no annual membership fees or complicated points systems - you pay a tiny amount, and only for actual nights swapped</strong>. For the price of a cheap cup of coffee, Swaps will find you a wonderful home wherever you go, cover for potential damages and unexpected cancellations, protect you from shady users, and give you the peace of mind you need when you travel.        <br>
        <br>
        <br>
        <span class="swaps">Swaps</span> strives to be an important and pleasant part of your experiences during your travels. We’re always ready to help to help out.
        <strong>Still have a question?</strong>
        <a ng-click="go('faq')">Check out our FAQ page</a>, or contact us at <a href="mailto:info@swapshome.com">info@Swapshome.com</a>.
    </div>

</div>