<div class="profile-page">
    <div class="appt-slider-and-profpic container-fluid">
        <div class="row">
            <div class="col-sm-9 col-xs-12 no-padding">
                <div class="photos">
                    <div class="gallery">
                        <ng-image-gallery
                                images="images"
                                methods="methods"
                                img-anim="slide"
                        ></ng-image-gallery>
                    </div>
                    <div class="main-photo" style="background-image:url('{{profile.photos[0]}}')"
                         ng-click="openGallery()">
                    </div>
                </div>
            </div>
            <div class="profile-description col-sm-3 col-xs-12 fix-scroll hidden-xs">
                <div class="profile-name">
                    <div class="circle-profile-pic" style="background-image:url('{{profile.image}}')"></div>
                    <div class="name-occupation">
                        <div class="name">
                            {{profile.firstName}}
                        </div>
                        <div class="occupation">
                            <span ng-if="profile.birthday">{{age}}</span> <span ng-if="profile.occupation">• {{profile.occupation}}</span>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="swap" ng-if="user._id != profile._id">
                    <div class="favorite">
                        <div class="btn btn-primary btn-swap share-btn" ng-if="!isFavorite()" ng-click="addToFavorites()">
                            <div class="icon icon-heart-white sharing"></div>
                            Save
                        </div>
                        <div class="btn btn-primary btn-swap share-btn" ng-if="isFavorite()" ng-click="removeFromFavorites()">
                            <div class="icon icon-heart-white sharing"></div>
                            Unsave
                        </div>
                        <div class="btn btn-primary btn-swap share-btn" ng-click="share()">
                            <div class="icon icon-envelope-white sharing"></div>
                            Share
                        </div>
                    </div>

                    <!--<div class="deposit">Security Deposit Plan - {{data.securityDeposit[profile.deposit].displayName}}-->
                    <!--</div>-->
                    <hr>
                    <div class="swap-info">
                        <div class="search-field">
                            <label for="swapDates">When</label>
                            <input type="text" class="form-control dates {{noDates?'error':''}}" id="swapDates" name="swapDates" ng-model="swap.dates" swap-dates="swap" user="user" profile="profile"
                                   user-city="userCity" locale-format="localeFormat" model-format="modelFormat" can-send-request="canSendRequest" find-travel="true"
                                   not-swapping="notSwapping" data="data" ng-disabled="requestSent" disabled="{{requestSent}}" datepicker ng-if="ready" ng-cloak>
                        </div>
                        <div class="search-field">
                            <label for="guests">Travelers</label>
                            <div class="guests-search">
                                <input type="number" class="form-control guests dates {{!swap.guests || swap.guests < 1?'error':''}}" id="guests" ng-model="swap.guests"
                                       min="1" max="8" ng-disabled="requestSent" disabled="{{requestSent}}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="req-swap">
                        <input type="button" class="btn btn-primary btn-swap" value="Request Swap"
                               ng-click="openRequest()" ng-hide="requestSent">
                        <div class="req-sent" ng-show="requestSent">
                            Request Sent
                        </div>
                        <div class="empty-space">
                        </div>
                        <input type="button" class="btn btn-primary btn-swap invert-btn" value="Send Message"
                               ng-click="openMessage()" ng-hide="messageSent">
                        <div class="req-sent" ng-show="messageSent">
                            Message Sent
                        </div>
                    </div>
                    <!--<div class="not-charged" ng-hide="requestSent">-->
                        <!--You won't be charged yet-->
                    <!--</div>-->
                </div>
                <div class="" ng-if="user._id == profile._id">
                    <a href="/account/edit">
                        <input type="button" class="btn btn-primary btn-swap" value="Edit Profile" >
                    </a>
                </div>
                <div class="end-of-profile"></div>
            </div>
            <div class="visible-xs">
                <div class="mobile-request">
                    <input type="button" class="btn btn-primary btn-swap" value="Swap"
                           ng-click="openRequest()">
                </div>
            </div>
        </div>
    </div>
    <div class="main-section container-fluid">
        <div class="row">
            <!--Left section-->
            <div class="appt-slider-and-profpic visible-xs">
                <div class="profile-description">
                    <div class="profile-name">
                        <div class="circle-profile-pic" style="background-image:url('{{profile.image}}')"></div>
                        <div class="name-occupation">
                            <div class="name">
                                {{profile.firstName}}
                            </div>
                            <div class="occupation">
                                <span ng-if="profile.birthday">{{age}}</span> <span ng-if="profile.occupation">• {{profile.occupation}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swap">
                        <div class="favorite">
                            <div class="btn btn-primary btn-swap share-btn" ng-if="!isFavorite()" ng-click="addToFavorites()">
                                <div class="icon icon-heart-white sharing"></div>
                                Save
                            </div>
                            <div class="btn btn-primary btn-swap share-btn" ng-if="isFavorite()" ng-click="removeFromFavorites()">
                                <div class="icon icon-heart-white sharing"></div>
                                Unsave
                            </div>
                            <div class="btn btn-primary btn-swap share-btn" ng-click="share()">
                                <div class="icon icon-envelope-white sharing"></div>
                                Share
                            </div>
                        </div>

                        <!--<div class="deposit">Payment Plan - {{data.securityDeposit[profile.deposit].displayName}}-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="apt-description col-sm-9 col-xs-12">
                <div class="caption-upto-separator">
                    <div class="row">
                        <div class="col-sm-2 col-xs-0">

                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="under-title">
                                {{data.roomType[profile.apptInfo.roomType].displayName}} • {{profile.city}}
                            </div>
                            <div class="description-title">
                                {{profile.apptInfo.title}}
                            </div>
                            <div class="rating" ng-if="profile.reviews.length > 0">
                                <span class="icon icon-star-large"></span>
                                <span class="icon {{profile.rating > 1?profile.rating < 2?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 2?profile.rating < 3?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 3?profile.rating < 4?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 4?profile.rating < 5?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <!--<span class="number-reviews">{{profile.comments.length}}</span>-->
                            </div>
                            <div class="rating" ng-if="profile.reviews.length == 0">
                                <span class="new-appt" ng-if="profile.reviews.length == 0">New!</span>
                            </div>
                            <div class="simple-apt-info">
                                <div class="home-info">
                                    <div class="icon icon-man hidden-xs"></div>
                                    <div class="icon icon-man-small visible-xs"></div>
                                    <div class="swapper-count simple-apt-info-content">{{profile.apptInfo.guests}}
                                        {{profile.apptInfo.guests > 1?'Guests':'Guest'}}
                                    </div>
                                </div>
                                <div class="home-info">
                                    <div class="icon icon-door hidden-xs"></div>
                                    <div class="icon icon-door-small visible-xs"></div>
                                    <div class="bed-count simple-apt-info-content">{{profile.apptInfo.rooms}}
                                        {{profile.apptInfo.rooms > 1?'Rooms':'Room'}}
                                    </div>
                                </div>
                                <!--The following line is to fix the bootstrap grid on small screens-->
                                <div class="clearfix visible-xs"></div>
                                <div class="home-info">
                                    <div class="icon icon-bed hidden-xs"></div>
                                    <div class="icon icon-bed-small visible-xs"></div>
                                    <div class="bath-count simple-apt-info-content">{{profile.apptInfo.beds}}
                                        {{profile.apptInfo.beds > 1?'Beds':'Bed'}}
                                    </div>
                                </div>
                                <div class="home-info">
                                    <div class="icon icon-duck hidden-xs"></div>
                                    <div class="icon icon-duck-small visible-xs"></div>
                                    <div class="room-count simple-apt-info-content">{{profile.apptInfo.baths}}
                                        {{profile.apptInfo.baths > 1?'Baths':'Bath'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="">
                    <div class="row" ng-if="profile.apptInfo.about">
                        <!--The following line is to fix the bootstrap grid on small screens-->
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-2 col-xs-22 left-side-description">About My Home</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">{{profile.apptInfo.about}}
                        </div>
                    </div>
                    <!--<div class="read-more" ng-click="readMore(showMore, 'aboutHome')">-->
                    <!--<div class="icon-plus read-more-button" ></div>-->
                    <!--<div class="plain-text read-more-button">{{showMore.aboutHome.active?'Read Less':'Read More'}}</div>-->
                    <!--</div>-->
                    <div class="row"  ng-if="profile.aboutMe">
                        <div class="col-sm-2 col-xs-12 left-side-description">About me</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">
                            {{profile.aboutMe}}
                        </div>
                    </div>
                    <!--<div class="read-more" ng-click="readMore(showMore, 'aboutMe')">-->
                    <!--<div class="icon-plus read-more-button" ></div>-->
                    <!--<div class="plain-text read-more-button" >{{showMore.aboutMe.active?'Read Less':'Read More'}}</div>-->
                    <!--</div>-->

                    <hr ng-if="profile.aboutMe || profile.apptInfo.about">
                    <div class="row">
                        <div class="col-sm-2 col-xs-12 left-side-description">Basic amenities</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration">
                            <checkbox items="data.amenities" model="profile.apptInfo.amenities"
                                      readonly="true"></checkbox>
                        </div>
                    </div>

                    <hr>

                    <div class="row"  ng-if="user && profile.travelingInformation.length > 0">
                        <div class="col-sm-2 col-xs-12 left-side-description">Travel dates</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">
                            <div class="travel-info row" ng-repeat="info in profile.travelingInformation" ng-if="(info.destination && info.destination.country == user.country) || !info.destination">
                                <div class="travel-city col-sm-5 col-xs-12">
                                    {{info.destination?info.destination.city?info.destination.city:info.destination.country:'Anywhere'}}
                                </div>
                                <div class="travel-dates col-sm-7 col-xs-12">
                                    <div ng-if="info.departure">
                                        <div class="travel-date">{{info.departure | date: 'MMM d'}} - {{info.returnDate | date: 'MMM d'}}</div>
                                    </div>
                                    <div ng-if="!info.departure">
                                        <div class="travel-date">Anytime</div>
                                    </div>
                                    <div class="icon icon-calender" ng-model="filter.date" read-only="true" start="info.departure" end="info.returnDate" swap-dates="filter" locale-format="localeFormat" model-format="modelFormat" find-travel="false" datepicker></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr ng-if="user && profile.travelingInformation.length > 0">

                    <!--</div>-->
                    <div class="map-section">
                        <div class="row">
                            <div class="col-sm-2 col-xs-4 left-side-description">Location</div>
                            <div class="col-sm-4 col-xs-8">
                                <div class="country-and-city">{{profile.country}} • {{profile.city}}</div>
                                <br>
                                <div class="address">{{profile.address.substr(0, profile.address.indexOf(','));}}</div>
                                <div class="address">{{profile.address}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-0"></div>
                            <div class="col-sm-8 col-xs-12 map-fragment">
                                <div class="map" id="cityMap"></div>
                            </div>
                        </div>
                        <!--END OF MAP SECTION-->
                    </div>

                    <div ng-if="profile.apptInfo.rules.length > 0">
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12 left-side-description">House Rules</div>
                            <div class="col-sm-8 col-xs-12 right-side-elaboration">
                                <checkbox items="data.houseRules" model="profile.apptInfo.rules"
                                          readonly="true" hide-not-included="true"></checkbox>
                            </div>
                        </div>
                    </div>

                    <div ng-if="profile.apptInfo.moreInfo && profile.apptInfo.moreInfo != ''">
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 col-xs-22 left-side-description">More Information</div>
                            <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">{{profile.apptInfo.moreInfo}}
                            </div>
                        </div>
                    </div>

                    <div class="comments-show" ng-if="profile.reviews.length > 0">
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12  left-side-description">
                                Reviews
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <div class="comment" ng-repeat="commenter in profile.reviews | limitTo:3">
                                    <review-elm is-profile="true" commenter="commenter"></review-elm>
                                    <hr style="clear: both;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
