<div class="profile-page">

	<div class="appt-slider-and-profpic container-fluid">

		<div class="row">

			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<div class="photos">
					<div class="gallery">
						<ng-image-gallery
								images="images"
								methods="methods"
								img-anim="slide"
						></ng-image-gallery>
					</div>
					<div class="main-photo" style="background-image:url('{{profile.photos[0]}}')"
						 ng-click="openGallery()">
					</div>


				</div>

			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

				<div class="photos prof-pic" style="background-image:url('{{profile.image}}')">
				</div>

			</div>

		</div>

	</div>


	<div class="main-section container-fluid">

		<div class="row">

			<!--Left section-->

			<div class="apt-description col-lg-9 col-md-9 col-sm-9 col-xs-6">

				<div class="caption-upto-separator">

					<div class="description-title">
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}
						{{profile.apptInfo.description}}

					</div>
					<div class="under-title">
						{{profile.apptInfo.room}} {{traveler.apptInfo.property != null ? "in " + traveler.apptInfo.property : ""}} • {{profile.city}}
					</div>

					<div class="simple-apt-info">
						<div class="col-md-3 col-xs-6">
							<div class="icon icon-man simple-apt-info-content"></div>
							<div class="swapper-count simple-apt-info-content">{{profile.apptInfo.guests}} swappers</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="icon icon-bed simple-apt-info-content"></div>
							<div class="bed-count simple-apt-info-content">6 beds</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="icon icon-duck simple-apt-info-content"></div>
							<div class="bath-count simple-apt-info-content">1 bath</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="icon icon-door simple-apt-info-content"></div>
							<div class="room-count simple-apt-info-content">3 bedrooms</div>
						</div>


					</div>

				</div>

				<div class="separator"></div>

				<div class="container-fluid">
					<div class="row">

						<div class="col-xs-2 left-side-description">General</div>
						<div class="col-xs-10 right-side-elaboration">{{profile.apptInfo.about}}</div>

					</div>
					<br><br><br>
					<div class="row">
						<div class="col-xs-2 left-side-description">Location & Space</div>
						<div class="col-xs-10 right-side-elaboration">
							{{profile.apptInfo.about}}
							{{profile.apptInfo.about}}
							{{profile.apptInfo.about}}
							{{profile.apptInfo.about}}
						</div>
					</div>

					<br><br>

					<div class="row">
						<div class="icon-plus"></div>
						<div class="plain-text">Read more</div>
					</div>

					<div class="separator" style="margin: 4% 0;"></div>



					<div class="row">
						<div class="col-xs-2 left-side-description">Basic amenities</div>
						<div class="col-xs-4 right-side-elaboration">


                            <div class="row" ng-repeat="(keyname, amenity) in basicAmenities">
                                <div class="icon-plus-checkbox">
                                    <div class="icon {{''+keyname}}-icon"></div>
                                    <div class="description-text">{{amenity}}</div>
                                    <div class="check-container">
                                        <div class="checkbox-div" ng-show="profile.apptInfo.{{keyname}}" style="background-image: url('../images/icons/V.png')"></div>
                                        <div class="checkbox-div" ng-show="!profile.apptInfo.{{keyname}}" style="background-image: url('../images/icons/X.png')"></div>
                                    </div>
                                </div>
                            </div>


						</div>
						<div class="col-xs-2 left-side-description facilities">House facilities</div>
						<div class="col-xs-4 right-side-elaboration">


                            <div class="row" ng-repeat="(keyname, amenity) in houseFacilities | limitTo: 2">
                                <div class="icon-plus-checkbox">
                                    <div class="icon {{''+keyname}}-icon"></div>
                                    <div class="description-text">{{amenity}}</div>
                                    <div class="check-container">
                                        <div class="checkbox-div" ng-show="profile.apptInfo.{{keyname}}" style="background-image: url('../images/icons/V.png')"></div>
                                        <div class="checkbox-div" ng-show="!profile.apptInfo.{{keyname}}" style="background-image: url('../images/icons/X.png')"></div>
                                    </div>
                                </div>
                            </div>

						</div>

					</div>

					<div class="separator" style="margin: 4% 0;"></div>


                    <div class="container-fluid comments-container">
                        <div class="row">
                            <div class="col-xs-2 left-side-description">Comments</div>
                            <div class="col-xs-10 right-side-elaboration">
                                <div class="comments-header">{{profile.reviews.length}} Comments!</div>
                                <br>
                                <div class="comments-smaller-header">Total ranking</div>
                                <div class="no-rating stars" ng-if="profile.rating < 0">No rating yet</div>
                                <div class="stars" ng-if="profile.rating >= 0"
                                     ng-repeat="star in generateStars(profile.rating) track by $index">
                                    <div class="star icon-star-full" ng-if="star">fullstar</div>
                                    <div class="star icon-star-empty" ng-if="!star"></div>
                                </div>

                                <br><br>

                                <div class="left-floaters-likes">
                                    <div class="icon icon-like"></div>
                                    <div class="like-count">COUNT Likes</div>
                                    <div class="icon icon-dislike"></div>
                                    <div class="like-count">COUNT Dislikes</div>
                                    <div class="icon icon-flag"></div>
                                    <div class="like-count">COUNT Reports</div>
                                </div>
                            </div>

                        </div>

						<div class="separator before-comments"></div>

						<div class="row comments-show">

							<div class="comment" ng-repeat="commenter in profile.reviews | limitTo:3">

								<div class="col-md-2 dead-space"></div>

								<div class="col-md-2 commenter-photo" style="background-image: url('{{commenter.image}}')">
								</div>
								<div class="col-md-8 commenter-comment-section">
									<div class="commenter-name">{{commenter.name}}</div>
									<div class="commenter-country-and-age">
										{{commenter.country}}
									</div>
									<div class="commenter-comment">
										{{commenter.review}}
									</div>
								</div>

								<div class="separator"></div>

							</div>
						</div>
					</div>


					<div class="row map-section">

						<div class="col-xs-2 left-side-description">Location</div>

						<div class="col-xs-4">
							<div class="country-and-city">{{profile.country}} • {{profile.city}}</div>
							<br>
							<div class="address">{{profile.address.substr(0, profile.address.indexOf(','));}}</div>
						</div>



						<!--INSERT MAP HERE-->
						<div class="col-xs-6 map-fragment">
							<div class="map-view col-md-4 col-xs-12" style="overflow-x: hidden;">
								<div class="map" id="travelerMap"></div>
							</div>
						</div>
						<!--END OF MAP SECTION-->



					</div>


				</div>
			</div>




			<!--Right section-->

			<div class="profile-description col-lg-3 col-md-3 col-sm-3 col-xs-6 fix-scroll">


				<div class="name-and-mutual-friends">
					<div class="swapper-name">
						{{profile.firstName}} {{profile.lastName}}
					</div>
					<div class="under-name">
						{{profile.age}} • {{profile.ocupation}}
					</div>
					<div class="mutual-friends">
						<div class="icon icon-man"></div>
						<div class="mutual-friends-text">3 Mutual friends</div>
					</div>
				</div>

				<div class="separator separator-more-padding"></div>

				<div>
					<div class="about-me">About me</div>
					<div class="about-text description-text">{{profile.aboutMe}}</div>
				</div>

				<br><br>
				<div>
					<div class="contact-host">Contact the host</div>
				</div>

				<div class="separator"></div>

				<div>
					<div class="about-me">About my house</div>
					<div class="row">
						<div class="icon-plus-checkbox">
							<div class="pet-icon"></div>
							<div class="description-text">Pet Friendly</div>
							<div class="check-container">
								<div class="checkbox-div" ng-show="profile.apptInfo.pets" style="background-image: url('../images/icons/V.png')"></div>
								<div class="checkbox-div" ng-show="!profile.apptInfo.pets" style="background-image: url('../images/icons/X.png')"></div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="icon-plus-checkbox">
							<div class="smoke-icon"></div>
							<div class="description-text">Smoking Friendly</div>
							<div class="check-container">
								<div class="checkbox-div" ng-show="profile.apptInfo.smoking" style="background-image: url('../images/icons/V.png')"></div>
								<div class="checkbox-div" ng-show="!profile.apptInfo.smoking" style="background-image: url('../images/icons/X.png')"></div>
							</div>
						</div>
					</div>

				</div>

                <div class="end-of-profile"></div>
			</div>

		</div>

	</div>


  	<!--<div class="info">-->
  		<!--<div class="row info-row">-->
		  	<!--<div class="col-sm-8">-->
			  	<!--<div class="appt-info">-->
		  			<!--<div class="section">-->
					  	<!--<div class="description-title">-->
					  		<!--{{profile.apptInfo.description}}-->
						<!--</div>-->
						<!--<div class="city">-->
					  		<!--{{profile.city}}, {{profile.country}}-->
						<!--</div>-->
						<!--<div class="rating">-->
                            <!--<div class="icon-star"></div>-->
                            <!--<div class="icon-star" ng-if="profile.rating > 1"></div>-->
                            <!--<div class="icon-star" ng-if="profile.rating > 2"></div>-->
                            <!--<div class="icon-star" ng-if="profile.rating > 3"></div>-->
                            <!--<div class="icon-star" ng-if="profile.rating > 4"></div>-->
                            <!--<div class="number-reviews">{{profile.reviews.length}} Reviews</div>-->
                        <!--</div>-->
					<!--</div>-->
					<!--<div class="section row">-->
						<!--<div class="col-sm-4">-->
						  	<!--<div class="listing">-->
								<!--<i class="fa fa-home" aria-hidden="true"></i></br>-->
						  		<!--{{profile.apptInfo.property}}-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="col-sm-4">-->
							<!--<div class="listing">-->
							<!--<i class="fa fa-bed" aria-hidden="true"></i></br>-->
						  		<!--{{profile.apptInfo.room}}-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="col-sm-4">-->
							<!--<div class="listing">-->
							<!--<i class="fa fa-users" aria-hidden="true"></i></br>-->
						  		<!--{{profile.apptInfo.guests}} guests-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="section">-->
						<!--<div class="title">-->
							<!--About this place-->
						<!--</div>-->
						<!--<div class="text">-->
							<!--{{profile.apptInfo.about}}-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="section">-->
						<!--<div class="title">-->
							<!--Amenities-->
						<!--</div>-->
						<!--<ul class="unstyled-list">-->
							<!--<li ng-if="profile.apptInfo.essentials">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-bath" aria-hidden="true"></i> Essentials-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.wifi">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-wifi" aria-hidden="true"></i> Wifi-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.airconditioning">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-snowflake-o" aria-hidden="true"></i> Air conditioning-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.heating">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-sun-o" aria-hidden="true"></i> Heating-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.kitchen">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-cutlery" aria-hidden="true"></i> Kitchen-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.events">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-music" aria-hidden="true"></i> Can host events-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.tv">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-television" aria-hidden="true"></i> Tv-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.wheelchair">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-wheelchair" aria-hidden="true"></i> Wheelchair accessable-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.transportation">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-bus" aria-hidden="true"></i> Public transportation-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.kids">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-futbol-o" aria-hidden="true"></i> Kid friendly-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.parking">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-product-hunt" aria-hidden="true"></i> Parking-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.elevator">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-building-o" aria-hidden="true"></i> Elevator-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.washing">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-shower" aria-hidden="true"></i> Washing machine-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.dryer">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-shopping-basket" aria-hidden="true"></i> Dryer-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.smoking">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Smoking allowed-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.pool">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-tint" aria-hidden="true"></i> Pool-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.pets">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-paw" aria-hidden="true"></i> Pets allowed-->
								<!--</div>-->
							<!--</li>-->
							<!--<li ng-if="profile.apptInfo.bathroom">-->
								<!--<div class="amenity">-->
									<!--<i class="fa fa-bath" aria-hidden="true"></i> Private bathroom-->
								<!--</div>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="section">-->
						<!--<div class="title">-->
							<!--Reviews-->
						<!--</div>-->
						<!--<div class="reviews">-->
							<!--<div class="review" ng-repeat="review in profile.reviews">-->
								<!--<div class="row" >-->
									<!--<div class="col-sm-6" >-->
										<!--<div class="reviewer-info" >-->
											<!--<div class="review-photo" style="background-image:url('{{review.image}}')" ng-click="go('profile/'+review.userId)">-->
					   						<!--</div>-->
											<!--<div class="name">-->
												<!--{{review.name}}-->
												<!--<div class="city">-->
													<!--{{review.city}}, {{review.country}}-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-sm-6" >-->
										<!--<div class="date">-->
												<!--{{review.date | date: 'MMMM yyyy'}}-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--<div class="text">-->
									<!--{{review.review}}-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-sm-4 fix-scroll">-->
			  	<!--<div class="user-info">-->
				  	<!--<div class="profile-pic" style="background-image:url('{{profile.image}}')">-->
					<!--</div>-->

					<!--<div class="personal">-->
						<!--<div class="name text">-->
							<!--{{profile.firstName}}-->
						<!--</div>-->
						<!--<div class="text">-->
							<!--{{profile.age}},{{profile.gender}}-->
						<!--</div>-->
						<!--<div class="text">-->
							<!--{{profile.ocupation}}-->
						<!--</div>-->
						<!--<div class="text" style="text-align:left;">-->
							<!--{{profile.aboutMe}}-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="swaps text">-->
						<!--Swaps: {{profile.swaps}}-->
					<!--</div>-->
					<!--<div class="traveling text">-->
						<!--<div class="not-swapping" ng-if="!profile.traveling">-->
							<!--Currently not swapping-->
							<!--<i id="datefilter0"></i>-->
						<!--</div>-->
						<!--<div class="swaps swapping" ng-if="profile.traveling">-->
							<!--Looking to swap in:-->
							<!--<div class="dates">-->
								<!--<div class="traveling-cities" ng-repeat="trip in profile.travelingInfo track by $index">-->
									<!--<strong>{{trip.dest}}</strong>: {{trip.departure | date : 'MM/dd/yy'}} - {{trip.returnDate | date : 'MM/dd/yy'}}-->
									<!--<i id="datefilter{{$index}}" class="datefilter glyphicon glyphicon-calendar fa fa-calendar"></i>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="req-swap">-->
						<!--<input type="button" class="btn btn-primary btn-swap" value="Request Swap" ng-click="openRequest()" ng-hide="messageSent">-->
						<!--<div class="req-sent" ng-show="messageSent">-->
							<!--Request Sent-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>
<div id="requestModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="send-messege">
			  <div class="title">
				  Send {{profile.firstName}} a Message
			  </div>
			  <textarea rows="6" cols="20" class="form-control" ng-model="message.message"></textarea>
			  <div class="modal-footer">
				  <input type="button" class="btn btn-primary fll btn-send" value="Send" ng-click="sendMessage()" ng-disabled="message.message == '' ">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
		</div>
	</div>
</div>
</div>