<div class="profile-page">
    <div class="appt-slider-and-profpic container-fluid">
        <div class="row">
            <div class="col-sm-9 col-xs-12 no-padding">
                <div class="photos">
                    <div class="gallery">
                        <ng-image-gallery
                                images="images"
                                methods="methods"
                                img-anim="slide"
                        ></ng-image-gallery>
                    </div>
                    <div class="main-photo" style="background-image:url('{{profile.photos[0]}}')"
                         ng-click="openGallery()">
                    </div>
                </div>
            </div>
            <div class="profile-description col-sm-3 col-xs-12 fix-scroll hidden-xs">
                <div class="profile-name">
                    <div class="circle-profile-pic" style="background-image:url('{{profile.image}}')"></div>
                    <div class="name-occupation">
                        <div class="name">
                            {{profile.firstName}}
                        </div>
                        <div class="occupation">
                            {{age}} • {{profile.occupation}}
                        </div>
                    </div>
                </div>
                <hr>

                <div class="swap">
                    <div class="favorite">
                        <div class="btn btn-primary btn-swap share-btn" ng-if="!isFavorite()" ng-click="addToFavorites()">
                            <div class="icon icon-heart-white sharing"></div>
                            Save
                        </div>
                        <div class="btn btn-primary btn-swap share-btn" ng-if="isFavorite()" ng-click="removeFromFavorites()">
                            <div class="icon icon-heart-white sharing"></div>
                            Unsave
                        </div>
                        <div class="btn btn-primary btn-swap share-btn" ng-click="share()">
                            <div class="icon icon-envelope-white sharing"></div>
                            Share
                        </div>
                    </div>

                    <div class="deposit">Security Deposit Plan - {{data.securityDeposit[profile.deposit].displayName}}
                    </div>
                    <hr>
                    <div class="swap-info">
                        <div class="search-field">
                            <label for="swapDates">When</label>
                            <input type="text" class="form-control" id="swapDates" name="swapDates" ng-model="swap.dates" swap-dates="swap" user="user" profile="profile"
                                   user-city="userCity" locale-format="localeFormat" model-format="modelFormat" can-send-request="canSendRequest" find-travel="true"
                                   not-swapping="notSwapping" data="data" ng-disabled="requestSent" disabled="{{requestSent}}" datepicker ng-if="ready" >
                        </div>
                        <div class="search-field">
                            <label for="guests">Swappers</label>
                            <div class="guests-search">
                                <input type="number" class="form-control guests" id="guests" ng-model="swap.guests"
                                       min="1" max="8" ng-disabled="requestSent" disabled="{{requestSent}}">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="req-swap">
                        <input type="button" class="btn btn-primary btn-swap" value="Request Swap"
                               ng-click="openRequest()" ng-hide="requestSent" ng-disabled="!swap.from || !swap.to || !canSendRequest.status" disabled="{{!swap.from || !swap.to || !canSendRequest}}">
                        <div class="req-sent" ng-show="requestSent">
                            Request Sent
                        </div>
                    </div>
                    <div class="not-charged" ng-hide="requestSent">
                        You won't be charged yet
                    </div>
                </div>
                <div class="end-of-profile"></div>
            </div>
            <div class="visible-xs">
                <div class="mobile-request">
                    <input type="button" class="btn btn-primary btn-swap" value="Request Swap"
                           ng-click="openRequest()">
                </div>
            </div>
        </div>
    </div>
    <div class="main-section container-fluid">
        <div class="row">
            <!--Left section-->
            <div class="appt-slider-and-profpic visible-xs">
                <div class="profile-description">
                    <div class="profile-name">
                        <div class="circle-profile-pic" style="background-image:url('{{profile.image}}')"></div>
                        <div class="name-occupation">
                            <div class="name">
                                {{profile.firstName}}
                            </div>
                            <div class="occupation">
                                {{age}} • {{profile.occupation}}
                            </div>
                        </div>
                    </div>
                    <div class="swap">
                        <div class="favorite">
                            <div class="btn btn-primary btn-swap share-btn" ng-if="!isFavorite()" ng-click="addToFavorites()">
                                <div class="icon icon-heart-white sharing"></div>
                                Save
                            </div>
                            <div class="btn btn-primary btn-swap share-btn" ng-if="isFavorite()" ng-click="removeFromFavorites()">
                                <div class="icon icon-heart-white sharing"></div>
                                Unsave
                            </div>
                            <div class="btn btn-primary btn-swap share-btn" ng-click="share()">
                                <div class="icon icon-envelope-white sharing"></div>
                                Share
                            </div>
                        </div>

                        <div class="deposit">Security Deposit Plan - {{data.securityDeposit[profile.deposit].displayName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="apt-description col-sm-9 col-xs-12">
                <div class="caption-upto-separator">
                    <div class="row">
                        <div class="col-xs-0">

                        </div>
                        <div class="col-xs-12">
                            <div class="under-title">
                                {{data.roomType[profile.apptInfo.roomType].displayName}} • {{profile.city}}
                            </div>
                            <div class="description-title">
                                {{profile.apptInfo.title}}
                            </div>
                            <div class="rating" ng-if="profile.reviews.length > 0">
                                <span class="icon icon-star-large"></span>
                                <span class="icon {{profile.rating > 1?profile.rating < 2?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 2?profile.rating < 3?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 3?profile.rating < 4?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <span class="icon {{profile.rating > 4?profile.rating < 5?'icon-halfstar-large':'icon-star-large':'icon-emptystar-large'}}"></span>
                                <!--<span class="number-reviews">{{profile.comments.length}}</span>-->
                            </div>
                            <div class="rating" ng-if="profile.reviews.length == 0">
                                <span class="new-appt" ng-if="profile.reviews.length == 0">New!</span>
                            </div>
                            <div class="simple-apt-info">
                                <div class="home-info">
                                    <div class="icon icon-swaper"></div>
                                    <div class="swapper-count simple-apt-info-content">{{profile.apptInfo.guests}}<br class="visible-xs">
                                        Swappers
                                    </div>
                                </div>
                                <div class="home-info">
                                    <div class="icon icon-door"></div>
                                    <div class="bed-count simple-apt-info-content">{{profile.apptInfo.rooms}}<br class="visible-xs">
                                        {{profile.apptInfo.rooms > 1?'Rooms':'Room'}}
                                    </div>
                                </div>
                                <!--The following line is to fix the bootstrap grid on small screens-->
                                <div class="clearfix visible-xs"></div>
                                <div class="home-info">
                                    <div class="icon icon-bed"></div>
                                    <div class="bath-count simple-apt-info-content">{{profile.apptInfo.beds}}<br class="visible-xs">
                                        {{profile.apptInfo.beds > 1?'Beds':'Bed'}}
                                    </div>
                                </div>
                                <div class="home-info">
                                    <div class="icon icon-bath"></div>
                                    <div class="room-count simple-apt-info-content">{{profile.apptInfo.baths}}<br class="visible-xs">
                                        {{profile.apptInfo.baths > 1?'Baths':'Bath'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="">
                    <div class="row">
                        <!--The following line is to fix the bootstrap grid on small screens-->
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-2 col-xs-22 left-side-description">About My Home</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">{{profile.apptInfo.about}}
                        </div>
                    </div>
                    <!--<div class="read-more" ng-click="readMore(showMore, 'aboutHome')">-->
                    <!--<div class="icon-plus read-more-button" ></div>-->
                    <!--<div class="plain-text read-more-button">{{showMore.aboutHome.active?'Read Less':'Read More'}}</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-sm-2 col-xs-12 left-side-description">About me</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration read-more-activation">
                            {{profile.aboutMe}}
                        </div>
                    </div>
                    <!--<div class="read-more" ng-click="readMore(showMore, 'aboutMe')">-->
                    <!--<div class="icon-plus read-more-button" ></div>-->
                    <!--<div class="plain-text read-more-button" >{{showMore.aboutMe.active?'Read Less':'Read More'}}</div>-->
                    <!--</div>-->

                    <hr>
                    <div class="row">
                        <div class="col-sm-2 col-xs-12 left-side-description">Basic amenities</div>
                        <div class="col-sm-8 col-xs-12 right-side-elaboration">
                            <checkbox items="data.amenities" model="profile.apptInfo.amenities"
                                      readonly="true"></checkbox>
                        </div>
                    </div>
                    <hr>
                    <div class="row comments-show" ng-if="profile.reviews.length > 0">
                        <div class="col-sm-2 col-xs-12  left-side-description">
                            Reviews
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="comment" ng-repeat="commenter in profile.reviews | limitTo:3">
                                <review-elm is-profile="true" commenter="commenter"></review-elm>
                                <hr style="clear: both;">
                            </div>
                        </div>
                    </div>

                    <!--</div>-->
                    <div class="map-section">
                        <div class="row">
                            <div class="col-sm-2 col-xs-4 left-side-description">Location</div>
                            <div class="col-sm-4 col-xs-8">
                                <div class="country-and-city">{{profile.country}} • {{profile.city}}</div>
                                <br>
                                <div class="address">{{profile.address.substr(0, profile.address.indexOf(','));}}</div>
                                <div class="address">{{profile.address}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-0"></div>
                            <div class="col-sm-8 col-xs-12 map-fragment">
                                <div class="map" id="cityMap"></div>
                            </div>
                        </div>
                        <!--END OF MAP SECTION-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
