<div class="review-page">
    <div class="review-area">
        <div class="row" ng-if="isVerified">
            <div class="col-md-6 col-sm-12">
                <div class="reviewed-home">
                    <swapper-home traveler="reviewed"></swapper-home>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div ng-if="!reviewSent">
                    <div class="title">
                        Rate your Swap with {{reviewed.firstName}}
                    </div>
                    <div class="explanation">
                        Swaps is a community built on trust and mutual assistance, please take time to write a helpful review so other Swappers will know what to expect and {{reviewed.firstName}} will know how your experience was.
                    </div>
                    <div class="sub-title">
                        Rate your overall experience:
                    </div>
                    <div class="review-stars">
                        <span class="icon icon-star-large" ng-click="setRating(1)"></span>
                        <span class="icon {{rating > 1?'icon-star-large':'icon-emptystar-large'}}" ng-click="setRating(2)"></span>
                        <span class="icon {{rating > 2?'icon-star-large':'icon-emptystar-large'}}" ng-click="setRating(3)"></span>
                        <span class="icon {{rating > 3?'icon-star-large':'icon-emptystar-large'}}" ng-click="setRating(4)"></span>
                        <span class="icon {{rating > 4?'icon-star-large':'icon-emptystar-large'}}" ng-click="setRating(5)"></span>
                    </div>
                    <div class="sub-title">
                        Write a review:
                    </div>
                    <div class="explanation">
                        Remember, this review will appear publicly on {{reviewed.firstName}}'s profile.
                    </div>
                    <div class="send-review">
                        <textarea class="form-control review" rows="6" cols="20" ng-model="review.text"></textarea>
                        <input type="button" class="btn btn-primary btn-swap" value="Send Review"
                               ng-click="postReview()" ng-disabled="!review.text || review.text == ''">
                    </div>
                </div>
                <div ng-if="reviewSent">
                    <div class="title">
                        Review Complete
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="notVerified">
            <div class="title">
                You are not permitted to write this review.
            </div>
        </div>
    </div>
</div>
