<div class="travelers-page">
    <div class="filters">
        <div class="dropdown">
            <button class="filter-button dropdown-toggle"  id="filterDates" ng-click="openDate()">
                <div class="caret"></div>
                Dates
            </button>
        </div>
        <div class="dropdown">
            <button class="filter-button dropdown-toggle" type="button" id="filterRoom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="caret"></div>
                Room Type
            </button>
            <div class="dropdown-menu" aria-labelledby="filterAmenities" ng-click="$event.stopPropagation()">
                <div class="room-type">
                    <div class="filter" ng-repeat="room in roomTypes">
                        <div class="filter-checkbox" ng-click="checkRoomType($index, $event)">
                            <div class="check icon icon-check {{isCheckedRoomType($index)?'checked':''}}"></div>
                        </div>
                        <div>
                            {{room.displayName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="filter-button dropdown-toggle" type="button" id="filterAmenities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="caret"></div>
                Amenities
            </button>
            <div class="dropdown-menu" aria-labelledby="filterAmenities" ng-click="$event.stopPropagation()">
                <div class="row mg-0 amenities">
                    <div class="filter col-sm-6 col-xs-12" ng-repeat="amenity in amenities">
                        <div class="filter-checkbox" ng-click="checkAmenity($index, $event)">
                            <div class="check icon icon-check {{isCheckedAmenity($index)?'checked':''}}"></div>
                        </div>
                        <div>
                            {{amenity.displayName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="people-and-map">
        <div class="">
            <div class="row mg-0">
                <div class="travelers-list col-md-8 col-sm-12" id="swappers">
                    <div class="mg-0 row">
                        <div class= "traveler-col col-sm-6 col-xs-12" ng-repeat="traveler in travelers" id="{{traveler._id}}" ng-mouseover="scaleImage(traveler.image)" ng-mouseleave="shrinkImage(traveler.image)">
                            <div class="traveler" ng-click="go('profile/'+traveler._id)">
                                <div class="">
                                    <!--CAROUSEL START-->
                                    <div ng-attr-id="{{'myCarousel' + traveler._id}}"  class="carousel slide" data-ride="carousel" data-interval="false">
                                        <!-- Wrapper for carousel items -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="#" alt="First slide">
                                                <div class="carousel-caption carousel-image" ng-style="{'background-image': 'url(' + traveler.photos[0] + ')'}">
                                                </div>
                                            </div>
                                            <div class="item" ng-repeat="photo in traveler.photos.slice(1,entries.length)">
                                                <img src="#" alt="{{$index}} slide">
                                                <div class="carousel-caption carousel-image" ng-style="{'background-image': 'url(' + photo + ')'}">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Carousel controls -->
                                        <div class="carousel-control left" data-slide="prev" ng-click="carouselPrev(traveler._id,$event)">
                                            <span class="carousel-control-arrow icon icon-arrow-left"></span>
                                        </div>
                                        <div class="carousel-control right" data-slide="next" ng-click="carouselNext(traveler._id,$event)">
                                            <span class="carousel-control-arrow icon icon-arrow-right"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-img" style="background-image: url('{{traveler.image}}')">

                                </div>
                                    <!--CAROUSEL END-->
                                <div class="user-info">
                                    <div class="apt-title">
                                        {{traveler.apptInfo.description}}
                                    </div>
                                    <div class="apt-sub-title">
                                        {{traveler.apptInfo.room}} in {{traveler.firstName}}'s {{traveler.apptInfo.property}}
                                    </div>
                                    <div class="rating">
                                        <span class="icon icon-star" ng-if="traveler.reviews.length > 0"></span>
                                        <span class="icon icon-star" ng-if="traveler.rating > 1"></span>
                                        <span class="icon icon-star" ng-if="traveler.rating > 2"></span>
                                        <span class="icon icon-star" ng-if="traveler.rating > 3"></span>
                                        <span class="icon icon-star" ng-if="traveler.rating > 4"></span>
                                        <span class="number-reviews" ng-if="traveler.rating > 0">{{traveler.reviews.length}}</span>
                                        <span class="new-appt" ng-if="traveler.reviews.length == 0">New!</span>
                                    </div>
                                    <div class="basics">
                                        <div class="tiny-text">
                                            <span class="glyphicon glyphicon-user"></span>
                                            {{traveler.apptInfo.guests}} Guests
                                        </div>
                                        <div class="tiny-text">
                                            <span class="glyphicon glyphicon-bed"></span>
                                            6 beds
                                        </div>
                                        <div class="tiny-text">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            15 Mutual Friends
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------MAP SECTION--------------------------------------------->
                <div class="map-view col-md-4 col-xs-12" style="overflow-x: hidden;">
                    <div class="map" id="travelerMap"></div>
                </div>
            </div>
                <!--<div class="row">-->
                    <!--<div class="travelers-result-pages col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="pageList = pageListToShow(1, dumPageCount(dum_trav))">-->
                        <!--<ul class="page-list" ng-if="isPageListShort(dum_trav)">-->
                            <!--<li class="page-number"-->
                                <!--ng-repeat="num in pageList track by $index">-->
                                <!--<button ng-click="goToPage(num, dum_trav)" ng-disabled="pageIndicator == num">{{num}}</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--{{pageIndicator}}-->
                        <!--<ul class="page-list" ng-if="!isPageListShort(dum_trav)">-->
                            <!--<li class="page-number"-->
                                <!--ng-repeat="num in pageList track by $index">-->
                                <!--<button ng-click="goToPage(num, dum_trav)" ng-disabled="pageIndicator == num">{{num}}</button>-->
                            <!--</li>-->
                        <!--</ul>-->

                        <!--<button class="page-number prev-btn btn btn-primary" ng-click="prevPage_damir(pageIndicator, dum_trav)"-->
                                <!--ng-show="pageIndicator > 1">Prev</button>-->
                        <!--<button class="next-btn btn btn-primary" ng-click="nextPage_damir(pageIndicator, dum_trav)"-->
                                <!--ng-show="pageIndicator < pageCount(dum_trav)">Next</button>-->

                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
</div>


