<div class="travelers-page">
    <div class="container">
        <div class="row title">
            <div class="see-who col-sm-8" ng-if="city != 'Anywhere'">
                 See who in CITY is looking for a place in YOUR_CITY
            </div>
            <div class="see-who col-sm-8" ng-if="city == 'Anywhere'">
                 See who is looking for a place in {{userCity}}
            </div>
            <div class="search-city col-sm-4">
                <form class="input-group" ng-submit="searchCity()">
                    <input type="text" class="form-control search-box" id="city" placeholder="Search cities" ng-model="search.city">
                    <span class="input-group-addon search-icon" ng-click="searchCity()">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </form>
                <div class="more-filters">
                    <button type="button" class="btn btn-default filter-btn" ng-click="openFilters()"></i>More Filters <span><i class="glyphicon {{filtersOpen?'glyphicon-minus':'glyphicon-plus'}}"></i></span></button>
                </div>
            </div>
        </div>





        <div clas="people-and-map">

            <div class="container">

                <div class="row">

                    <div class="people-list col-lg-8 col-md-8 col-sm-8 col-xs-8" >

                        <!--<div class="container" >-->

                            <!--<div class="row" >-->

                                <div class="people-list col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="guy in dum_trav">

                                    <!--<span class="user-name">Name: {{guy.firstName}}</span>-->
                                    <br>
                                    <!--<div class="container">-->
                                        <!--<div class="row">-->

                                            <div class="apartment-image col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <img class="img-rounded" src="{{guy.photos[0]}}" alt="photo">
                                                <div class="bg-info">
                                                    Hi, I'm {{guy.firstName}}!
                                                    <br><br>
                                                    Description: {{guy.apptInfo.description}}
                                                    <br><br>
                                                    {{guy.apptInfo.room}} in {{guy.apptInfo.property}}
                                                </div>

                                                <div class="tiny-text col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <span class="glyphicon glyphicon-user"></span><br>
                                                    4 swappers
                                                </div>
                                                <div class="tiny-text col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <span class="glyphicon glyphicon-bed"></span><br>
                                                    6 beds
                                                </div>
                                                <div class="tiny-text col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                    <span class="glyphicon glyphicon-star-empty"></span><br>
                                                    264 comments
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <img class="prof_img img-rounded" src="{{guy.image}}">
                                            </div>
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>
                                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->

                                    <!--<span class="user-name">Name: {{guy.firstName}}</span>-->
                                    <!--<br>-->
                                    <!--<div class="container">-->
                                        <!--<div class="row">-->

                                            <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
                                                <!--<img class="rounded" src="{{guy.photos[0]}}" alt="photo">-->
                                            <!--</div>-->

                                            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                                <!--<img class="img-rounded" src="{{guy.image}}">-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->

                                    <!--<span class="user-name">Name: {{guy.firstName}}</span>-->
                                    <!--<br>-->
                                    <!--<div class="container">-->
                                        <!--<div class="row">-->

                                            <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
                                                <!--<img class="rounded" src="{{guy.photos[0]}}" alt="photo">-->
                                            <!--</div>-->

                                            <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                                <!--<img class="img-rounded" src="{{guy.image}}">-->
                                            <!--</div>-->

                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->


                            </div>


                        <!--</div>-->

                    <!--</div>-->

                    <div class="map-view col-lg-4 col-md-4 col-sm-4 col-xs-4">



                    </div>



                </div>







            </div>
        </div>






     </div>
</div>
