<div class="login-model">
    <div class="" ng-if="!isEmailLogin">
        <div class="icon icon-delete top-corner" ng-click="close()"></div>
        <div class="title">
            {{title}}
            <div class="underline"></div>
        </div>
        <div class="sub-title has-height">
            {{subTitle}}
        </div>
        <div class="button-signin">
            <button type="button" class="btn btn-default login-button facebook-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>{{signin?'Join with Facebook':'Log in with Facebook'}}</button>
        </div>
        <div class="button-signin">
            <button type="button" class="btn btn-default login-button google-button" ng-click="GoogleLogin()"><div class="google-icon"></div>{{signin?'Join with Google':' Log in with Google'}}</button>
        </div>
        <div class="sub-title">
            Or
        </div>
        <div class="button-signin bottom">
            <button type="button" class="btn btn-default login-button email-button" ng-click="goToEmailLogin()"><i class="fa fa-envelope"></i>{{signin?'Join with Email':' Log in with Email'}}</button>
        </div>
        <div class="bottom" ng-if="signin">
            By Joining Swaps you agree to our <br><span class="link" ng-click="terms()">Terms and Conditions</span>
            and <span class="link" ng-click="policy()">Privacy Policy</span>
        </div>
        <div class="bottom" ng-if="!signin">
            Don't have an account? <span class="link" ng-click="goToSignin()">Join</span>
        </div>
    </div>
    <div class="email-login" ng-if="isEmailLogin">
        <div class="title">
            {{title}}
            <div class="underline"></div>
        </div>
        <form name="signupForm">
            <div class="row" ng-if="signin">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label listing-label" for="firstName" name="firstName">First Name:
                    </label>
                    <div class="">
                        <input class="form-control {{firstNameInvalid?'error':''}}" type="text" id="firstName" name="firstName" placeholder="" ng-focus="firstNameInvalid = false;" ng-model="credentials.firstName" required>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label listing-label" for="lastName">Last Name:
                    </label>
                    <div class="">
                        <input class="form-control {{lastNameInvalid?'error':''}}" type="text" id="lastName" name="lastName" placeholder="" ng-focus="lastNameInvalid = false;" ng-model="credentials.lastName" required>
                    </div>
                </div>
            </div>
            <div class="mg-20" ng-if="!signin">
            </div>
            <div class="form-group">
                <label class="control-label listing-label" for="email">Email:
                </label>
                <div class="">
                    <input class="form-control {{emailInvalid?'error':''}}" type="text" id="email" name="email" placeholder="" ng-focus="emailInvalid = false;" ng-model="credentials.email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label listing-label" for="password">Password:
                    <span class="explanation" ng-if="signin">Must contain at least 6 characters</span>
                </label>
                <div class="password">
                    <input class="form-control {{passwordInvalid?'error':''}}" type="{{passwordType}}" id="password" name="password" ng-focus="passwordInvalid = false;" placeholder="" minlength="6" ng-model="credentials.password" required>
                    <i class="fa fa-eye" ng-if="!signin" ng-click="showPassword()"></i>
                </div>
            </div>
            <div class="form-group" ng-if="signin">
                <label class="control-label listing-label" for="confirmPassword">Confirm Password:
                    <span class="error" ng-if="passwordsMismatch">Passwords don't match</span>
                </label>
                <div class="">
                    <input class="form-control {{confirmPasswordInvalid?'error':''}}" type="password" id="confirmPassword" name="confirmPassword" ng-focus="confirmPasswordInvalid = false;" placeholder="" ng-model="credentials.confirmPassword" required>
                </div>
            </div>
        </form>
        <div class="button-signin bottom">
            <button type="button" class="btn btn-default login-button email-button signup" ng-click="EmailLogin(signupForm)"><i class="fa fa-envelope"></i>{{signin?'Join with Email':' Log in with Email'}}</button>
        </div>
        <div class="bottom" ng-if="!signin">
            Don't have an account? <span class="link" ng-click="goToSignin()">Join</span>
        </div>
    </div>
</div>