<div class="login-model">
    <div class="" ng-if="!isEmailLogin">
        <div class="icon icon-delete top-corner" ng-click="close()"></div>
        <div class="title">
            {{title}}
            <div class="underline"></div>
        </div>
        <div class="sub-title has-height">
            {{subTitle}}
        </div>
        <div class="button-signin">
            <button type="button" class="btn btn-default login-button facebook-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>{{signin?'Join with Facebook':'Log in with Facebook'}}</button>
        </div>
        <div class="button-signin">
            <button type="button" class="btn btn-default login-button google-button" ng-click="GoogleLogin()"><div class="google-icon"></div>{{signin?'Join with Google':' Log in with Google'}}</button>
        </div>
        <div class="sub-title">
            Or
        </div>
        <div class="button-signin bottom">
            <button type="button" class="btn btn-default login-button email-button" ng-click="goToEmailLogin()"><i class="fa fa-envelope"></i>{{signin?'Join with Email':' Log in with Email'}}</button>
        </div>
        <div class="bottom" ng-if="signin">
            By Joining Swaps you agree to our <br><span class="link" ng-click="terms()">Terms and Conditions</span>
            and <span class="link" ng-click="policy()">Privacy Policy</span>
        </div>
        <div class="bottom" ng-if="!signin">
            Don't have an account? <span class="link" ng-click="goToSignin()">Join</span>
        </div>
    </div>
    <div class="email-login" ng-if="isEmailLogin">
        <div class="title">
            {{title}}
            <div class="underline"></div>
        </div>
        <div class="row" ng-if="signin">
            <div class="form-group col-md-6 col-sm-12">
                <label class="control-label listing-label" for="firstName">First Name:
                </label>
                <div class="">
                    <input class="form-control" type="text" id="firstName" placeholder="" ng-model="credentials.firstName">
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label class="control-label listing-label" for="lastName">Last Name:
                </label>
                <div class="">
                    <input class="form-control" type="text" id="lastName" placeholder="" ng-model="credentials.lastName">
                </div>
            </div>
        </div>
        <div class="has-height" ng-if="!signin">
        </div>
        <div class="form-group">
            <label class="control-label listing-label" for="email">Email:
            </label>
            <div class="">
                <input class="form-control" type="text" id="email" placeholder="" ng-model="credentials.email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label listing-label" for="password">Password:
            </label>
            <div class="password">
                <input class="form-control" type="password" id="password" placeholder="" ng-model="credentials.password">
                <i class="fa fa-eye" ng-if="!signin"></i>
            </div>
        </div>
        <div class="form-group" ng-if="signin">
            <label class="control-label listing-label" for="confirmPassword">Confirm Password:
            </label>
            <div class="">
                <input class="form-control" type="password" id="confirmPassword" placeholder="" ng-model="credentials.confirmPassword">
            </div>
        </div>
        <div class="button-signin bottom">
            <button type="button" class="btn btn-default login-button email-button signup" ng-click="EmailLogin()"><i class="fa fa-envelope"></i>{{signin?'Join with Email':' Log in with Email'}}</button>
        </div>
    </div>
</div>