<div class="footer">
    <div class="links">
        <div class="link " ng-click="go('faq')" scroll-to-top>
            FAQ
        </div>
        <div class="link ">
            Contact us
        </div>
        <div class="link " ng-click="go('terms-and-conditions')" scroll-to-top>
            Terms and Conditions
        </div>
        <div class="link " ng-click="go('privacy-policy')" scroll-to-top>
            Privacy Policy
        </div>
        <div class="social-link ">
            Follow us:
            <div class="social facebook" ng-click="link('facebook')">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="social instagram" ng-click="link('instagram')">
                <i class="fa fa-instagram"></i>
            </div>
            <div class="social twitter" ng-click="link('twitter')">
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="copyright">
        Swaps © 2018
    </div>
</div>