<div class="footer" ng-hide="$root.externalLogin">
    <div class="links">
        <a href="/faq" class="link " ng-click="go('faq')" scroll-to-top>
            FAQ
        </a>
        <a href="/contact" class="link " ng-click="go('contact')" scroll-to-top>
            Contact us
        </a>
        <a href="/terms-and-conditions" class="link " ng-click="go('terms-and-conditions')" scroll-to-top>
            Terms and Conditions
        </a>
        <a href="/privacy-policy" class="link " ng-click="go('privacy-policy')" scroll-to-top>
            Privacy Policy
        </a>
        <div class="social-link ">
            Follow us:
            <div class="social facebook" ng-click="link('facebook')">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="social instagram" ng-click="link('instagram')">
                <i class="fa fa-instagram"></i>
            </div>
            <div class="social twitter" ng-click="link('twitter')">
                <i class="fa fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="copyright">
        Swaps © 2018
    </div>
</div>