<div class="header" ng-hide="$root.externalLogin">
  	<nav class="navbar navbar-default navbar-toggleable-md navbar-light {{$root.homepage?'home-header':'navbar-other'}} {{$root.searchPage?'no-shadow':''}} bg-faded">
	  <a class="navbar-brand hidden-xs" href="" ng-click ="go('')">
		  <div class="logo" style="background-image:url('../../images/logo/logo.svg')">
		  </div>
	  </a>

	  <div class="hidden-xs navbar-collapse" id="navbarSupportedContent">
          <div class="find-swap">
              <!--<div class="start-swapping">Start Swapping</div>-->
              <div class="row header-search-area">
                  <div class="search-field left col-xs-12">
                      <input type="text" class="form-control" placeholder="Anywhere" id="searchCityHeader" ng-model="search.where" autocomplete city="true" auto-search="autoSearch()">
                      <div class="icon icon-infocenter"></div>
                  </div>
                  <!--<div class="search-field col-sm-4 col-xs-12">-->
                      <!--<input type="text" class="form-control" placeholder="Anytime" id="searchDateHeader" name="searchDate" ng-model="search.date" swap-dates="search" locale-format="localeFormat" model-format="modelFormat" find-travel="false" datepicker>-->
                      <!--<div class="glyphicon glyphicon-remove" ng-click="removeDates()" ng-if="search.date"></div>-->
                      <!--<div class="icon icon-calender"></div>-->
                  <!--</div>-->
                  <!--<div class="search-field right col-sm-4 col-xs-12 ">-->
                      <!--<div class="guests-search">-->
                          <!--<input type="number" class="form-control guests" id="guests" placeholder="1" ng-model="search.guests" min="1" max="8">-->
                      <!--</div>-->
                      <!--<a href="/travelers/{{search.where}}?dates={{search.when}}&guests={{search.guests}}">-->
                        <!--<button class="search icon icon-search" ng-click="searchSwap($event)"></button>-->
                      <!--</a>-->
                      <!--<div class="icon icon-man-small"></div>-->
                  <!--</div>-->
              </div>
          </div>
	    <div class="login-area">
		    <!-- <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search">
		    </form> -->
            <div class="login sign-up" ng-click="go('tips-for-trips')">
                <a href="/tips-for-trips">
                    Tips for Trips
                    <div class="underlined"></div>
                </a>
            </div>
            <div class="login sign-up" ng-click="go('how-it-works')">
                <a href="/how-it-works">
                    How it Works
                    <div class="underlined"></div>
                </a>
            </div>
            <div class="login sign-up" ng-click="openSwapDates()" ng-if="user._id">
                Set Swap Dates
                <div class="underlined"></div>
            </div>
            <div class="login sign-up" ng-click="openLogin(true)" ng-hide="user._id">
                Join
                <div class="underlined"></div>
            </div>
		    <div class="login" ng-click="openLogin()" ng-hide="user._id">
		    	Log In
                <div class="underlined"></div>
            </div>
            <div class="login sign-up credits" ng-if="user._id" uib-tooltip="you have {{$root.user.credit}} travel points" tooltip-placement="bottom" tooltip>
                <a class="user-credits" href="/account/points" ng-click="go('account/points')">
                    <div class="coins-amount">{{$root.user.credit}}</div>
                    <div class="coins">
                    </div>
                </a>
            </div>
            <div class="login sign-up mail" ng-if="user._id" ng-click="go('account/messages')">
                <div class="unread-messages" ng-if="unread > 0">{{unread}}</div>
                <div class="icon icon-mail"></div>
            </div>
			 <div class="user-area" ng-if="user._id">
			    <!-- <div class="username">
			    	{{user.displayName}}
			    </div> -->
			    <div class="dropdown">
                    <div class="profile-pic" data-toggle="dropdown" style="background-image:url('{{user.image}}')">

                    </div>
				    <!--<div class="dropdown-toggle username" data-toggle="dropdown">{{user.firstName}}-->
				    <!--<span class="caret"></span></div>-->
					    <ul class="dropdown-menu">
					        <li><a href="" ng-click ="go('account/edit')">My Profile</a></li>
                            <li><a href="" ng-click ="go('account/listing')">My Home</a></li>
                            <li><a class="nav-link" href="" ng-click ="go('account/upcoming-swaps')">My Swaps</a></li>
                            <!--<li><a class="nav-link" href="" ng-click ="go('account/favorites')">Homes I Like</a></li>-->
                            <li><a href="" ng-click ="logout()">Log out</a></li>
				    </ul>
			  </div>
			 </div>
		 </div>
	  </div>
        <div class="visible-xs">
            <div class="mobile-header header-search-area">
                <a class="navbar-brand" href="" ng-click ="go('')">
                    <div class="logo" style="background-image:url('../../images/logo/logo.svg')">
                    </div>
                </a>
                <div class="search-field left">
                    <div class="icon icon-infocenter"></div>
                    <input type="text" class="form-control" placeholder="Anywhere" id="searchCityHeaderMobile" ng-model="search.where" autocomplete city="true" auto-search="autoSearch()">
                    <!--<button class="search icon icon-search" ng-click="searchSwap($event)"></button>-->
                </div>
                <div class="mobile-login login-area" ng-if="!user._id">
                    <!--<div class="login sign-up" ng-click="openLogin(true)" ng-hide="user._id">-->
                        <!--Join-->
                        <!--<div class="underlined"></div>-->
                    <!--</div>-->
                    <div class="login" ng-click="openLogin()" ng-hide="user._id">
                        Log In
                        <div class="underlined"></div>
                    </div>
                </div>
                <div class="user-area">
                    <div class="dropdown" ng-if="user._id">
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click ="go('account/edit')">My Profile</a></li>
                            <li><a href="" ng-click ="go('account/listing')">My Home</a></li>
                            <li><a href="" ng-click ="go('account/messages')">Messages</a></li>
                            <li><a href=""><div class="" data-toggle="modal" data-target="#swapModel" ng-if="user._id">Set Swap Dates</div></a></li>
                            <li><a class="nav-link" href="" ng-click ="go('account/upcoming-swaps')">My Swaps</a></li>
                            <li><a class="nav-link" href="/tips-for-trips" ng-click ="go('tips-for-trips')">Tips for Trips</a></li>
                            <!--<li><a class="nav-link" href="" ng-click ="go('account/favorites')">Homes I Like</a></li>-->
                            <li><a href="" ng-click ="logout()">Log out</a></li>
                        </ul>
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="profile-pic" style="background-image:url('{{user.image}}')">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
	</nav>
</div>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="facebook-signin">
        <button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Log in with Facebook</button>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--<div id="swapModel" class="modal fade" role="dialog" ng-if="user._id">-->
    <!--<div class="modal-dialog large-model">-->
        <!--<div class="modal-content">-->
            <!--<div class="icon icon-delete top-corner" data-dismiss="modal"></div>-->
            <!--<swaps swaps="user.travelingInfo" popup="true"></swaps>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
