<div class="header">
  	<nav class="navbar navbar-default navbar-toggleable-md navbar-light {{$root.homepage?'':'navbar-other'}} {{$root.searchPage?'no-shadow':''}} bg-faded">
	  <a class="navbar-brand" href="" ng-click ="go('')">
		  <div class="logo" style="background-image:url('../../images/logo/logo.png')">
		  </div>
	  </a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="find-swap">
              <!--<div class="start-swapping">Start Swapping</div>-->
              <div class="row header-search-area">
                  <div class="search-field left col-sm-4 col-xs-12">
                      <input type="text" class="form-control" placeholder="Anywhere" id="searchCityHeader" ng-model="search.where" options="options" googleplace="">
                  </div>
                  <div class="search-field col-sm-4 col-xs-12">
                      <input type="text" class="form-control" placeholder="Anytime" id="searchDate" name="searchDate" ng-focus="openDate()" ng-model="search.date">
                  </div>
                  <div class="search-field right col-sm-4 col-xs-12 ">
                      <div class="guests-search">
                          <input type="number" class="form-control guests" id="guests" placeholder="1" ng-model="search.guests" min="1" max="8">
                      </div>
                      <button class="search icon icon-search" ng-click="searchSwap()"></button>
                  </div>
              </div>
          </div>
	    <div class="login-area">
		    <!-- <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search">
		    </form> -->
            <div class="login sign-up" data-toggle="modal" data-target="#aboutModal">
                How it Works
                <div class="underlined"></div>
            </div>
            <div class="login sign-up" data-toggle="modal" data-target="#swapModel" ng-if="user._id">
                Set up Swap
                <div class="underlined"></div>
            </div>
            <div class="login sign-up" data-toggle="modal" data-target="#signUpModal" ng-hide="user._id">
                Join
                <div class="underlined"></div>
            </div>
		    <div class="login" data-toggle="modal" data-target="#loginModal" ng-hide="user._id">
		    	Log In
                <div class="underlined"></div>
            </div>
			 <div class="user-area" ng-if="user._id">
			    <div class="profile-pic" style="background-image:url('{{user.image}}')">

			    </div>
			    <!-- <div class="username">
			    	{{user.displayName}}
			    </div> -->
			    <div class="dropdown">
				    <div class="dropdown-toggle username" data-toggle="dropdown">{{user.firstName}}
				    <span class="caret"></span></div>
					    <ul class="dropdown-menu">
					      <li><a href="" ng-click ="go('account/edit')">My Account</a></li>
                          <li><a class="nav-link" href="" ng-click ="go('account/swaps')">My Swaps</a></li>
                          <!--<li><a class="nav-link" href="" ng-click ="go('account/favorites')">Homes I Like</a></li>-->
					      <li><a href="" ng-click ="logout()">Log out</a></li>
				    </ul>
			  </div>
			 </div>
		 </div>
	  </div>
	</nav>
</div>

<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="facebook-signin">
        <button type="button" class="btn btn-default login-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i>Log in with Facebook</button>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="aboutModal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="container about-text">

            <div class="about-inner-text"><span class="swaps-text h1 bg-primary">Swaps</span> is an awesome modern way to travel around the globe,
            switching houses and not worrying whether your house is on-fire or not
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
</div>

<div id="swapModel" class="modal fade" role="dialog" ng-if="user._id">
    <div class="modal-dialog large-model">
        <div class="modal-content">
            <swaps swaps="user.travelingInfo" popup="true"></swaps>
        </div>
    </div>
</div>

<div id="flyNowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="fly-now-model">
                <div class="title">
                    Enter your travel information
                </div>
                <div class="travel-info">
                    <label class="control-label">Where</label>
                    <div class="where input-field">
                        <input class="form-control" type="text" id="where" placeholder="Anywhere" ng-model="fly.where">
                    </div>
                    <label class="control-label">When</label>
                    <div class="dates input-field">
                        <input class="form-control" type="text" name="datefilter" placeholder="Anytime" ng-model="fly.date"/>
                        <span class="date-calendar"><i class="fa fa-calendar glyphicon glyphicon-calendar"></i></span>
                    </div>
                    <label class="control-label">Guests</label>
                    <div class="guests input-field">
                        <input class="form-control" type="number" placeholder="1" min="1" max="8" ng-model="fly.guests">
                    </div>
                    <div class="advanced" ng-click="go('account/swap')">
                        Advanced
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-fly" data-dismiss="modal" ng-click="saveTravelInfo()">Go!</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
