<div class="join-us-page">
    <div class="top-corner icon icon-delete" ng-click="modelInstance.close()"></div>
    <div class="cancel-swap">
        <div class="title">
            Sorry, we couldn't find a place in {{failedCity.split(',')[0]}}
        </div>
        <div class="sub-title">
            <div class="section">
                <div class="icon-wrapper">
                    <div class="icon icon-plus1"></div>
                </div>
                <span class="sub-title">
                Swaps is growing and we are looking for travelers from around the world to help us create a community of home swapping.
                </span>
            </div>
            <div class="section">
                <div class="icon-wrapper">
                    <div class="icon icon-target"></div>
                </div>
                <span class="sub-title">
                The more people join the easier it will be to find a swap.
                </span>
            </div>
            <div class="section">
                <div class="icon-wrapper">
                    <div class="icon icon-house"></div>
                </div>
                <span class="sub-title">
                   Join us now and put in your travel information, and we will start finding the perfect swap for you.
                or you could check out some of our other homes.
                </span>
            </div>
        </div>
    </div>
    <div class="btn-primary ok-btn" ng-click="signin();openLogin(true);modelInstance.close({$value: true})" ng-if="!loggedIn">Join Swaps</div>
    <div class="btn-primary ok-btn" ng-click="modelInstance.close()" ng-if="loggedIn">Continue</div>
</div>