<div class="landing-page" ng-init="init()">
    <div class="inner-gradient {{phase === 'first'?'first':''}}">
        <div class="title-container">
            <a href="https://www.swapshome.com" target="_blank">
                <div class="logo-type {{phase !== 'first'?'animate':''}}" >
                    <div class="title-swaps" style="background-image: url('../../images/logotypeBlue.svg')"></div>
                    <div class="points-container">
                        Home is Wherever<div></div>
                        <div class="points-container-border"></div>
                    </div>
                </div>
            </a>
        </div>
        <div id="first" class="section first-section {{phase !== 'first'?'animate-out':''}}" ng-if="phase === 'first'">
            <div class="description">
                <div class="title">Your Home Opens Doors to a World of Experiences
                </div>
                <div class="sub-title grey">Our Swap Bot will show you where you could be traveling right now
                </div>
                <div class="free">First trip is on us!
                </div>
                <div class="button-container">
                    <div class="button btn btn-primary next" ng-click="next()">
                        Check it Out
                    </div>
                    <div class="under-button-text">
                        Quick. Simple. Safe.
                    </div>
                </div>
            </div>
            <div class="featured-homes" id="featuredHomes">
                <div class="travelers-list">
                    <div class="mg-0 row">
                        <div class= "traveler-col col-sm-4 col-xs-12 animated {{'traveler'+$index}}" ng-repeat="traveler in travelers |limitTo : 3" id="{{traveler._id}}" ng-click="$event.preventDefault();next()">
                            <swapper-home traveler="traveler" lazy-load></swapper-home>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <div class="button btn btn-primary next" ng-click="next()">See more Swappers</div>
                </div>
            </div>
            <div class="inner-section row">
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">Use Your Home to Travel</div>
                    <div class="join">
                        <div class="description-icon icon icon-house animated"></div>
                    </div>
                    <div class="how-inner-sentences first animated">
                        You stay at their place, they stay at yours
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">Get Swap Credits for Your Next Trip</div>
                    <div class="join">
                        <div class="description-icon icon icon-money animated"></div>
                    </div>
                    <div class="how-inner-sentences second animated">
                        More Credits = More Swaps = More Trips
                    </div>
                </div>
                <div class="how-inner-ticket col-sm-4 col-xs-12">
                    <div class="ticket-title">Save Money, Start Swapping</div>
                    <div class="join">
                        <div class="description-icon icon icon-matos animated" ></div>
                    </div>
                    <div class="how-inner-sentences third animated">
                        Follow your dreams and explore the world!
                    </div>
                </div>
                <div class="col-xs-12" >
                    <div class="button-container">
                        <div class="button btn btn-primary invert-btn next" ng-click="next()">
                            Let's Go!
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="pre-login" class="section in {{phase !== 'pre-login'?'animate-out':''}}" ng-if="phase === 'pre-login'">
            <div class="description">
                <div class="title">Let us know a bit about your home
                </div>
                <div class="sub-title">So we can find a perfect match for you
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next" ng-click="next()">
                    Lets do this!
                </div>
            </div>
        </div>
        <div id="where" class="section in {{phase !== 'where'?'animate-out':''}}" ng-if="phase === 'where'">
            <div class="description">
                <div class="title">OK, first question, where do you want to go?
                </div>
            </div>
            <div class="places">
                <div class="places-buttons">
                    <div class="place {{search.where === place?'clicked':''}}" ng-repeat="place in places" ng-click="setCity(place)">
                        {{place}}
                    </div>
                </div>
                <div class="location">
                    <input type="text" class="form-control {{error?'error':''}}" ng-change="unsetError()" placeholder="Another location" id="searchCity" ng-model="search.where" autocomplete city="true">
                    <div class="icon icon-infocenter"></div>
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next {{search.where?'':'disabled'}}" ng-click="next()">
                    Next Step
                </div>
            </div>
        </div>
        <div id="when" class="section dates-section in {{phase !== 'when'?'animate-out':''}}" ng-show="phase === 'when'">
            <div class="description">
                <div class="title">Cool!
                </div>
                <div class="title">Next up, when do you want to travel?
                </div>
            </div>
            <div class="sign-up-dates">
                <div class="calendar" ng-change="unsetError()" ng-model="search.date" id="searchDate" name="searchDate"  parent-el="'dates-section'" swap-dates="search" locale-format="localeFormat" model-format="modelFormat" find-travel="false" opens="'center'" unlinked="$root.isMobile" datepicker>
                </div>
            </div>
            <div class="button-container under-calendar">
                <div class="single-checkbox">
                    <div class="things-checkbox" ng-click="search.date?search.date = undefined:search.date = 1">
                        <div class="check icon icon-check {{search.date === 1?'checked':''}}"></div>
                    </div>
                    I haven't decided yet
                </div>
                <div class="button btn btn-primary next {{search.when || search.date === 1?'':'disabled'}}" ng-click="next()">
                    Next Step
                </div>
            </div>
        </div>
        <div id="who" class="section in {{phase !== 'who'?'animate-out':''}}" ng-show="phase === 'who'">
            <div class="description">
                <div class="title">Will anyone be joining you on your trip?
                </div>
            </div>
            <div class="travelers">
                <div>
                    <div class="single-checkbox">
                        <div class="things-checkbox" ng-click="search.alone = true">
                            <div class="check icon icon-check {{search.alone?'checked':''}}"></div>
                        </div>
                        Nope, just me
                    </div>
                </div>
                <div>
                    <div class="single-checkbox">
                        <div class="things-checkbox" ng-click="search.alone = false">
                            <div class="check icon icon-check {{!search.alone?'checked':''}}"></div>
                        </div>
                        <input type="number" class="form-control guests {{error?'error':''}}" ng-change="unsetError();search.alone = false" id="guests" placeholder="1" ng-model="search.guests" min="1" max="8">
                        More travelers
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next {{search.alone || (!search.alone && search.guests)?'':'disabled'}}" ng-click="next()">
                    Next Step
                </div>
            </div>
        </div>
        <div id="flight" class="section in {{phase !== 'flight'?'animate-out':''}}" ng-show="phase === 'flight'">
            <div class="description">
                <div class="title">Have you booked a flight yet?
                </div>
            </div>
            <div class="travelers">
                <div class="flight">
                    <div class="single-checkbox">
                        <div class="things-checkbox" ng-click="search.flight = false">
                            <div class="check icon icon-check {{!search.flight?'checked':''}}"></div>
                        </div>
                        No, not yet
                    </div>
                </div>
                <div class="flight">
                    <div class="single-checkbox">
                        <div class="things-checkbox" ng-click="search.flight = true">
                            <div class="check icon icon-check {{search.flight?'checked':''}}"></div>
                        </div>
                        Yes, I have
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next" ng-click="next()">
                    Next Step
                </div>
            </div>
        </div>
        <div id="almostDone" class="section in {{phase !== 'almost-done'?'animate-out':''}}" ng-show="phase === 'almost-done'">
            <div class="description">
                <div class="sub-title">Good job!
                </div>
                <div class="title">Almost done...
                </div>
                <div class="sub-title">
                    Now tell us a bit about yourself and your
                    <br>home so we can find your perfect Swap match

                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next" ng-click="next()">
                    Let’s do this!
                </div>
            </div>
        </div>
        <div id="signUp" class="section in sign-up {{phase !== 'sign-up'?'animate-out':''}}" ng-show="phase === 'sign-up'">
            <div class="login-model">
                <div class="email-login">
                    <div class="title">
                        Quick Sign Up!
                        <div class="underline"></div>
                    </div>
                    <div class="sub-title">
                        So we can let you know about Swap matches
                    </div>
                    <form name="signupForm">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <div class="">
                                    <input class="form-control {{firstNameInvalid?'error':''}}" type="text" id="firstName" name="firstName" placeholder="First Name" ng-focus="setToFalse('firstNameInvalid')" ng-model="credentials.firstName" required>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <div class="">
                                    <input class="form-control {{lastNameInvalid?'error':''}}" type="text" id="lastName" name="lastName" placeholder="Last Name" ng-focus="setToFalse('lastNameInvalid')" ng-model="credentials.lastName" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input class="form-control {{emailInvalid?'error':''}}" type="email" id="email" name="email" placeholder="Email" ng-focus="setToFalse('emailInvalid')" ng-model="credentials.email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="password">
                                <input class="form-control {{passwordInvalid?'error':''}}" type="password" id="password" name="password" placeholder="Password" ng-focus="setToFalse('passwordInvalid')"  ng-model="credentials.password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input class="form-control {{confirmPasswordInvalid?'error':''}}" type="password" id="confirmPassword" name="confirmPassword" ng-focus="setToFalse('confirmPasswordInvalid')" placeholder="Confirm Password" ng-model="credentials.confirmPassword" required>
                            </div>
                        </div>
                    </form>
                    <div class="error" ng-if="error">{{error}}</div>
                    <div class="sub-title">
                        Or sign up with:
                    </div>
                    <div class="social">
                        <button type="button" class="btn btn-default login-button facebook-button" ng-click="FBLogin()"><i class="fa fa-facebook-square"></i></button>
                        <button type="button" class="btn btn-default login-button google-button" ng-click="GoogleLogin()"><div class="google-icon"></div></button>
                    </div>
                    <div class="button-container">
                        <div class="button btn btn-primary next" ng-click="EmailLogin(signupForm)">
                            Next Step
                        </div>
                    </div>
                    <div class="bottom">
                        By Joining Swaps you agree to our <br><span class="link" ng-click="terms()">Terms and Conditions</span>
                        and <span class="link" ng-click="policy()">Privacy Policy</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="credits" class="section in {{phase !== 'credits'?'animate-out':''}}" ng-show="phase === 'credits'">
            <div class="description">
                <div class="title">Great! You deserve Swap Credits
                </div>
                <div class="sub-title">
                    Here are 2 Swap Credits <strong><a target="_blank" href="how-it-works#swapCredits">[learn more]</a></strong>
                    <br>a little gift from us before we move on :)

                </div>
                <div class="coins"></div>
                <div class="sub-title">
                    2 credits
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next" ng-click="next()">
                    {{type !== '2'?'On to the last step!':'First Question'}}
                </div>
            </div>
        </div>
        <div id="details"  class="section in sign-up {{phase !== 'details'?'animate-out':''}}" ng-show="phase === 'details'">
            <div class="description">
                <div class="sub-title">{{type !== '3'?'Last Step! Home Details':'Your home details'}}
                </div>
            </div>
            <div class="home-details">
                <div class="form-group">
                    <label class="control-label listing-label" for="address" uib-tooltip="Where you live" tooltip-placement="right" tooltip>My Address:
                    </label>
                    <input class="form-control {{addressError?'error':''}}" ng-change="unsetError()" id="address" type="text" placeholder="Enter Your home address" ng-model="user.address" autocomplete>
                </div>
                <div class="form-group">
                    <label class="control-label listing-label" for="title" uib-tooltip="A short description of your home" tooltip-placement="right" tooltip>Home Title:
                        <span class="explanation"></span>
                    </label>
                    <div class="">
                        <input class="form-control {{titleError?'error':''}}" ng-change="unsetError()" type="text" id="title" placeholder="{{user.firstName}}'s Beautiful Home" ng-model="user.apptInfo.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label listing-label" uib-tooltip="The type of room you are offering" tooltip-placement="right" tooltip>Room Type:<br>
                        <span class="explanation"></span>
                    </label>
                    <div class="">
                        <select class="form-control room-type {{roomError?'error':''}}" ng-change="unsetError()" id="roomType" ng-model="user.apptInfo.roomType"
                                ng-options="room.id as room.displayName for room in data.roomType">
                            {{room.displayName}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label listing-label" >How many people can stay at your place while your away?
                    </label>
                    <div>
                        <input class="form-control swappers {{guestsError?'error':''}}" ng-change="unsetError()" id="swappers" type="number" min="1" max="8" ng-model="user.apptInfo.guests">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div class="button btn btn-primary next find {{user.address && user.address !== '' && user.apptInfo.title && user.apptInfo.title !== '' && user.apptInfo.guests && user.apptInfo.guests > 0 && user.apptInfo.roomType !== undefined?'':'disabled'}}" ng-click="type !== '3'?findMatches():next()">
                    {{type !== '3'?'Find me a home to Swap!':'Next Step'}}
                </div>
            </div>
        </div>
        <div id="basics" class="section in {{phase !== 'basics'?'animate-out':''}}" ng-show="phase === 'basics'">
            <div class="basic-information">
                <div class="description">
                    <div class="sub-title">What else do you have at your home?
                    </div>
                    <div class="row basics-top">
                        <div class="col-sm-4 col-xs-12 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-door"></div>
                                <div class="basics-name">Bedrooms</div>
                                <input class="form-control" id="rooms" type="number" min="1" max="4" step="1"
                                       ng-model="user.apptInfo.rooms">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-bed"></div>
                                <div class="basics-name">Beds</div>
                                <input class="form-control" id="beds" type="number" min="1" max="8"
                                       ng-model="user.apptInfo.beds">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-duck"></div>
                                <div class="basics-name">Baths</div>
                                <input class="form-control" id="baths" type="number" min="1" max="8"
                                       ng-model="user.apptInfo.baths">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12">
                                <checkbox items="data.amenities" model="user.apptInfo.amenities"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <div class="button btn btn-primary next" ng-click="next()">
                        Next Step
                    </div>
                </div>
            </div>
        </div>
        <div id="photo" class="section in {{phase !== 'photo'?'animate-out':''}}" ng-if="phase === 'photo'">
            <div class="basic-information photos">
                <div class="description">
                    <div class="title">
                        Do you have any photos of your home on this device?
                    </div>
                    <div class="sub-title">
                        If you do - upload them here.<br>
                        If not, no worries - we'll upload a temporary photo for you.
                    </div>
                    <div class="photos-area">
                        <div class="box has-advanced-upload" ng-if="user.photos.length < 3">
                            <div class="loader-wrapper" ng-if="saving">
                                <div class="loader">

                                </div>
                            </div>
                            <div class="box__input">
                                <input class="cloudinary-fileupload" id="file" data-ng-init="initUploadButton()" ng-if="user.photos.length < 3" data-cloudinary-field="image_id"
                                       data-max-chunk-size="52428800" data-update-path="google.com"
                                       data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" multiple="multiple" name="file" type="file" />
                                <label for="file" class="choose-file"><strong>Choose files</strong><span class="box__dragndrop"> or drag them here.</span></label>
                            </div>
                        </div>
                        <div class="uploaded-photos row">
                            <div class="col-sm-12 col-xs-12 photo" style="background-image: url({{user.photos[0]}})"></div>
                        </div>
                    </div>
                    <div class="progress" ng-if="uploadStarted">
                        <div class="progress-bar" ng-style="{'width': imageProgress + '%'}">

                        </div>
                    </div>
                    <div class="button-container">
                        <div class="button btn btn-primary next find" ng-click="findMatches()">
                            Find me a home to Swap!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" ng-if="searching">
            <div class="loader-container">
                <div class="cssload-loader">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <div class="description">
                    <div class="title">Searching...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>