<div class="payment-plan">
    <div class="row all-plans">
        <div class="col-sm-4">
            <div class="single-plan nomad">
                <div class="plan-top">
                    <div class="plan-title">
                        {{data.securityDeposit[0].displayName}}
                        <br>
                        Payment Plan
                    </div>
                    <div class="plan-image">

                    </div>
                </div>
                <div class="plan-bottom">
                    <div class="small-text">
                        Per night
                    </div>
                    <div class="price">
                        {{data.securityDeposit[0].night}}$
                    </div>
                    <div class="covers">
                        This plan covers up to <br> {{data.securityDeposit[0].damage}}$
                    </div>
                    <div class="small-text">
                        in damages or cancellations
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-plan globetrotter">
                <div class="plan-top">
                    <div class="plan-title">
                        {{data.securityDeposit[1].displayName}}
                        <br>
                        Payment Plan
                    </div>
                    <div class="plan-image">

                    </div>
                </div>
                <div class="plan-bottom">
                    <div class="small-text">
                        Per night
                    </div>
                    <div class="price">
                        {{data.securityDeposit[1].night}}$
                    </div>
                    <div class="covers">
                        This plan covers up to <br> {{data.securityDeposit[1].damage}}$
                    </div>
                    <div class="small-text">
                        in damages or cancellations
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-plan cosmopolite">
                <div class="plan-top">
                    <div class="plan-title">
                        {{data.securityDeposit[2].displayName}}
                        <br>
                        Payment Plan
                    </div>
                    <div class="plan-image">

                    </div>
                </div>
                <div class="plan-bottom">
                    <div class="small-text">
                        Per night
                    </div>
                    <div class="price">
                        {{data.securityDeposit[2].night}}$
                    </div>
                    <div class="covers">
                        This plan covers up to <br> {{data.securityDeposit[2].damage}}$
                    </div>
                    <div class="small-text">
                        in damages or cancellations
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
