<div class="swaps-wrapper {{onboarding?'onboarding-swap-wrapper':''}}">
    <!--<div class="icon icon-delete top-corner" ng-click="close()" ng-if="popup"></div>-->
    <div class="title" ng-if="!onboarding">Got any travel plans?
        <div class="underline"></div>
    </div>
    <div class="sub-title" ng-if="!onboarding">
        Enter the information below,
        and we’ll get started on finding you a perfect Swap.
    </div>
    <div class="edit-swaps {{popup || toMany?'':'overflow'}}" ng-if="!onboarding">
        <div class="single-swap" ng-repeat="swap in swaps | orderBy : orderByDeparture | limitTo : limit track by swap._id ">
            <div class="row search-area">
                <div class="search-field left col-sm-4 col-xs-12">
                    <input type="text" class="form-control" placeholder="Anywhere" id="searchCity{{$index}}" ng-model="swap.fullDestination" ng-disabled="saving || editingField != $index" disabled="{{saving || editingField != $index}}" autocomplete city="true">
                    <div class="icon icon-infocenter"></div>
                </div>
                <div class="search-field when transition-ease col-sm-6 col-xs-12">
                    <div class="row xs-flex">
                        <div class="{{swap.rangeLabel?'col-xs-7 col-sm-7':'col-sm-12'}}">
                            <input type="text" class="form-control no-border" placeholder="Anytime" id="searchDate{{$index}}" name="searchDate{{$index}}" ng-model="swap.dates" swap-dates="swap" user="user" profile="false"
                                   user-city="userCity" locale-format="localeFormat" model-format="modelFormat"  find-travel="true" set-up-swap="true" datepicker
                                   data="data" ng-disabled="saving || editingField != $index" disabled="{{saving || editingField != $index}}" ng-change="changeDates(swap)">
                            <div class="glyphicon glyphicon glyphicon-remove {{swap.rangeLabel?'':'pd-15'}}" ng-click="removeDates(swap)" ng-if="!saving && editingField == $index && swap.dates"></div>
                            <span class="flexible-departure">{{swap.rangeLabel === 'Weekends'?'Weekends':swap.rangeLabel === 'Within Range'?'Within next 2 months':swap.rangeLabel === 'Dates' && swap.startRange != 0 ?data.flexibleDates[swap.startRange].value:''}}</span>
                            <span class="flexible-return">{{swap.rangeLabel === 'Dates' && swap.endRange != 0?data.flexibleDates[swap.endRange].value:''}}</span>
                        </div>
                        <div class="{{swap.rangeLabel?'col-xs-5 col-sm-5':'col-xs-0'}}">
                            <div class="dropdown">
                                <div class="flexible-dates" data-toggle="dropdown" ng-if="swap.rangeLabel">
                                    {{swap.rangeLabel === 'Weekends'? data.weekendStart[swap.startRange].value +'-'+data.weekendEnd[swap.endRange].value :swap.rangeLabel === 'Dates'?swap.startRange != 0 || swap.endRange != 0?'Flexible':'Exact dates':swap.rangeLabel === 'Within Range'?(swap.startRange != swap.endRange?swap.startRange +'-'+ swap.endRange:swap.startRange) + ' Nights': ''}}
                                    <span class="glyphicon glyphicon-chevron-down" ng-if="editingField == $index"></span>
                                </div>
                                <div class="dropdown-menu" ng-if="editingField == $index && swap.rangeLabel">
                                    <form name="rangeForm" class="range-wr" novalidate>
                                        <div ng-if="swap.rangeLabel === 'Weekends'" class="xs-flex full-width">
                                            <div class="flex">
                                                <label class="flexible-label">Departure: </label>
                                                <select ng-model="swap.startRange" class="form-control">
                                                    <option ng-repeat="x in data.weekendStart" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                            <div class="flex">
                                                <label class="flexible-label">Return: </label>
                                                <select ng-model="swap.endRange" class="form-control">
                                                    <option ng-repeat="x in data.weekendEnd" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-if="swap.rangeLabel === 'Dates'" class="xs-flex full-width">
                                            <div class="flex">
                                                <label class="flexible-label">Departure: </label>

                                                <select ng-model="swap.startRange" class="form-control">
                                                    <option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                            <div class="flex">
                                                <label class="flexible-label">Return: </label>
                                                <select ng-model="swap.endRange" class="form-control">
                                                    <option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-if="swap.rangeLabel === 'Within Range'" class="duration-wr">
                                            <label class="flexible-label">Duration: </label>
                                            <input type="text" class="form-control" placeholder="6-8" name="durationRange" ng-model="swap.duration" ng-change="changeRange(swap)">
                                            <span class="nights">Nights</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icon icon-calender"></div>
                </div>
                <div class="search-field right transition-ease col-sm-2 col-xs-12 ">
                    <div class="guests-search">
                        <input type="number" class="form-control guests" placeholder="2" ng-model="swap.guests" min="1" max="8" ng-disabled="saving || editingField != $index" disabled="{{saving || editingField != $index}}">
                    </div>
                    <div class="icon icon-man-small"></div>
                </div>
            </div>
            <div class="action">
                <input type="button" class="btn btn-primary btn-edit" value="EDIT" ng-click="edit($index, swap)" ng-if="!saving && editingField != $index">
                <input type="button" class="btn btn-primary btn-send" value="SAVE" ng-click="update(swap)" ng-disabled="saving" ng-if="editingField == $index" disabled="{{saving}}">
                <div class="btn btn-danger" ng-click="removeTravelInfo(swap)" ng-if="!saving && editingField != $index" ng-disabled="saving" disabled="{{saving}}">
                    <div class="glyphicon glyphicon-remove">

                    </div>
                </div>
                <input type="button" class="btn btn-primary btn-cancel" value="CANCEL" ng-click="cancel(swap)" ng-disabled="saving" disabled="{{saving}}" ng-if="!saving && editingField == $index">
            </div>
        </div>
    </div>
    <div class="single-swap add-swap {{popup?'':'account-page-add'}} {{onboarding?'onboarding-add':''}}">
        <div class="row search-area {{onboarding?'onboarding-search-area':''}}">
            <div class="search-field left col-sm-4 col-xs-12">
                <input type="text" class="form-control" placeholder="Anywhere" id="addCity1" ng-model="addSwap.fullDestination" ng-disabled="editing" disabled="{{editing}}" autocomplete city="true">
                <div class="icon icon-infocenter"></div>
            </div>
            <div class="search-field when transition-ease col-sm-6 col-xs-12">
                <div class="row xs-flex">
                    <div class="{{!editing && addSwap.when?'col-xs-7 col-sm-7':'col-sm-12'}}">
                        <input type="text" class="form-control no-border" placeholder="Anytime" id="searchDateAdd" name="searchDateAdd" ng-model="addSwap.dates" swap-dates="addSwap" user="user" profile="false"
                               user-city="userCity" locale-format="localeFormat" model-format="modelFormat"  find-travel="true" set-up-swap="true" datepicker
                               data="data"  ng-disabled="editing" disabled="{{editing}}" ng-change="changeDates(addSwap)">
                        <div class="glyphicon glyphicon glyphicon-remove {{addSwap.when?'':'pd-15'}}" ng-click="removeDates(addSwap)" ng-if="addSwap.dates"></div>
                        <span class="flexible-departure">{{addSwap.rangeLabel === 'Weekends'?'Weekends':addSwap.rangeLabel === 'Within Range'?'Within next 2 months':addSwap.rangeLabel === 'Dates' && addSwap.startRange != 0 ?data.flexibleDates[addSwap.startRange].value:''}}</span>
                        <span class="flexible-return">{{addSwap.rangeLabel === 'Dates' && addSwap.endRange != 0?data.flexibleDates[addSwap.endRange].value:''}}</span>
                    </div>
                    <div class="{{addSwap.when?'col-xs-5 col-sm-5':'col-xs-0'}}">
                        <div class="dropdown">
                            <div class="flexible-dates" data-toggle="dropdown" ng-if="!editing && addSwap.when">
                                {{addSwap.rangeLabel === 'Weekends'? data.weekendStart[addSwap.startRange].value +'-'+data.weekendEnd[addSwap.endRange].value :addSwap.rangeLabel === 'Dates'?addSwap.startRange != 0 || addSwap.endRange != 0?'Flexible':'Exact dates':addSwap.rangeLabel === 'Within Range'?(addSwap.startRange != addSwap.endRange?addSwap.startRange +'-'+ addSwap.endRange:addSwap.startRange) + ' Nights': ''}}
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <div class="dropdown-menu">
                                <form name="rangeForm" class="range-wr" novalidate>
                                    <div ng-if="addSwap.rangeLabel === 'Weekends'" class="xs-flex full-width">
                                        <div class="flex">
                                            <label class="flexible-label">Departure: </label>
                                            <select ng-model="addSwap.startRange" class="form-control">
                                                <option ng-repeat="x in data.weekendStart" value="{{x.id}}">{{x.value}}</option>
                                            </select>
                                        </div>
                                        <div class="flex">
                                            <label class="flexible-label">Return: </label>
                                            <select ng-model="addSwap.endRange" class="form-control">
                                                <option ng-repeat="x in data.weekendEnd" value="{{x.id}}">{{x.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="addSwap.rangeLabel === 'Dates'" class="xs-flex full-width">
                                        <div class="flex">
                                            <label class="flexible-label">Departure: </label>

                                            <select ng-model="addSwap.startRange" class="form-control">
                                                <option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>
                                            </select>
                                        </div>
                                        <div class="flex">
                                            <label class="flexible-label">Return: </label>
                                            <select ng-model="addSwap.endRange" class="form-control">
                                                <option ng-repeat="x in data.flexibleDates" value="{{x.id}}">{{x.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="addSwap.rangeLabel === 'Within Range'" class="duration-wr">
                                        <label class="flexible-label">Duration: </label>
                                        <input type="text" class="form-control" placeholder="6-8" name="durationRange" ng-model="addSwap.duration" ng-change="changeRange(addSwap)">
                                        <span class="nights">Nights</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon icon-calender"></div>
            </div>
            <div class="search-field right transition-ease col-sm-2 col-xs-12 ">
                <div class="guests-search">
                    <input type="number" class="form-control guests" id="guests" placeholder="2" ng-model="addSwap.guests" min="1" max="8" ng-disabled="editing" disabled="{{editing}}">
                </div>
                <div class="icon icon-man-small"></div>
            </div>
        </div>
        <div class="action">
            <input type="button" class="btn btn-primary btn-send" value="ADD" ng-click="add()" ng-disabled="saving || editing" disabled="{{saving || editing}}">
        </div>
    </div>
    <div class="row search-area">
        <div class="search-field col-xs-12">
            <div class="checkbox-wrapper" style="padding-left: 5px">
                <div class="single-checkbox">
                    <div class="things-checkbox" ng-click="setAllowViewHome()">
                        <div class="check icon icon-check {{user.allowViewHome?'checked':''}}"></div>
                    </div>
                    <div class="text">
                        Open to other swap suggestions
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
