<div class="swaps-wrapper">
    <div class="title">{{title}}</div>
    <div class="edit-swaps {{popup || toMany?'':'overflow'}}">
        <div class="single-swap" ng-repeat="swap in swaps | limitTo : limit | orderBy : 'departure'">
            <div class="row search-area">
                <div class="search-field left col-sm-4 col-xs-12">
                    <input type="text" class="form-control" placeholder="Anywhere" id="searchCity{{$index}}" ng-model="swap.destination" ng-disabled="saving || editingField != $index" autocomplete city="true">
                </div>
                <div class="search-field col-sm-4 col-xs-12">
                    <input type="text" class="form-control" placeholder="Anytime" id="searchDate{{$index}}" name="searchDate{{$index}}" ng-focus="openDate('searchDate'+$index, swap)" ng-model="swap.dates" ng-disabled="saving || editingField != $index">
                    <div class="glyphicon glyphicon glyphicon-remove" ng-click="removeDates(swap)" ng-if="!saving && editingField == $index && swap.dates"></div>
                </div>
                <div class="search-field right col-sm-4 col-xs-12 ">
                    <div class="guests-search">
                        <input type="number" class="form-control guests" placeholder="2" ng-model="swap.guests" min="1" max="8" ng-disabled="saving || editingField != $index">
                    </div>
                </div>
            </div>
            <div class="action">
                <input type="button" class="btn btn-primary btn-send" value="EDIT" ng-click="edit($index, swap)" ng-if="!saving && editingField != $index">
                <input type="button" class="btn btn-primary btn-send" value="SAVE" ng-click="update(swap)" ng-disabled="saving" ng-if="editingField == $index">
                <input type="button" class="btn btn-danger" value="CANCEL" ng-click="cancel(swap)" ng-disabled="saving" ng-if="!saving && editingField == $index">
            </div>
        </div>
    </div>
    <div class="single-swap add-swap">
        <div class="row search-area">
            <div class="search-field left col-sm-4 col-xs-12">
                <input type="text" class="form-control" placeholder="Anywhere" id="addCity1" ng-model="addSwap.destination" ng-disabled="editing" autocomplete city="true">
            </div>
            <div class="search-field col-sm-4 col-xs-12">
                <input type="text" class="form-control" placeholder="Anytime" id="searchDateAdd" name="searchDateAdd" ng-focus="openDate('searchDateAdd', addSwap)" ng-model="addSwap.dates" ng-disabled="editing">
                <div class="glyphicon glyphicon glyphicon-remove" ng-click="removeDates(addSwap)" ng-if="addSwap.dates"></div>
            </div>
            <div class="search-field right col-sm-4 col-xs-12 ">
                <div class="guests-search">
                    <input type="number" class="form-control guests" id="guests" placeholder="2" ng-model="addSwap.guests" min="1" max="8" ng-disabled="editing">
                </div>
            </div>
        </div>
        <div class="action">
            <input type="button" class="btn btn-primary btn-send" value="ADD" ng-click="add()" ng-disabled="saving" ng-disabled="editing">
        </div>
    </div>
</div>
