<div ng-if="isProfile" class="col-md-2 dead-space"></div>
<div ng-if="isProfile" class="col-md-2 commenter-photo" style="background-image: url('{{commenter.image}}')">
</div>
<div ng-if="isProfile" class="col-md-8 commenter-comment-section">
    <div class="commenter-name">{{commenter.name}}</div>
    <div class="commenter-country-and-age">
        {{commenter.country}}
    </div>
    <div class="commenter-comment">
        {{commenter.review}}
    </div>
</div>
<!--<div class="separator"></div>-->



<div ng-if="!isProfile" class="col-md-2 commenter-photo" style="background-image: url('{{commenter.image}}')">
</div>
<div ng-if="!isProfile" class="col-md-10 commenter-comment-section">
    <div class="commenter-name">{{commenter.name}}</div>
    <div class="commenter-country-and-age">
        {{commenter.country}}
    </div>
    <div class="commenter-comment">
        {{commenter.review}}
    </div>
</div>
