<div class="traveler" ng-click="go('profile/'+traveler._id)">
    <div class="">
        <!--CAROUSEL START-->
        <div ng-attr-id="{{'myCarousel' + traveler._id}}"  class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="#" alt="First slide">
                    <div class="carousel-caption carousel-image" ng-style="{'background-image': 'url(' + traveler.photos[0] + ')'}">
                    </div>
                </div>
                <div class="item" ng-repeat="photo in traveler.photos.slice(1,entries.length)">
                    <img src="#" alt="{{$index}} slide">
                    <div class="carousel-caption carousel-image" ng-style="{'background-image': 'url(' + photo + ')'}">
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <div class="carousel-control left" data-slide="prev" ng-click="carouselPrev(traveler._id,$event)">
                <span class="carousel-control-arrow icon icon-arrow-left"></span>
            </div>
            <div class="carousel-control right" data-slide="next" ng-click="carouselNext(traveler._id,$event)">
                <span class="carousel-control-arrow icon icon-arrow-right"></span>
            </div>
        </div>
    </div>
    <div class="profile-img" style="background-image: url('{{traveler.image}}')">

    </div>
    <!--CAROUSEL END-->
    <div class="user-info">
        <div class="apt-sub-title">
            <span></span>{{traveler.city}}, {{$parent.data.roomType[traveler.apptInfo.roomType].displayName}} at {{traveler.firstName}}'s Home
        </div>
        <div class="apt-title">
            {{traveler.apptInfo.title}}
        </div>
        <div class="rating" ng-if="traveler.comments.length > 0">
            <span class="icon icon-fullstar-small" ></span>
            <span class="icon {{traveler.rating > 1?traveler.rating < 2?'icon-halfstar-small':'icon-fullstar-small':'icon-emptystar-small'}}"></span>
            <span class="icon {{traveler.rating > 2?traveler.rating < 3?'icon-halfstar-small':'icon-fullstar-small':'icon-emptystar-small'}}"></span>
            <span class="icon {{traveler.rating > 3?traveler.rating < 4?'icon-halfstar-small':'icon-fullstar-small':'icon-emptystar-small'}}"></span>
            <span class="icon {{traveler.rating > 4?traveler.rating < 5?'icon-halfstar-small':'icon-fullstar-small':'icon-emptystar-small'}}"></span>
            <!--<span class="number-reviews">{{traveler.reviews.length}}</span>-->
        </div>
        <div class="rating" ng-if="traveler.reviews.length == 0">
            <span class="new-appt" ng-if="traveler.reviews.length == 0">New!</span>
        </div>
        <div class="basics">
            <div class="tiny-text">
                <span class="icon icon-man-small"></span>
                {{traveler.apptInfo.guests}} Guests
            </div>
            <div class="tiny-text">
                <span class="icon icon-door-small"></span>
                1 room
            </div>
            <div class="tiny-text">
                <span class="icon icon-bed-small"></span>
                6 beds
            </div>
            <div class="tiny-text">
                <span class="icon icon-duck-small"></span>
                2 baths
            </div>
        </div>
    </div>
</div>
