<div class="points-wrapper">
    <div class="coins">

    </div>
    <div class="title">
        You have <span class="user-credits">{{currentPoints.toFixed(0)}}</span> travel points
    </div>
    <div class="sub-title" ng-if="pay">
        Get {{amount}} more Travel Points
    </div>
    <div class="buy-credits" ng-hide="pay">
        <div class="sub-title">
            Travel points can be traded in for nights at another Swapper's home, Staying at someones home costs 5 points per night.
        </div>
        <div class="title">
            Get more points
        </div>
        <div class="choose-amount">
            <div class="minus {{amount <= 1?'disabled':''}}" ng-click="subtractAmount()">
                <i class="fa fa-minus"></i>
            </div>
            <div class="amount">
                {{amount}}
            </div>
            <div class="plus" ng-click="addAmount()">
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="coin-drop {{makeItRain?'show':''}}">

        </div>
        <div class="btn btn-primary btn-buy {{makeItRain?'glow':''}}" ng-click="buyCredits()">
            Buy
        </div>
        <div class="total-cost">
            ${{(cost).toFixed(2)}}
        </div>
    </div>
    <div class="payment" ng-if="pay">
        <div class="loader-wrapper" ng-if="loading">
            <div class="loader">

            </div>
        </div>
        <iframe ng-src="{{iframeSrc}}" ng-if="!loading" class="tranzila" id="tranzila">
        </iframe>
        <div class="btn btn-primary btn-buy" ng-if="pay" ng-click="back()">
            Back
        </div>
    </div>
</div>
