<div class="onboarding-wrapper">
    <div class="icon icon-delete top-corner" ng-hide="$root.externalLogin" ng-click="closeModel()"></div>
    <div class="onboarding-header">
        <div class="phases">
            <div class="col-xs-4 phase">
                <div class="top">
                    <div class="line">

                    </div>
                    <div class="circle {{aboutCircle}} {{phase == 'about'?'active':''}}">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        About Me
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-3 phase">-->
                <!--<div class="top">-->
                    <!--<div class="line">-->

                    <!--</div>-->
                    <!--<div class="circle {{homeCircle}} {{phase == 'home'?'active':''}}">-->

                    <!--</div>-->
                    <!--<div class="line">-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="bottom">-->
                    <!--<div class="phase-title">-->
                        <!--My Home-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-xs-4 phase">
                <div class="top">
                    <div class="line">

                    </div>
                    <div class="circle {{basicCircle}} {{phase == 'basic'?'active':''}}">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        Basic Information
                    </div>
                </div>
            </div>
            <div class="col-xs-4 phase">
                <div class="top">
                    <div class="line">

                    </div>
                    <div class="circle {{photosCircle}} {{phase == 'photos'?'active':''}}">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        Photos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-area">
        <div class="user-info address" ng-if="phase == 'onSignup'">
            <div class="main-title">
                Welcome to Swaps!
            </div>
            <div class="sub-title">
                Complete your profile in a just few quick steps.<br> you can always edit this information through your account.
            </div>
            <div class="start-button padding-15">
                <div class="complete-btn btn btn-primary" ng-click="next()">
                    Start Now!
                </div>
            </div>
            <div ng-if="!user.community">
                <div class="description">
                    If you are joining as part of a community <br>
                    enter the community code given by your admin here:
                </div>
                <div class="community-input">
                    <input class="form-control" name="community" ng-model="community.code">
                </div>
                <div class="start-button padding-15">
                    <div class="complete-btn btn btn-primary btn-close" ng-click="sendCommunityCode()" ng-disabled="!community.code || community.code ==''">
                        Send
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info address" ng-if="phase == 'about'">
            <div class="">
                <div ng-if="!user.facebookId">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 form-group">
                            <label class="control-label listing-label" for="profile-pic" uib-tooltip="Choose a picture of yourself" tooltip-placement="bottom" tooltip>Profile Picture:
                            </label>
                            <div class="upload-profile-image" style="background-image: url({{user.image}})">
                                <input class="cloudinary-fileupload profile-upload" id="profile-pic" data-ng-init="initUploadProfileButton()" data-cloudinary-field="image_id"
                                       data-max-chunk-size="52428800" data-update-path="google.com"
                                       data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" name="profile" type="file" />
                                <label for="file" class="choose-file"></label>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12 form-group">
                            <label class="control-label listing-label" for="profile-pic" uib-tooltip="This will be used to show your age" tooltip-placement="right" tooltip>Birthday:
                            </label>
                            <input class="datepicker form-control" name="birthday" ng-model="user.birthday" birthday="user.birthday" birthday-picker>
                        </div>
                    </div>
                </div>
                <div ng-if="user.facebookId">
                    <div class="form-group">
                        <label class="control-label listing-label" for="email" data-toggle="tooltip" title="Enter a valid email" data-placement="right" tooltip>Email:
                            <span class="asterisk">*</span>
                        </label>
                        <input id="email" class="form-control {{user.email?'greyed-out':''}}" type="email" ng-model="user.email">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="control-label listing-label" for="occupation" data-toggle="tooltip" title="What you do for a living" data-placement="right" tooltip>Occupation:-->
                        <!--<span class="explanation "></span>-->
                    <!--</label>-->
                    <!--<input id="occupation" class="form-control" type="text" is-focused="!isInFocus && (!user.occupation || user.occupation == '')"  ng-blur="isInFocus = 'aboutMe'" ng-model="user.occupation">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label listing-label " for="aboutMe" data-toggle="tooltip" title="A short description of yourself" data-placement="right" tooltip>About Me:-->
                        <!--<span class="explanation "></span>-->
                    <!--</label>-->
                    <!--<div class="">-->
                        <!--<textarea id="aboutMe" rows="4" cols="20" class="form-control" is-focused="isInFocus == 'aboutMe' && (!user.aboutMe || user.aboutMe == '')" ng-blur="loseFocus()" ng-model="user.aboutMe"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="control-label listing-label" for="address" uib-tooltip="Where you live" tooltip-placement="right" tooltip>Address:
                        <span class="explanation"></span>
                    </label>
                    <input class="form-control" id="address" type="text" placeholder="Enter Your home address" is-focused="!isInFocus && (!user.address || user.address == '')" ng-blur="isInFocus = 'title'" ng-model="user.address" autocomplete>
                </div>
                <div class="form-group">
                    <label class="control-label listing-label" for="title" uib-tooltip="A short description of your home" tooltip-placement="right" tooltip>Home Title:
                        <span class="explanation"></span>
                    </label>
                    <div class="">
                        <input class="form-control" type="text" id="title" placeholder='e.g. "Beautiful apartment by the beach"'  is-focused="isInFocus == 'title' && (!user.apptInfo.title || user.apptInfo.title == '')" ng-blur="isInFocus = 'about'" ng-model="user.apptInfo.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label listing-label" uib-tooltip="The type of room you are offering" tooltip-placement="right" tooltip>Room Type:<br>
                        <span class="explanation"></span>
                    </label>
                    <div class="">
                        <select class="form-control" id="roomType" ng-model="user.apptInfo.roomType"
                                ng-options="room.id as room.displayName for room in data.roomType">
                            {{room.displayName}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="user-info address" ng-if="phase == 'home'">-->

            <!--<div class="form-group">-->
                <!--<label class="control-label listing-label" for="address" data-toggle="tooltip" title="Where you live" data-placement="right" tooltip>Address:-->
                    <!--<span class="explanation"></span>-->
                <!--</label>-->
                <!--<input class="form-control" id="address" type="text" placeholder="Enter Your home address" is-focused="!isInFocus && (!user.address || user.address == '')" ng-blur="isInFocus = 'title'" ng-model="user.address" autocomplete>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label listing-label" for="title" data-toggle="tooltip" title="A short description of your home" data-placement="right" tooltip>Home Title:-->
                    <!--<span class="explanation"></span>-->
                <!--</label>-->
                <!--<div class="">-->
                    <!--<input class="form-control" type="text" id="title" placeholder="Describe your home"  is-focused="isInFocus == 'title' && (!user.apptInfo.title || user.apptInfo.title == '')" ng-blur="isInFocus = 'about'" ng-model="user.apptInfo.title">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label listing-label" data-toggle="tooltip" title="The type of room you are offering" data-placement="right" tooltip>Room Type:<br>-->
                    <!--<span class="explanation"></span>-->
                <!--</label>-->
                <!--<div class="">-->
                    <!--<select class="form-control" id="roomType" ng-model="user.apptInfo.roomType"-->
                            <!--ng-options="room.id as room.displayName for room in data.roomType">-->
                        <!--{{room.displayName}}-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="control-label listing-label " for="aboutMyHome" data-toggle="tooltip" title="What makes your home special" data-placement="right" tooltip>About My Home:</label>-->
                <!--<div class="">-->
                    <!--<textarea id="aboutMyHome" rows="4" cols="20" class="form-control" is-focused="isInFocus == 'about' && (!user.apptInfo.about || user.apptInfo.about == '')" ng-blur="loseFocus()" ng-model="user.apptInfo.about"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="basic" ng-if="phase == 'basic'">
            <div class="form-group">
                <label class="control-label listing-label" uib-tooltip="Essential information about you home" tooltip-placement="right" tooltip>Basics:
                    <span class="explanation"></span>
                </label>
                <div class="">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3  basics">
                            <div class="name-with-icon">
                                <div class="icon icon-man-small hidden-xs"></div>
                                <div class="basics-name" uib-tooltip="How many guests can your home accommodate" tooltip-placement="right" tooltip>Guests</div>
                            </div>
                            <input class="form-control" id="swappers" type="number" min="1" max="8"
                                   ng-model="user.apptInfo.guests">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-door-small hidden-xs"></div>
                                <div class="basics-name">Rooms</div>
                            </div>
                            <input class="form-control" id="rooms" type="number" min="1" max="8"
                                   ng-model="user.apptInfo.rooms">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-bed-small hidden-xs"></div>
                                <div class="basics-name">Beds</div>
                            </div>
                            <input class="form-control" id="beds" type="number" min="1" max="8"
                                   ng-model="user.apptInfo.beds">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-duck-small hidden-xs"></div>
                                <div class="basics-name">Baths</div>
                            </div>
                            <input class="form-control" id="baths" type="number" min="1" max="8"
                                   ng-model="user.apptInfo.baths">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-section rules">
                <div class="form-group row">
                    <label class="control-label listing-label" uib-tooltip="Things you have in your home" tooltip-placement="right" tooltip>Facilities:
                        <span class="explanation"></span>
                    </label>
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12">
                                <checkbox items="data.amenities" model="user.apptInfo.amenities"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info photos" ng-if="phase == 'photos'">
            <div class="photos-title">
                Upload a nice photo of your home
            </div>
            <div class="photos-sub-title">
                You can add more photos of your place at the "My Home" tab in your profile.<br>
                Homes with 3 or more photos are far more likely to get viewed
            </div>
            <div class="photos-area">
                <div class="box has-advanced-upload" ng-if="user.photos.length < 3">
                    <div class="loader-wrapper" ng-if="saving">
                        <div class="loader">

                        </div>
                    </div>
                    <div class="box__input">
                        <input class="cloudinary-fileupload" id="file" data-ng-init="initUploadButton()" ng-if="user.photos.length < 3" data-cloudinary-field="image_id"
                        data-max-chunk-size="52428800" data-update-path="google.com"
                        data-url="https://api.cloudinary.com/v1_1/swaps/auto/upload" multiple="multiple" name="file" type="file" />
                        <label for="file" class="choose-file"><strong>Choose files</strong><span class="box__dragndrop"> or drag them here.</span></label>
                    </div>
                </div>
                <div class="uploaded-photos row">
                    <div class="col-sm-12 col-xs-12 photo" style="background-image: url({{user.photos[0]}})"></div>
                </div>
            </div>
            <div class="progress" ng-if="uploadStarted">
                <div class="progress-bar" ng-style="{'width': imageProgress + '%'}">

                </div>
            </div>
        </div>
        <div ng-if="phase == 'completedOnboarding'">
            <div>
                <div ng-if="profileComplete()">
                    <div class="main-title">
                        Nice! <br>
                        Your profile is complete
                    </div>
                    <div class="sub-title">
                        Got any travel plans?<br>
                        Enter the information below, <br>and we’ll get started on finding you a perfect Swap.
                    </div>
                    <div class="swap-dates">
                        <swaps swaps="user.travelingInfo" popup="true" onboarding="true" close-model="closeModel()"></swaps>
                    </div>
                    <!--<div class="start-button end swap-dates-end">-->
                        <!--<div class="sub-title">-->
                            <!--No plans yet?<br>-->
                            <!--See what else we have to offer-->
                        <!--</div>-->
                        <!--<div class="complete-btn btn btn-primary" ng-click="go('travelers')">-->
                            <!--Search for Swap!-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div ng-if="!profileComplete()">
                    <div class="main-title">
                        Hold Up! <br>
                        It seems like you forgot to fill in some info
                    </div>
                    <div class="sub-title">
                        You need to complete your profile in order to send and receive swap requests
                    </div>
                </div>
                <invite-friends></invite-friends>
            </div>
        </div>
    </div>
    <div class="buttons {{phase == 'about'?'home':''}}">
        <div class="button back" ng-click="back()" ng-hide="phase == 'about' || phase == 'onSignup' || noBack">
            <div class="glyphicon glyphicon-chevron-left"></div>
            Back
        </div>
        <div class="button next" ng-click="next()" ng-hide="phase == 'photos' || phase == 'onSignup' || phase == 'completedOnboarding'">
            {{isPhaseComplete() == 3?'Next':'Skip'}}
            <div class="glyphicon glyphicon-chevron-right"></div>
        </div>
        <div class="button next" ng-click="finish()" ng-if="phase == 'photos'">
            Complete
            <div class="glyphicon glyphicon-chevron-right"></div>
        </div>
        <div class="button next close" ng-click="closeModel()" ng-if="phase == 'completedOnboarding'">
            {{!profileComplete()?'I’ll do it later':'Continue'}}
        </div>
    </div>
</div>
