<div class="onboarding-wrapper">
    <div class="icon icon-delete top-corner" ng-click="close()"></div>
    <div class="onboarding-header">
        <div class="phases">
            <div class="col-sm-4 phase">
                <div class="top">
                    <div class="line active">

                    </div>
                    <div class="circle active">

                    </div>
                    <div class="line active">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        Address
                    </div>
                </div>
            </div>
            <div class="col-sm-4 phase">
                <div class="top">
                    <div class="line {{phase == 'home'?'active':''}}">

                    </div>
                    <div class="circle {{phase == 'home'?'active':''}}">

                    </div>
                    <div class="line {{phase == 'home'?'active':''}}">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        Home Information
                    </div>
                </div>
            </div>
            <div class="col-sm-4 phase">
                <div class="top">
                    <div class="line">

                    </div>
                    <div class="circle">

                    </div>
                    <div class="line">

                    </div>
                </div>
                <div class="bottom">
                    <div class="phase-title">
                        Photos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-area">
        <div class="user-info address" ng-if="phase == 'address'">
            <div class="address-title">
                You are almost ready to start swapping!
            </div>
            <div class="sub-title">
                Complete your profile so other Swappers will be able to request Swaps
            </div>
            <div class="form-area">
                <label class="label">Enter your current address</label>
                <input class="form-control address-input" id="address" type="text" placeholder="Your current address" ng-model="user.address" autocomplete>
            </div>
        </div>
        <div class="user-info" ng-if="phase == 'home'">
            <div class="form-group">
                <label class="col-sm-3 control-label">Basics:<br>
                    <span class="explanation">Essential information</span>
                </label>
                <div class="col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-man-small"></div>
                                <div class="basics-name">Swappers</div>
                            </div>
                            <input class="form-control" id="swappers" type="number" min="1" max="8"
                                   ng-model="edit.apptInfo.guests">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-door-small"></div>
                                <div class="basics-name">Rooms</div>
                            </div>
                            <input class="form-control" id="rooms" type="number" min="1" max="8"
                                   ng-model="edit.apptInfo.rooms">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-bed-small"></div>
                                <div class="basics-name">Beds</div>
                            </div>
                            <input class="form-control" id="beds" type="number" min="1" max="8"
                                   ng-model="edit.apptInfo.beds">
                        </div>
                        <div class="col-sm-3 col-xs-3 basics">
                            <div class="name-with-icon">
                                <div class="icon icon-duck-small"></div>
                                <div class="basics-name">Baths</div>
                            </div>
                            <input class="form-control" id="baths" type="number" min="1" max="8"
                                   ng-model="edit.apptInfo.baths">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label listing-label">About my home:<br>
                    <span class="explanation">What makes your home special</span>
                </label>
                <div class="col-sm-6 col-xs-12">
                                <textarea rows="6" cols="20" class="form-control"
                                          ng-model="edit.apptInfo.about"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label listing-label">Room Type:<br>
                    <span class="explanation">The type of room you are offering</span>
                </label>
                <div class="col-sm-4 col-xs-12">
                    <select class="form-control" id="roomType" ng-model="edit.apptInfo.roomType"
                            ng-options="room.id as room.displayName for room in data.roomType">
                        {{room.displayName}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label listing-label">Payment Plan:<br>
                    <span class="explanation">Choose the plan that suits your needs</span>
                </label>
                <div class="col-sm-4 col-xs-12">
                    <select class="form-control" id="deposit" ng-model="edit.deposit"
                            ng-options="plan.id as plan.displayName + ' - $' + plan.value + ' per night' for plan in data.securityDeposit">
                        {{plan.displayName}} - ${{plan.value}} per night
                    </select>
                </div>
                <div class="col-sm-4 col-xs-12 plan-explanation">
                    This plan covers you for up to ${{data.securityDeposit[edit.deposit].week}} in cases of
                    damages and cancellations
                </div>
            </div>
            <div class="info-section rules">
                <div class="form-group row">
                    <label class="col-sm-3 control-label listing-label">Facilities:<br>
                        <span class="explanation">Things you have in your home</span>
                    </label>
                    <div class="col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <checkbox items="data.amenities" model="edit.apptInfo.amenities"></checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button back">
            <div class="glyphicon glyphicon-chevron-left"></div>
            Back
        </div>
        <div class="button next" ng-click="next()">
            Next
            <div class="glyphicon glyphicon-chevron-right"></div>
        </div>
    </div>
</div>
