<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swaps</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://swapshome.com/images/static/preview.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://swapshome.com" />
    <meta property="og:title" content="Swaps - Home is Wherever." />
    <meta property="og:description" content="Swaps is about creating a home swapping solution for a new generation of digital nomads around the world. Our platform offers wanderers at heart an, easy, safe, and cheap way to live their dreams and travel anywhere, hassle-free." />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/angular-material.min.css">
    <link rel="stylesheet" href="/directives/ng-image-gallery/dist/ng-image-gallery.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/daterangepicker.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/css/main.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">
    <link href="bower_components/alertifyjs/src/css/alertify.css" rel="stylesheet">


    <!--<script src ="http://localhost:3000/utils/google-map"></script>-->
    <script src ="https://swapshome.com/utils/google-map"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/angular-aria.min.js"></script>
    <script src="/javascripts/angular-messages.min.js"></script>
    <script src="/javascripts/angular-material.min.js"></script>
    <script src="/javascripts/angular-route.min.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/bootstrap-datepicker.min.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/daterangepicker.js"></script>
    <!--<script src="/javascripts/ng-image-gallery.min.js"></script>-->
    <script src="/javascripts/hammer.min.js"></script>
    <script src="/javascripts/jqueryviewport.js"></script>
    <script src="/javascripts/noframework.waypoints.min.js"></script>
    <script src="/javascripts/paging.js"></script>

    <script src="/directives/ng-image-gallery/dist/ng-image-gallery.js"></script>
    <script src="/bower_components/alertifyjs/dist/js/alertify.js"></script>
    <script src="/bower_components/alertifyjs/dist/js/ngAlertify.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>

    <script src="/javascripts/app.js"></script>

    <script src="/javascripts/filters/filter.js"></script>

    <script src="/javascripts/services/users.js"></script>
    <script src="/javascripts/services/account.js"></script>
    <script src="/javascripts/services/message.js"></script>
    <script src="/javascripts/services/utils.js"></script>
    <script src="/javascripts/services/tranzilla.js"></script>
    <script src="/javascripts/services/blog.js"></script>
    <script src="/javascripts/services/home.js"></script>
    <script src="/javascripts/services/reviews.js"></script>

    <script src="/javascripts/directives/scrollers.js"></script>
    <script src="/javascripts/directives/duration-validate.js"></script>
    <script src="/directives/swappers/swapper.js"></script>
    <script src="/directives/reviews/reviews.js"></script>
    <script src="/directives/swaps/swaps.js"></script>
    <script src="/directives/checkbox/checkbox.js"></script>
    <script src="/directives/payment/payment.js"></script>
    <script src="/directives/request/request.js"></script>
    <script src="/directives/autocomplete/autocomplete.js"></script>
    <script src="/directives/datepicker/datepicker.js"></script>
    <script src="/directives/login/login.js"></script>
    <script src="/directives/cancelSwap/cancel.js"></script>
    <script src="/directives/onboarding/onboarding.js"></script>
    <script src="/directives/tooltip/tooltip.js"></script>
    <script src="/directives/autofocus/autofocus.js"></script>
    <script src="/directives/birthdayPicker/birthdayPicker.js"></script>
    <script src="/directives/scroll-animate/scroll-animate.js"></script>
    <script src="/directives/bind-scroll-css/bind-scroll-opacity.js"></script>
    <script src="/directives/bind-scroll-css/bind-scroll-background-position.js"></script>
    <script src="/directives/invite-friends/invite-friends.js"></script>

    <script src="/javascripts/controllers/mainCtrl.js"></script>
    <script src="/javascripts/controllers/home.js"></script>
    <script src="/javascripts/controllers/header.js"></script>
    <script src="/javascripts/controllers/travelers.js"></script>
    <script src="/javascripts/controllers/account.js"></script>
    <script src="/javascripts/controllers/profile.js"></script>
    <script src="/javascripts/controllers/blog.js"></script>
    <script src="/javascripts/controllers/verifyEmail.js"></script>
    <script src="/javascripts/controllers/review.js"></script>
    <script src="/javascripts/controllers/inviteFriends.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.cloudinary.js"></script>
    <base href="/" />

    <!--google analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KKW4SKB');</script>
    <!-- End Google Tag Manager -->

    <!-- Tranzila Verified START -->
    <!--<script language="JavaScript" type="text/javascript"-->
            <!--src="https://secure5.tranzila.com/verified//tranzila.js?lng=ENG">-->
    <!--</script>-->
    <!-- Tranzila Verified END -->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2121458118141360');
        fbq('track', 'PageView');
    </script>

    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=2121458118141360&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '1628077027210389',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.1'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--<script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/059a543c6a594bc2a10ef357cc2ceea8/walkme_059a543c6a594bc2a10ef357cc2ceea8_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = {smartLoad:true}; })();</script>-->

</head>
<body ng-app="swapsApp">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKW4SKB"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div ng-include="'/pages/components/header.html'" ng-controller="headerController"></div>

<div ng-view ng-controller="mainController"></div>

<div ng-include="'/pages/components/footer.html'" ng-controller="mainController"></div>


<script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/9e5beb24-8ab1-42f2-8a8b-d7f2a88ac918.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();

//    window._mfq = window._mfq || [];
//    (function() {
//        var mf = document.createElement("script");
//        mf.type = "text/javascript"; mf.async = true;
//        mf.src = "//cdn.mouseflow.com/projects/c39d6feb-eb2d-4279-89a0-0a6cb6ac15a3.js";
//        document.getElementsByTagName("head")[0].appendChild(mf);
//    })();
</script>

<!--==========messenger widget==========-->
<style>
    .fb_hidden{ display: none; }
    .fb-messenger-btn{ z-index:9998; }
    .fb-widget{ position:absolute; top:80px; width:250px;    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08); height:320px; margin-left:auto; margin-right:auto; left:0; right:0; border:none; border-radius:3px; }
    .fb-text-icon{ position:fixed; right:60px; bottom:20px; z-index:9997; width:120px; }
    .fb-messenger-icon{ position:fixed; right:12px; bottom:12px; width:60px; z-index:9997; cursor: pointer; transition: 0.3s ease; }
    .fb-messenger-icon:hover{ -webkit-transform: scale(0.8);-ms-transform: scale(0.92);transform: scale(0.92);transition: 0.3s ease;}
    .fb-box{position: fixed; background: #F9F9F9; height: 100%; width: 100%; bottom:0; z-index:9998;  }
    .fb-x{ opacity: 0.5; height: 15px;position: absolute;right: 15px;top:15px; cursor:pointer;-webkit-transition: -webkit-transform .2s ease-in-out;transition: transform .2s ease-in-out;}
    .fb-x:hover{ opacity: 1; -webkit-transform: rotate(90deg); transform:rotate(90deg);}
    .by{top:410px;display: block;width:100px;height:auto;opacity: 0.7;position: absolute;margin-left:auto; margin-right:auto; left:0; right:0; }
    @media(min-width:768px) {
        .fb-widget{ position:absolute; top:15px!important; box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0);}
        .fb-box{  margin-right:5px; background: white; bottom:90px; right:20px; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); width:280px; height:380px; border-radius:3px; }
        .fb-x{ display: none; }
        .by{top:345px;}
    }
</style>

<!--pop up button-->
<div id="fb-messenger-btn" class="fb-messenger-btn">
    <!--pop-up box-->
    <div id="fb-side-pop" class="fb_hidden fb-box">
        <img class="fb-x" src="https://wonder-solve.com/assets/images/Pop/closeb.png" alt="close-icon">
        <iframe id="fb_iframe" title="fb:page Facebook Social Plugin" class="fb-widget" src="https://www.facebook.com/v2.7/plugins/page.php?adapt_container_width=true&amp;app_id=1852423625014087&amp;channel=http://staticxx.facebook.com/connect/xd_arbiter/r/ao6eUeuGXQq.js?version=42%23cb=f2e7f31ef1f77f4&amp;domain=wonder-solve.com&amp;origin=http://wonder-solve.com/f10d6823be05b5c&amp;relation=parent.parent&amp;container_width=0&amp;height=320&amp;hide_cover=true&amp;href=https://www.facebook.com/swapshome//&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=messages&amp;width=250">
        </iframe>
        <!--Please do not remove Wonder’s branding-->
        <a href="https://wonder-solve.com" target="_blank"><img src="https://wonder-solve.com/assets/images/Pop/by.svg" class="by" alt="Powered by Wonder"></a>
    </div>
    <!--<img class="fb-text-icon" src="https://wonder-solve.com/assets/images/Pop/text.svg" alt="text-icon">-->
    <img class="fb-messenger-icon" src="https://wonder-solve.com/assets/images/Pop/messenger-icon.png" alt="messenger-icon">
</div>

<script>
    function toggleTheWidget() {
        var fb_pop = document.getElementById('fb-side-pop');
        fb_pop.classList.toggle('fb_hidden');
    }
    var fb_btn = document.getElementById('fb-messenger-btn');
    if (fb_btn.addEventListener) {
        fb_btn.addEventListener('click', function () { toggleTheWidget() })
    } else {
        //back sopport for IE 9 and older
        fb_btn.attachEvent('onclick', toggleTheWidget());
    }
</script>
<!--==========messenger widget end==========-->

</body>
</html>
