@import 'media.less';
.account-page{
	background-color: #ffffff;
	padding: 40px 0;
	min-height: 75vh;
	.content{
		min-height: 75vh;
		&.scroll{
			overflow-y: scroll;
			max-height: ~'calc(56vw + 40px)';
		}
	}
	.inner-page {
		background-color: #F9F6F1;
		.display-flex{
			display: flex;
			@media @mobile {
				flex-direction: column;
			}
		}
		.align-center{
			align-items: center;
			text-align: center;
		}
		.sidebar{
			background-color: #ffffff;
			margin-bottom: 0;
			padding-right: 0;
			@media @mobile {
				padding: 0;
				overflow-y: scroll;
			}
			.menu{
				@media @mobile {
					display: flex !important;
					margin-bottom: 0;
					padding: 0;
				}
			}
	    }
	    .single-link{
		    list-style: none;
		    padding: 20px;
		    font-size: 18px;
		    width: 100%;
			@media @mobile {
				font-size: 14px;
				white-space: nowrap;
				padding: 10px;
				border-right: 1px solid rgba(14,93,124,0.4);
			}
		    a{
		    	color: #0E5D7C;
		    	&:hover{
			    	opacity: 0.8;
			    }
		    }
		    &.active{
		    	background-color: #F9F6F1;
		    }
	    }
	    .edit-profile{
			padding: 0 3vw;
			@media @mobile {
				padding: 0;
			}
	    	.permanent-info{
	    		padding: 30px 0;
	    		display: flex;
    			align-items: center;
	    		.pic{
	    			background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 50%;
					height: 10vw;
					width: 10vw;
					margin: auto;
					.profile-upload{
						display: block;
						opacity: 0;
						cursor: pointer;
						width: 100%;
						height: 100%;
					}
	    		}
	    		.name{
	    			font-size: 24px;
	    			font-weight: bold;
	    			color: #0E5D7C;
	    		}
	    	}
	    	.buttons{
				position: fixed;
				z-index: 20;
				bottom: 2%;
				right: 1%;
				@media @mobile {
					bottom: 10px;
					right: 10px;
				}
    			.btn-edit{
    				width: 130px;
					font-size: 18px;
    				&.cancel{
    					background-color: #edefed;
    					color: #484848;
    				}
    			}
    			.space{
    				margin: 1%;
    			}
    		}
			.datepicker{
				padding: 6px 12px;
			}
	    }
		.edit-form{
			padding: 0 15px;
			@media @mobile {
				padding: 0;
			}
			.form-control{
				&.focus{
					border-color: #66afe9;
					outline: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
					box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
				}
				&.error{
					border: 1px solid #a94442;
					box-shadow: 0 0 3px 3px rgba(169,68,66,0.4);
				}
			}
			.message{
				height: 22px;
				font-weight: 400;
				color: #28a745;
				&.error-message{
					color: #a94442;
				}
			}
			.control-label{
				text-align: left;
				color: #0E5D7C;
				&.listing-label{
					padding-top: 0;
				}
				.explanation{
					font-size: 11px;
					font-weight: 300;
					color: #000;
				}
			}
			textarea.form-control {
				background-color: #ffffff;
				font-size: 14px;
			}
		}
	    .my-listing{
			padding-top: 15px;
			.thumb{
				width: 24.5% !important;
				height: 0 !important;
				padding: 10%;
				margin: 0.25% !important;
			}
			.control-label{
				color: #0E5D7C;
			}
	    	.info-section{
	    	    border-bottom: 1px solid lightgray;
				padding: 0 15px;
				margin-bottom: 15px;
				color: #0E5D7C;
				@media @mobile {
					padding: 0;
				}
		    	.title{
		    		padding-bottom: 20px;
		    	   	font-size: 22px;
		    	}
				&.my-photos{
					position: relative;
					background-color: #ffffff;
					padding: 15px;
					margin-bottom: 15px;
					.loader-wrapper{
						position: absolute;
						background-color: rgba(169,169,169,0.7);
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 10;
					}
					.thumb-delete-img {
						width: 20px;
						height: 20px;
						background-image: url(../../images/delete.svg);
						position: absolute;
						top: 5px;
						right: 5px;
						opacity: 1;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						@media @mobile {
							width: 12px;
							height: 12px;
							top: 2px;
							right: 2px;
						}
					}
				}
				&.last{
					padding:0 15px 15px 15px;
					@media @mobile {
						padding: 0;
					}
				}
				&:last-child{
					border-bottom: none;
				}
		    	.input-section{
		    		.appt-info{
		    			font-size: 18px;
		    		}
		    	}
		    	.list-unstyled{
		    		list-style: none;
		    	}
		    	.amenity-label{
					display: flex;
					align-items: center;
		    	}
		    	input[type=checkbox]{
		    		margin-top: 0;
		    		margin-right: 5px;
		    	}
		    	.about-listing{
		    		font-size: 16px;
		    	}
				.listing-label{
					padding-top: 0;
				}
				.explanation{
					font-size: 11px;
					font-weight: 300;
					color: #000;
				}
	    	}
	    	.display-photos{
				position: relative;
    	    	.text{
    	    		padding: 15px;
	    	    	font-size: 16px;
					text-align: center;
    	    	}
                &:hover{
                  .drag-hover{
                    animation: drag 3.5s forwards;
                    -webkit-animation: drag 3.5s forwards;
                  }
                }
				.drag-hover{
					position: absolute;
					top: 0;
					z-index: 11;
					height: 0 !important;
					padding: 10%;
					margin: .25% !important;
					width: 24.5%;
					opacity: 0;
                    &.animate{
                      animation: drag 3.5s forwards;
                      -webkit-animation: drag 3.5s forwards;
                      animation-delay: 2s;
                    }
					.drag-img{
						background-position: center;
						background-size: cover;
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						opacity: 0.8;
						z-index: 10;
					}
					.drag-cursor{
						background-image: url("../../images/hand.png");
						background-size: cover;
						width: 32px;
						height: 32px;
						position: absolute;
						z-index: 11;
						top: 45%;
						left: 43%;
					}
				}
	    	    &.no-photos{
	    	    	.no-image{
	    	    		width: 200px;
	    	    		height: 200px;
						margin: auto;
	    	    		.no-image-icon{
	    	    			width: 100%;
	    	    		}
	    	    	}
	    	    }
				.upload-photos{
					position: relative;
					width: 25%;
					margin: 15px auto;
					display: block;
					text-align: center;
					font-size: 16px;
					@media @mobile {
						width: 100%;
					}
					input{
						margin: auto;
						cursor: pointer;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 99;
						font-size: 0;
						opacity: 0;
					}
				}
		    	.photos-row{
		    		padding-right: 30px;
		    	}
		    	.photos-col{
					padding-top: 15px;
					padding-bottom: 10px;
		    	}
	    		.single-photo{
	    			background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					padding: 40%;
	    		}
	    	}
			.basics{
				.name-with-icon{
					display: flex;
					align-items: flex-end;
					margin-bottom: 4px;
					.icon-bed-small{
						height: 21px;
					}
				}
				.basics-name{
					font-size: 14px;
					text-align: left;
					color: #0E5D7C;
					margin-left: 4px;
					padding-top: 6px;
				}
			}
	    	.buttons{
    			position: fixed;
				z-index: 20;
				bottom: 2%;
				right: 1%;
    			.btn-edit{
    				width: 130px;
					font-size: 18px;
    				&.cancel{
    					background-color: #edefed;
    					color: #484848;
    				}
    			}
    			.space{
    				margin: 1%;
    			}
    		}
	    }
	    .messages{
			margin: 0 -15px;
			@media @mobile {
				display: block;
				position: relative;
			}
			.no-messages{
				color: #484848;
				padding: 35px;
				font-size: 18px;
			}
	    	.all-messages{
				background-color: #ffffff;
				margin: 35px;
				position: relative;
				z-index: 2;
				border: 1px solid rgba(0,0,0,0.1);
				@media @mobile {
					width: 100%;
					position: absolute;
					margin:0;
				}
				.messages-scroll{
					height: 450px;
					overflow-y: scroll;
					@media @mobile {
						height: 350px;
					}
				}
				.search-messages{
					width: 90%;
					margin: auto;
					.search{
						border-radius: 5px;
						width: 100%;
						padding: 5px 10px;
						margin-bottom: 5px;
					}
				}
				.read{
					opacity: 0.6;
				}
	    		.messages-list{
	    			.single-message{
						background-color: #ffffff;
						padding: 10px;
						height: 80px;
						transition: ease .4s;
						overflow: hidden;
						border-bottom: 1px solid #d3d3d3;
						display: flex;
						align-items: center;
						cursor: pointer;
						&.opened{
							background-color: #d3d3d3;
						}
	    				&:hover{
							background-color: #edefed;
	    				}
						&:focus{
							outline: none;
						}
						.names{
							width: 100%;
						}
	    				.photo{
	    					background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							height: 50px;
							width: 50px;
							transition: ease 0.6s;
							&:hover{
								cursor: pointer;
							}
							&.glow{
								border: 3px solid #00bc00;
								-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0,.6);
								box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0, .6);
								animation: pulse 3s infinite ease-in-out;
							}
							@-webkit-keyframes pulse {
								  0% {
								    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0,.6);
								  }
								  50% {
								      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 8px 6px rgba(0, 188, 0, 0.3);
								  }
								  100% {
								      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0,.6);
								  }
								}
								@keyframes pulse {
								  0% {
								    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
								    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0,.6);
								  }
								  50% {
								      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
								      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 8px 6px rgba(0, 188, 0, 0.3);
								  }
								  100% {
								      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
								      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 4px rgba(0, 188, 0,.6);
								  }
								}
	    					}
    					.name{
    						font-size: 14px;
						    color: black;
						    font-weight: 500;
    					}
						.city{
							height: 16px;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							text-overflow: ellipsis;
							white-space: normal;
						}
						.last-massage{
							display: flex;
							align-items: center;
						}
						.unread{
							position: absolute;
							left: -5px;
							top: 16px;
							.circle{
								width:10px;
								height:10px;
								background-color: #2e6da4;
								border-radius: 50%;
							}
						}
    					.conversation{
    						height: 0;
    						width: 0;
    					}
	    				.message{
	    					padding: 0 10px;
							height: 40px;
							.message-info{
								height: 100%;
								.message-column{
									height: 100%;
									display: flex;
									flex-direction: column;
									justify-content: space-between;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
	    					.open-con-col{
	    						display: flex;
							    flex-direction: row-reverse;
							    align-items: flex-end;
	    					}
	    					.date{
	    					}
							.text{
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: normal;
								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
								font-size: 14px;
								@media @mobile {
									font-size: 12px;
								}
							}
							.arrow{
								float:right;
								display: flex;
								align-items: center;
								height: 100%;
								.icon-chevron-down{
									transform: scale(0.3);
									cursor: pointer;
								}

							}
							.request{
								height: 100%;
								.request-status{
									font-weight: 500;
									&.pending{
										color: #E8B32F;
									}
									&.awaiting-approval{
										color: #4D5CAB;
									}
									&.confirmation{
										color: #22A854;
									}
									&.confirmed{
										color: #0E5D7C;
									}
								}
								.request-status-button{
									width: 100px;
									margin: auto;
									font-weight: 500;
									padding: 2px 10px;
									line-height: 1.2;
									color: #ffffff;
									transition: 0.3s ease;
									&.confirm{
										background-color: #22A854;
										&:hover{
											background-color: #00762C;
										}
									}
									&.accept{
										background-color: #4D5CAB;
										&:hover{
											background-color: #30429F;
										}
									}
									&:focus{
										outline: none;
									}
								}
								@media @mobile {
									font-size: 12px;
								}
							}
	    				}
	    			}
	    		}
	    	}
			.message-profile{
				.loader-wrapper{
					position: absolute;
					background-color: rgba(255,255,255,.4);
					width: 100%;
					height: 100%;
					top: 0;
					z-index: 10;
				}
				.swapper-details{
					padding-top: 15px;
					padding-left: 15px;
				}
				.message-area{
					background-color: #ffffff;
					transition: 0.4s ease;
					transform: translate(0);
					z-index: 1;
					position: relative;
					margin: 15px 0;
					@media @mobile {
						width: 100%;
						transition: 0.2s ease;
						transform: translate(0);
						z-index: 3;
					}
					.top-corner{

					}
					.conversation-messages{
						overflow-y: scroll;
						height: 450px;
						@media @mobile {
							height: 350px;
						}
						.conversation-message{
							float:left;
							display: flex;
							width: 100%;
							.conversation{
								transition: ease 0.4s;
								padding: 10px 12px;
								margin: 5px 10px;
								background-color: ghostwhite;
								border-radius: 25px;
								width: 70%;
								font-size: 14px;
								line-height: 20px;
								.date{
									float: right;
									opacity: 0.6;
								}
							}
							&.request{
								.conversation{
									margin: 5px auto;
									color: #fff;
									background-color: #3e839d;
									.text{
										font-weight: 500;
									}
								}
							}
							.photo{
								background-position: center;
								background-repeat: no-repeat;
								background-size: cover;
								border-radius: 50%;
								height: 50px;
								width: 50px;
								transition: ease 0.6s;
								margin-left: 5px;
								margin-top: 5px;
							}
							&.user-message{
								float: right;
								flex-direction: row-reverse;
								.conversation{
									background-color: #edefed;
								}
								.photo{
									margin: 5px 5px 0 0;
								}
							}
						}
					}

					.send-message{
						display: flex;
						align-items: stretch;
						.send-text{
							font-size: 16px;
						}
						.btn-primary{
							font-size: 18px;
						}
						.btn-send{
							font-size: 18px;
							width: 20%;
						}
						.btn-swap{
							background-color: white;
							color: #333;
							transition: 0.3s ease;
							&:hover{
								color: white;
								background-color: #0E5D7C;
							}
							&.btn-pending{
								opacity: 0.5;
								&:hover{
									background-color: white;
									color: #333;
								}
							}
							&.btn-confirm{
								background-color: white;
								color: #333;
								&::after{
									content: "";
									position: absolute;
									top: -110%;
									left: -210%;
									width: 200%;
									height: 200%;
									opacity: 0;
									transform: rotate(30deg);
									&:hover{
										opacity: 1;
										top: -30%;
										left: -30%;
										transition-property: left, top, opacity;
										transition-duration: 0.7s, 0.7s, 0.15s;
										transition-timing-function: ease;
									}
								}
							}
							&.btn-confirmed{
								opacity: 0.5;
							}
						}
					}
				}
				.messages-and-status{
					margin-top: 15px;
					.set-swap{
						text-align: center;
						.btn-swap{
							background-color: #0E5D7C;
							border-color: #0E5D7C;
							font-size: 18px;
							&:hover{
								color: #ffffff;
								background-color: #227392;
								border-color: #227392;
							}
						}
					}
					.request-status{
						font-size: 18px;
						font-weight: 500;
						margin-bottom: 10px;
						&.pending{
							color: #E8B32F;
						}
						&.awaiting-approval{
							color: #4D5CAB;
						}
						&.confirmation{
							color: #22A854;
						}
						&.confirmed{
							color: #0E5D7C;
						}
					}
					.request-dates{
						font-size: 16px;
					}
					.cancel-request{
						font-size: 16px;
						text-align: right;
						color: #616161;
						padding-right: 10px;
						opacity: 0.7;
						text-decoration: underline;
					}
					.dates-and-cancel{
						display: flex;
						align-items: flex-end;
					}
					.request-status-button{
						color: #ffffff;
						font-size: 18px;
						font-weight: 500;
						margin-bottom: 10px;
						width: 120px;
						border: none;
						transition: 0.3s ease;
						&:focus{
							outline: none;
						}
						&.approve{
							background-color: #4D5CAB;
							&:hover{
								background-color: #30429F;
							}
						}
						&.confirm{
							background-color: #22A854;
							&:hover{
								background-color: #00762C;
							}
						}
					}
				}
			}
	    }

      .favorite-cont {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;

        .fav-scroll {
          .favorites-show {
            margin-top: 1%;
			  .single-favorite{
				  padding: 0;
			  }
          }
        }
      }
		.reviews-cont {

            .review-count-and-stars {

              .stars {
                text-align: center;
                font-size: 32px;

                @media (max-width: @screen-xs-max) {
                  font-size: 18px;
                }
              }
              .review-count {
                font-size: 20px;
                color: #b08e6c;
              }

            }

			.comments-show {
				margin: 2%;
				
					.commenter-photo {
						height: 70px;
						width: 70px;
						border-radius: 50%;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;

						@media (max-width: @screen-xs-max) {
							height: 50px;
							width: 50px;
							float: left;
							margin-right: 7%;
						}
					}
                    .review-stars {
                      float: right;
                      display: inline-flex;
                    }
					.commenter-name {
						font-size: 120%;
						font-weight: bold;
						color: #0E5D7C;
						margin-bottom: 2%;
					}
					.commenter-country-and-age {
						color: #616161;
						font-size: 120%;
						margin-bottom: 2%;
					}
					.commenter-comment {
						color: #616161;
						letter-spacing: 0.2px;
						margin-bottom: 2%;
						white-space: normal;
						overflow-wrap: break-word;
					}

					.separator {
						padding-bottom: 12%;
						margin: 2% 0;
					}

			}

		}

		.things-col{
			display: flex;
			flex-wrap: wrap;
		}
		.things-to-do{
			display: flex;
			align-items: flex-start;
			color: #0E5D7C;
			padding: 4px 0;
			width: 50%;
			.things-checkbox{
				position: relative;
				border: 1px solid rgba(14,93,124,0.4);
				margin-right: 8px;
				margin-top: 2px;
				width: 15px;
				height: 15px;
				&:focus{
					outline: none;
				}
			}
			.check{
				position: absolute;
				top: -8px;
				transform: scale(0);
				transition: 0.3s ease;
				&:focus{
					outline: none;
				}
				&.checked{
					transform: scale(1);
				}
			}
		}
		.swaps-and-requests{
			padding: 15px 0;
			.tabs{
				display: flex;
				margin-bottom: 15px;
				margin: -0 -15px 15px -15px;
				.tab{
					padding: 15px;
					font-size: 20px;
					width: 50%;
					text-align: center;
					background-color: rgba(40,44,42,0.1);
					border: 1px solid rgba(40,44,42,0.1);
					&:focus{
						outline: none;
					}
					&.active{
						background-color: transparent;
						border-bottom: none;
						border-top: none;
						box-shadow: inset 0 2px 0 #0E5D7C;
						color: #0E5D7C;
					}
				}
			}
			.request-info{
				padding-top: 10px;
				font-size: 16px;
				position: relative;
				.form-group{
					color: #0E5D7C;
				}
				.statuses{
					display: flex;
					align-items: baseline;
				}
				.cancel{
					color: #c7a768;
					margin-bottom: 5px;
					font-size: 14px;
					position: absolute;
					bottom: 15px;
					right: 15px;
					&:hover{
						text-decoration: underline;
					}
					&:focus{
						outline:none;
					}
				}
			}
			.request-status{
				color: #484848;
				&.confirmed{
					color: #0E5D7C;
				}
				&.confirm{
					border-radius: 4px;
					padding: 10px;
					font-size: 18px;
					text-align: center;
					color: #ffffff;
					&.disabled{
						opacity: 0.7;
						cursor: not-allowed;
					}
					&:focus{
						outline: none;
					}
				}
			}
			.traveler-col{
				padding: 10px 5px;
			}
			.request-list{
				display: flex;
				@media @mobile {
					display: block;
				}
			}
		}
	}
	.modal-content{
		.dates{
			position: relative;
			.date-calendar{
				position: absolute;
				right: 10px;
				top: 0;
				padding: 6px;
				font-size: 18px;
			}
		}
		.control-label{
			margin-top: 5px;
			font-size: 18px;
			outline: none;
			&:focus{
				outline: none;
			}
		}
		.btn-swap{
			float: left;
			background-color: #00BC00;
			border-color: #027C00;
		}
	}
	.password-tab{
		width: 50%;
		padding: 0 10%;
		margin: auto;
		@media @tablet {
			width: 75%;
		}
		@media @mobile {
			width: 100%;
		}
		.permanent-info{
			padding: 20px 10px;
			@media @mobile {
				padding: 20px 0;
			}
		}
		.title{
			color: #848a91;
			text-align: left;
			padding: 0 5px 5px 5px;
			font-weight: 300;
			font-size: 22px;
		}
		.underline{
			border-bottom: 2px solid rgba(14,93,124,0.5);
			padding-top: 8px;
			width: 32%;
		}
		.control-label{
			margin-bottom: 5px;
		}
		.btn-edit{
			width: 100%;
			font-size: 16px;
		}
	}
	.payment-plan{
		padding-bottom: 40px;
		.pricing-title{
			color: #848a91;
			text-align: center;
			padding: 20px;
			font-weight: 300;
			font-size: 28px;
			.underline{
				margin: auto;
				border-bottom: 2px solid rgba(14,93,124,0.5);
				padding-top: 8px;
				width: 12%;
			}
		}
		.all-plans{
			.coming-soon{
				background-color: rgba(211,211,211,0.8);
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 15;
				cursor: initial;
				.coming-soon-title{
					top: 39%;
					left: 12%;
					position: absolute;
					font-size: 30px;
					font-weight: 500;
					color: #a82121;
					transform: skewy(-10deg);
					text-transform: uppercase;
				}
			}
		}
		.single-plan{
			color: #ffffff;
			text-align: center;
			border: 2px solid #c7a768;
			transition: 0.4s ease;
			transform: scale(1);
			box-shadow: 0 0 0 0 rgba(0,0,0,0.39);
			cursor: pointer;
			@media @mobile{
				margin-bottom: 15px;
			}
			&.nomad{
				background: #b2def7; /* Old browsers */
				background: -moz-linear-gradient(top, #68b8d5 0%, #b2def7 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #68b8d5 0%,#b2def7 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #68b8d5 0%,#b2def7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b8d5', endColorstr='#b2def7',GradientType=0 ); /* IE6-9 */
				.plan-image{
					background-image: url('../../images/static/backpack.png');
				}
				&:hover{
					background: #68b8d5; /* Old browsers */
					background: -moz-linear-gradient(top, #b2def7 0%, #68b8d5 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #b2def7 0%,#68b8d5 100%); /* Chrome10-25,Safari5.1-6 */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2def7', endColorstr='#68b8d5',GradientType=0 ); /* IE6-9 */
					background: linear-gradient(to bottom, #b2def7 0%,#68b8d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				}
			}
			&.explorer{
				background: #68b8d5; /* Old browsers */
				background: -moz-linear-gradient(top, #006EA5 0%, #68b8d5 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #006EA5 0%,#68b8d5 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #006EA5 0%,#68b8d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006EA5', endColorstr='#68b8d5',GradientType=0 ); /* IE6-9 */
				.plan-image{
					background-image: url('../../images/static/trolley.png');
				}
			}
			&.cosmopolite{
				background: #0E5D7C; /* Old browsers */
				background: -moz-linear-gradient(top, #0E5D7C 0%, #006EA5 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #0E5D7C 0%,#006EA5 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #0E5D7C 0%,#006EA5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E5D7C', endColorstr='#006EA5',GradientType=0 ); /* IE6-9 */
				.plan-image{
					background-image: url('../../images/static/suitcase.png');
				}
			}
			.plan-top{
				padding: 20px 0;
				margin: 0 30px;
				border-bottom: 2px solid #ffffff;
			}
			.plan-title{
				font-size: 22px;
				font-weight: bold;
				padding-bottom: 20px;
			}
			.plan-image{
				margin: auto;
				height: 120px;
				width: 120px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
			.price{
				font-size: 40px;
				font-weight: bold;
			}
			.plan-bottom{
				padding: 20px;
			}
			.small-text{
				font-size: 16px;
				padding-bottom: 10px;
			}
			.covers{
				font-size: 20px;
				padding: 20px 10px;
			}
		}
	}
	::-webkit-scrollbar{
		background-color: transparent;
		width: 12px;
	}
	::-webkit-scrollbar-button{display: none; background-color: tranparent;}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	    border-radius: 10px;
    }
	::-webkit-scrollbar-track-piece  { /* 4 */ }
	::-webkit-scrollbar-thumb{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	}
	::-webkit-scrollbar-corner       { display: none;}
	::-webkit-resizer                {display: none; }
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	border-left-color: #0E5D7C !important;
}
.tooltip{
	&.left{
		.tooltip-arrow{
			border-left-color: #0E5D7C !important;
		}
	}
	&.right{
		.tooltip-arrow{
			border-right-color: #0E5D7C !important;
		}
	}
}
.tooltip-inner {
	background-color: #0E5D7C !important;
	color: white !important;
}

@keyframes drag {
	0% {
		opacity: 1;
		left: 0;
	}
	15% {
		left: 14%;
	}
	30% {
		left: 2%;
	}
	45% {
		left: 14%;
		opacity: 1;
	}
	99% {
		left: 14%;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes drag{
	0% {
		opacity: 1;
		left: 0;
	}
	15% {
		left: 14%;
	}
	30% {
		left: 2%;
	}
	45% {
		left: 14%;
		opacity: 1;
	}
	99% {
		left: 14%;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -1;
	}
}

