@import 'media.less';
.blog-page{
  background-color: #ffffff;
  padding-bottom: 60px;
  .all-posts{
    padding: 4vw 8vw;
    .main-title{
      font-size: 50px;
      padding: 20px;
      padding-bottom: 6vw;
      text-align: center;
      font-weight: 300;
      @media @mobile {
        font-size: 46px;
        padding: 20px 0;
      }
    }
    .post-excerpt{
      height: 350px;
      margin-bottom: 40px;
      @media @mobile {
        height: auto;
      }
      &:nth-child(even){
        .post-content{
          flex-direction: row-reverse;
        }
      }
    }
    .post-content{
      display: flex;
      height: 100%;
      @media @mobile {
        display: block;
      }
      &:nth-child(even){
        flex-direction: row-reverse;
      }
      .main-photo{
        height: 100%;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        box-shadow: inset 0px 0px 4px 2px rgba(255,255,255,1);
        @media @mobile {
          height: 250px;
        }
      }
      .excerpt{
        @media @mobile {
          padding-top: 20px;
          height: 400px;
        }
      }
      .excerpt-title{
        font-size: 26px;
        text-align: center;
        color: #848a91;
        font-weight: 300;
        .underline{
          width: 10%;
          margin: auto;
          transition: .4s ease;
          padding-top: 12px;
          border-bottom: 2px solid rgba(14,93,124,0.5);
        }
      }
      .excerpt-date{
        text-align: center;
        padding-top: 15px;
        font-weight: 300;
        color: #848a91;
      }
      .excerpt-text{
        padding-top: 20px;
        font-size: 16px;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        font-weight: 300;
        @media @mobile {
          -webkit-line-clamp: 10;
        }
      }
      .read-more{
        position: absolute;
        font-size: 18px;
        bottom: 0;
        right: 15px;
        background-color: #ffffff;
        border-color: #0e5d7c;
        color: #0e5d7c;
        transition: 0.3s ease;
        @media @mobile {
          right: initial;
        }
        &:hover{
          background-color: #0e5d7c;
          color: #ffffff;
        }
      }
    }
  }
  .single-post{
    .main-photo{
      height: 450px;
      width: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: inset 0px -2px 4px 2px #fff;
      @media @mobile {
        background-attachment: unset;
        height: 250px;
      }
    }
    .content{
      width: 60%;
      background-color: #fff;
      margin: auto;
      padding: 40px 15px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      //border-bottom: 1px solid rgba(199,167,104,0.5);
      @media @mobile {
        width: 100%;
      }
      .blog-title{
        font-size: 30px;
        text-align: center;
        color: #848a91;
        font-weight: 300;
        .underline{
          width: 10%;
          margin: auto;
          transition: .4s ease;
          padding-top: 12px;
          border-bottom: 2px solid rgba(14,93,124,0.5);
        }
      }
      .blog-date{
        text-align: center;
        padding-top: 15px;
        font-weight: 300;
        color: #848a91;
      }
      .blog-html{
        padding-top: 20px;
        p{
          font-size: 16px;
          line-height: 20px;
          font-weight: 300;
        }
      }
      img{
        width: 100%;
        height: 100%;
      }
      .img{
        max-width: 650px;
        margin: auto;
        padding: 10px 0;
        &.half-width{
          width: 50%;
          padding: 0;
          @media @mobile {
            padding: 10px 0;
            width: 100%;
          }
        }
        &.fll{
          float:left;
          padding-right:15px;
          @media @mobile {
            padding-right:0;
          }
        }
        &.flr{
          float:right;
          padding-left:15px;
          @media @mobile {
            padding-left:0;
          }
        }
      }
    }
  }
}
