.header{
	background-color: rgba(13,120,173,1);
	.navbar{
	    margin-bottom: 0;
		position: relative;
		z-index: 999;
		.navbar-brand{
			padding: 0;
		}
		.navbar-brand {
		    height: 80px;
		    padding-left: 20px;
		}
		.navbar-default {
			background-color: rgba(13,120,173,1);
			border: 0;
			border: none;
			-webkit-box-shadow: none;
			box-shadow: none;

			.navbar-collapse {
				border: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		.logo{
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100px;
			width: 100px;
		}
		.navbar-nav{
		    list-style-type: none;
			margin-top: 10px;
			li{
				font-size: 16px;
				.swap-now-form{
					display:flex;
					align-items: flex-end;
					.swap-now{
						margin-left: 10px;
					}
					.dates{
						position: relative;
						.date-calendar{
							position: absolute;
							right: 10px;
							top: 0;
							padding: 6px;
							font-size: 18px;
						}
					}
					.go{
						background-color: #103360;
						color: white;
						border-color: #103360;
					}
				}
			}
		}
		.navbar-collapse {
			background-color: rgba(13,120,173,1);
		}
		.login-area{
			display: flex;
		    align-items: center;
		    float: right;
		    margin-top: 10px;
			.login{
				color: rgba(255,245,225,0.8);
				padding: 16px;
				font-size: 16px;
				cursor: pointer;
				&:hover{
					.underlined{
						width: 28px;
					}
				}
			}
			.underlined{
				transition: 0.3s ease;
				width: 0;
				border-bottom: 2px solid rgba(255,255,255,0.5);
				padding-top: 5px;
			}
			.user-area{
				display: flex;
			    align-items: center;
				.profile-pic{
					width: 50px;
				    height: 50px;
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    border-radius: 50%;
				    margin: 0 10px;
				}
				.username{
					font-size: 18px;
					font-weight: bold;
					cursor: pointer;
				}
				.caret {
				    border-top: 8px dashed;
				    border-top: 8px solid\9;
				    border-right: 8px solid transparent;
				    border-left: 8px solid transparent;
				}
				.dropdown-menu {
				    left: initial;
				    right: 0;
				    min-width: 140px;
				    width: 100%;
				}
			}
		}
	}
}

.navbar-default {
	border: none;
}

.modal{
	.modal-dialog {
	    width: 400px;
    }
	.facebook-signin{
		padding: 6vw;
	    text-align: center;
	    font-size: 20px;
	    .fa{
	    	padding-right: 10px;
    		font-size: 20px;
	    }
		.login-button{
			background-color: #3B5998;
			color: white;
			font-size: 18px;
		}
	}
	.fly-now-model{
		.travel-info{
			width: 60%;
			margin: auto;
			.input-field{
				margin-bottom: 15px;
			}
			.dates{
				position: relative;
				.date-calendar{
					position: absolute;
					right: 10px;
					top: 0;
					padding: 6px;
					font-size: 18px;
				}
			}
			.control-label{
				margin-top: 5px;
				font-size: 18px;
				outline: none;
				&:focus{
					outline: none;
				}
			}
			.advanced{
				cursor: pointer;
				padding-bottom: 10px;
				outline: none;
				&:hover{
					color: #045F79;
				}
				&:focus{
					outline: none;
				}
			}
			.btn-fly{
				float: left;
			}
			.modal-footer{
				padding: 15px 0;
			}
		}
	}
}

#aboutModal, #signUpModal {
	margin: auto;
	width: 50%;
	margin-top: 10%;
	border-radius: 5%;

	.form-control {
		width: auto;

		.user-comments {
			width: auto;
		}
	}

	.about-text {
		width: 86%;
	}

	.about-inner-text {
		font-size: 150%;
	}
}

.pac-container {
    z-index: 1051 !important;
}
