@import 'media.less';

.information-page{
  background-color: #ffffff;
  padding: 0 15% 60px 15%;
  min-height: 83vh;
  .title{
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 32px;
    color: rgba(14,93,124,1)
  }
  .secondary-title{
    padding: 15px 0 10px 0;
    font-size: 24px;
    text-decoration: underline;
  }
  .clickable{
    cursor: pointer;
  }
  .sub-title{
    padding: 15px 0 10px 0;
    font-size: 20px;
    color: rgba(14,93,124,1);
  }
  .underline{
    border-bottom: 2px solid rgba(14,93,124,0.5);
    padding-top: 6px;
    width: 6%;
  }
  .text{
    font-size: 16px;
    line-height: 20px;
    a{
      cursor: pointer;
      color: rgba(14,93,124,1);
      &:hover{
        color: rgba(14,93,124,0.5);
      }
    }
    .swaps{
      color: rgba(14,93,124,1)
    }
  }
  .terms{
    color: #333;
  }
  .pa-55{
    padding-top:55px;
  }
  .our-team{
    margin-top: 40px;
    text-align: center;
    background-color: #FDFCFF;
    .all-members{
      text-align: center;
      display: flex;
      margin: 20px -10%;
      @media @mobile {
        display: block;
      }
      .member{
        padding: 15px;
        transition: 0.5s ease;
        transform: translateZ(0);
        &:hover{
          .name{
            .underline {
              width: 20%;
            }
          }
        }
        .name{
          color: #0e5d7c;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
          .underline{
            transition: 0.8s ease;
            width: 0;
            margin: auto;
          }
        }
        .photo{
          width: 125px;
          height: 125px;
          margin: auto;
          margin-bottom: 20px;
          border-radius: 50%;
          border: 2px solid #848a91;
          box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.5);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &.adiv{
            background-image: url("https://res.cloudinary.com/swaps/image/upload/team/adiv.jpg");
          }
          &.yair{
            background-image: url("https://res.cloudinary.com/swaps/image/upload/v1542020056/team/yair.jpg");
          }
          &.didi{
            background-image: url("https://res.cloudinary.com/swaps/image/upload/team/didi.jpg");
          }
          &.david{
            background-image: url("https://res.cloudinary.com/swaps/image/upload/team/david.jpg");
          }
        }
        .description{
          text-align: left;
          font-size: 16px;
        }
      }
    }
  }
  .cost{
    font-weight: 500;
    color: #e84f2f;
  }
  .gain{
    font-weight: 500;
    color: #22A854;
  }
  .gold{
    font-weight: 500;
    color: #c7a768;
  }
  .swap-value{
    margin: auto;
    text-align: center;
    background-color: #edefed;
    td, th{
      text-align: center;
      border: 1px solid lightgray;
      padding: 10px;
    }
  }
  .coins{
    background-image: url("../../images/coin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: -6px;
  }
}
.join-us-page{
  .top-corner{
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .title{
    font-size: 26px;
    padding: 10px 0;
    color: #0E5D7C;;
  }
  .secondary-title{
    text-align: center;
    padding: 15px 0 10px 0;
    font-size: 22px;
  }
  .sub-title{
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    @media @mobile {
      font-size: 16px;
    }
  }
  .pa-55{
    padding-top:55px;
  }
  .section{
    padding: 10px;
    display: flex;
    align-items: center;
    .icon-wrapper{
      float: left;
      transform: scale(0.8);
      @media @mobile {
        transform: scale(0.6);
        margin-left: -30px;
      }
    }
  }
  .ok-btn{
    width: 200px;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    transition: 0.3s ease;
    background-color: #fff;
    border: 1px solid #0e5d7c;
    color: #0e5d7c;
    &:hover{
      background-color: #0e5d7c;
      border-color: #0e5d7c;
      color: #fff;
    }
  }
  .link{
    margin:10px auto;
    text-align: center;
    cursor: pointer;
    color: #0e5d7c;
    font-size: 20px;
  }
  .form{
    width:50%;
    margin:auto;
    @media @mobile {
      width:100%;
    }
  }
}
.credit-explanation{
  .top-corner{
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .text{
    font-size: 16px;
    @media @mobile {
      font-size: 14px;
    }
  }
  .one-way{
    cursor: pointer;
    text-decoration: underline;
  }
  .cost{
    font-weight: 500;
    color: #e84f2f;
  }
  .gain{
    font-weight: 500;
    color: #22A854;
  }
  .gold{
    font-weight: 500;
    color: #c7a768;
  }
  .swap-value{
    margin: auto;
    text-align: center;
    background-color: #edefed;
    @media @mobile {
      font-size: 12px;
    }
    td, th{
      text-align: center;
      border: 1px solid lightgray;
      padding: 10px;
    }
  }
  .explanation{
    align-self: center;
    margin-right: 10px;
    &.pd-10-l{
      padding-left: 10px;
    }
  }
  .coins{
    background-image: url("../../images/coin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: -6px;
  }
}
.coupon{
  .center{
    text-align: center;
  }
  .top-corner{
    position: absolute;
    top: 6px;
    right: 6px;
  }
  .title{
    font-weight: 300;
    color: #0e5d7c;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  .form-control{
    width: 50%;
    margin: auto;
  }
  .btn-buy{
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    margin: 15px auto;
    transition: 0.4s ease;
  }
  .coin-drop{
    background-image: url("../../images/coin-drop.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 160px;
    margin: auto;
    transition: 0.5s ease;
  }
}