.information-page{
  background-color: #ffffff;
  padding: 0 15% 60px 15%;
  .title{
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 32px;
    color: rgba(14,93,124,1)
  }
  .sub-title{
    padding: 15px 0 10px 0;
    font-size: 20px;
    color: rgba(14,93,124,1);
  }
  .underline{
    border-bottom: 2px solid rgba(14,93,124,0.5);
    padding-top: 6px;
    width: 6%;
  }
  .text{
    font-size: 16px;
    line-height: 20px;
    a{
      color: rgba(14,93,124,1);
      &:hover{
        color: rgba(14,93,124,0.5);
      }
    }
  }
}