@import 'media.less';

.invite-friends{
  background-image: url("../../images/static/friends.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  &.popup{
    background: white;
    min-height: auto;
    .information-area{
      box-shadow: none;
    }
  }
  .background-friends{
    height: auto;
    width: 100%;
    min-height: 90vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e5d7c+40,0b8f4c+100 */
    background: rgb(14,93,124); /* Old browsers */
    background: -moz-linear-gradient(-55deg, rgba(14,93,124,0.8) 40%, rgba(11,143,76,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-55deg, rgba(14,93,124,0.8) 40%,rgba(11,143,76,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(145deg, rgba(14,93,124,0.8) 40%,rgba(11,143,76,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e5d7c', endColorstr='#0b8f4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 100px 20%;
    @media @mobile {
      padding: 15px;
    }
  }
  .information-area{
    position: relative;
    padding: 26px;
    background-color: #ffffff;
    box-shadow: 5px 4px 12px 2px rgba(0,0,0,0.5);
    border-radius: 10px;
    @media @mobile {
      padding: 14px;
    }
  }
  .title{
    text-align: center;
    padding: 25px 0;
    font-size: 36px;
    color: #0e5d7c;
    @media @mobile {
      font-size: 22px;
    }
  }
  .sub-title{
    color: #0e5d7c;
    padding-top: 20px;
    font-size: 22px;
    @media @mobile {
      padding-top: 10px;
      font-size: 16px;
    }
  }
  .underline{
    border-bottom: 2px solid rgba(14,93,124,0.5);
    padding-top: 8px;
    width: 12%;
    margin: auto;
  }
  .text{
    font-size: 18px;
    line-height: 1.4;
    &.text-align-center{
      text-align: center;
    }
    @media @mobile {
      font-size: 16px;
    }
    &.link{
      padding: 20px 0;
      color: #0e5d7c;
      word-break: break-all;
    }
  }
  .btn-primary{
    width: 200px;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
  }
  .referral-link{
    margin: 20px 0;
    border: 1px solid rgba(132,138,145, 0.5);
    padding: 20px;
    .send-emails{
      display: flex;
      align-items: stretch;
      @media @mobile {
        flex-direction: column;
      }
      .send-invites-btn{
        &.disabled{
          background-color: lightgrey;
          opacity: 0.5;
          cursor: unset;
          &:hover{
            background-color: lightgrey;
            opacity: 0.5;
            cursor: not-allowed;
            color: #0e5d7c;
          }
        }
        @media @mobile {
          margin-top: 10px;
          width: auto;
        }
      }
    }
    .or{
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      padding: 15px;
    }
    .share-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 300;
      @media @mobile {
        flex-direction: column;
        align-items: stretch;
      }
      .share-text{
        margin-right:10px;
        width:20%;
        @media @mobile {
          width:auto;
          text-align: center;
        }
      }
      .copy-link{
        display: flex;
        align-items: stretch;
        width:80%;
        @media @mobile {
          width:auto;
          flex-direction: column;
        }
        .copy{
          margin-left: -1px;
          border-radius: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: grey;
          border-color: grey;
          &:hover{
            background-color: dimgrey;
          }
          @media @mobile {
            margin-top: 10px;
            width: auto;
          }
        }
      }
      .facebook-post{
        position: relative;
        background-color: #3B5998;
        color: white;
        padding-left: 18px;
        .fa-facebook-square{
          position: absolute;
          left: 40px;
          top: 7px;
        }
      }
    }
  }
  .loader-container{
    padding: 100px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    transition: 1.5s ease;
    z-index: 7;
    &.disappear{
      opacity: 0;
      z-index: -1;
    }
  }
}
.invite-friends-dir{
  background: rgb(14,93,124); background: -moz-linear-gradient(-55deg, rgba(14,93,124,1) 40%, rgba(11,143,76,1) 100%);
  background: -webkit-linear-gradient(-55deg, rgba(14,93,124,1) 40%,rgba(11,143,76,1) 100%);
  background: linear-gradient(145deg, rgba(14,93,124,1) 40%,rgba(11,143,76,1) 100%);
  text-align: center;
  line-height: 1.4;
  padding: 14px;
  color: #ffffff;

  .invite-friends-title{
    font-size: 22px;
  }
  .invite-friends-sub-title{
    font-size: 18px;
    font-weight: 300;
  }
  .log-in-link{
    font-size: 18px;
    color: #0e5d7c;
    .link{
      margin:0;
      color: #FACC5C;
    }
    .text{
      color:#fff;
      font-size: 14px;
    }
  }
}

.invite-modal{
  .background-friends{
    padding: 50px;
    @media @mobile {
      padding: 10px;
    }
  }
  .show-results{
    width: auto;
    margin: auto;
    max-width: 430px;
    padding: 5px 20px;
    white-space: nowrap;
    font-size: 22px;
  }
}