@import 'media.less';
.landing-page{
  position: relative;
  height: 100%;
  //background-color: #fff;
  background-image: url('../../images/static/landing.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .inner-gradient{
    position: relative;
    height: 100%;
    padding: 20px;
    background: -webkit-linear-gradient(bottom, #0e5d7c -25%, rgba(255,255,255,0.85) 100%);
    background: linear-gradient(to top, #0e5d7c -25%, rgba(255,255,255,0.85) 100%);
  }
  .title-container {
    width: 380px;
    margin: auto;
    &.animate{
      animation: moveLeftCorner 0.3s linear forwards;
      -webkit-animation: moveLeftCorner 0.3s linear forwards;
    }
    @media @mobile {
      width: 100%;
      padding: 10px 40px;
    }
    .title-swaps {
      background-repeat: no-repeat;
      color: #0e5d7c;
      font-size: 56px;
      font-weight: 500;
      height: 150px;
      @media @mobile {
        height: 110px;
      }
    }
    .points-container {
      color: #0e5d7c;
      font-weight: 400;
      padding: 5px 0;
      font-size: 24px;
      margin-top: -40px;
      line-height: 1.2em;
      @media @mobile {
        font-size: 20px;
        margin-top: -28px;
      }
      .points-container-border{
        width: 12%;
        padding-top: 12px;
        border-bottom: 3px solid rgba(14,93,124,.5);
        @media @mobile {
          width: 24%;
        }
      }
    }
  }
  .section{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 350px;
    &.first-section{
      top: 200px;
    }
    &.in{
      animation: swipeFromRight 0.2s linear forwards;
      -webkit-animation: swipeFromRight 0.2s linear forwards;
    }
    &.animate-out{
      z-index: -1;
      animation: swipeLeft 0.2s linear forwards;
      -webkit-animation: swipeLeft 0.2s linear forwards;
    }
    .description{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 20px;
      color: #0e5d7c;
      font-size: 18px;
      font-weight: 300;
      @media @mobile {
        font-size: 16px;
        padding-bottom: 15px;
      }
      .title{
        color: #0e5d7c;
        font-size: 36px;
        font-weight: bold;
      }
      .sub-title{
        color: #0e5d7c;
        padding-top: 20px;
        font-size: 22px;
      }
      .free{
        color: #e84f2f;
        padding-top: 20px;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .button-container{
      width: 100%;
      text-align: center;
      margin-top: 40px;
      &.under-calendar{
        margin-top: 334px;
      }
      .next{
        font-size: 26px;
        width: 300px;
        &:hover{
          background-color: #227392;
          border-color: #227392;
        }
        &.disabled{
          background-color: lightgrey;
          opacity: 0.7;
          cursor: initial;
          &:hover{
            background-color: lightgrey;
            border-color: #227392;
          }
        }
      }
      .under-button-text{
        padding-top: 10px;
        font-size: 20px;
        color: #0e5d7c;
        font-weight: bold;
      }
    }
    .places{
      width: 40%;
      margin: auto;
      .places-buttons{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .place{
          background-color: #fff;
          border: 1px solid #0e5d7c;
          padding: 5px 20px;
          border-radius: 4px;
          color: #0e5d7c;
          font-size: 18px;
          margin-right: 10px;
          margin-top: 10px;
          white-space: nowrap;
          box-shadow: 2px 2px 15px -5px #000;
          transition: 0.4s ease;
          cursor: pointer;
          &:hover{
            box-shadow: 1px 1px 6px -5px #000;
            transform: scale(0.95);
          }
          &.clicked{
            background-color: #0e5d7c;
            color: #fff;
          }
        }
      }
      .location{
        position: relative;
        width: 300px;
        margin: 30px auto;
        .form-control{
          padding-left: 45px;
          border-radius: 0;
          color: #0e5d7c;
          border: 1px solid #0e5d7c;
          font-size: 18px;
          box-shadow: none;
          height: 42px;
          background-color: #fff;
        }
        .icon{
          transform: scale(.7);
          bottom: 5px;
          left: 10px;
          position: absolute;
        }
      }
    }
    .sign-up-dates{
      width: 100%;
      .calendar{
        width: 100px;
        height: 1px;
        margin: auto;
      }
    }
    .travelers{
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      .single-checkbox{
        display: flex;
        align-items: center;
        color: #0E5D7C;
        padding: 4px 0;
        margin: 0 20px;
        &.not-included{
          opacity: 0.4;
        }
        .text{
          width: 50%;
          font-size: 14px;
        }
        .things-checkbox{
          position: relative;
          border: 1px solid rgba(14,93,124,0.4);
          margin-right: 8px;
          margin-top: 2px;
          width: 20px;
          height: 20px;
          &:focus{
            outline: none;
          }
          &.no-border{
            border: none;
            cursor: auto;
          }
        }
        .check{
          position: absolute;
          top: -8px;
          left: 5px;
          transform: scale(0);
          transition: 0.3s ease;
          &:focus{
            outline: none;
          }
          &.checked{
            transform: scale(1.5);
          }
        }
        .guests{
          margin-right: 10px;
          width: 60px;
          padding: 6px 4px 6px 12px;
        }
      }
      .icon{
        margin-right: 10px;
      }
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0E5D7C;
  }
}

.daterangepicker{
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
  &.openscenter{
    table{
      position: relative;
    }
    tbody{
      &::after {
        content: none;
      }
      td{
        color: initial;
        &.in-range{
          color: #333;
        }
        &.start-date, &.end-date{
          color: #fff;
        }
      }
    }
  }
  .range_inputs{
    display: none;
  }
}

@keyframes moveLeftCorner {
  0% {
    position: absolute;
    left: 36%;
    top: 0;
    transform: scale(1);
  }
  100% {
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.4);
  }
}

@-webkit-keyframes moveLeftCorner{
  0% {
    position: absolute;
    left: 36%;
    top: 0;
    transform: scale(1);
  }
  100% {
    position: absolute;
    left: 0;
    top: -30px;
    transform: scale(0.4);
  }
}

@keyframes swipeLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@-webkit-keyframes swipeLeft{
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-300px);
  }
}

@keyframes swipeFromRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes swipeFromRight{
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}