@import 'media.less';
.login-model{
  min-height: 435px;
  .top-corner{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .icon{
    &:focus{
      outline: none;
    }
  }
  .title{
    text-align: center;
    color: #848a91;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 300;
  }
  .underline{
    border-bottom: 2px solid rgba(14,93,124,0.5);
    padding-top: 8px;
    width: 15%;
    margin: auto;
  }
  .sub-title{
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
    &.has-height{
      min-height: 45px;
    }
  }
  .bottom{
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
    .link{
      color: #045F79;
      &:focus{
        outline: none;
      }
    }
  }
  .button-signin{
    padding: 10px 0 ;
    text-align: center;
    font-size: 20px;
    &.bottom{
      padding: 1vw 0 3vw 0;
      @media @mobile {
        padding: 5vw 0 15vw 0;
      }
    }
    @media @mobile {
      padding: 15vw 0 5vw 0;
    }
    .fa{
      padding-right: 18px;
      font-size: 22px;
    }
    .login-button{
      font-size: 18px;
      padding: 0;
      display: flex;
      align-items: center;
      margin: auto;
      height: 49px;
      width: 280px;
      &:focus{
        outline: none;
      }
      &.facebook-button{
        background-color: #3B5998;
        color: white;
        padding-left: 36px;
      }
      &.google-button{
        background: white;
        color: #444;
        border: thin solid #888;
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        padding-left: 19px;
        .google-icon{
          background-image: url("../../images/google.svg");
          width: 53px;
          height: 53px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-bottom: -3px;
          margin-top: -3px;
          &:focus{
            outline: none;
          }
        }
      }
      &.email-button{
        background-color: #CD0007;
        color: white;
        padding-left: 36px;
      }
      &.signup{
        padding: 0 100px;
        width: 100%;
      }
    }
  }
  .password{
    position: relative;
    .fa{
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
    .form-control{
      padding-right: 40px;
    }
  }
}
.login-page{
  background: -moz-linear-gradient(top, rgba(14,93,124,1) 10%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(14,93,124,1) 10%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(14,93,124,1) 10%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e5d7c', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
  position: relative;
  height: 100%;
  padding: 20px;
  @media @mobile {
    padding: 10px;
  }
  .title-container {
    width: 420px;
    margin: auto;
    @media @mobile {
      width: 100%;
      padding: 10px 40px;
    }
    .title-swaps {
      background-repeat: no-repeat;
      color: #fff;
      font-size: 56px;
      font-weight: 500;
      height: 170px;
      @media @mobile {
        height: 110px;
      }
    }
    .points-container {
      color: #fff;
      font-weight: 400;
      padding: 5px 0;
      font-size: 28px;
      margin-top: -40px;
      line-height: 1.2em;
      @media @mobile {
        font-size: 20px;
        margin-top: -28px;
      }
      .points-container-border{
        width: 12%;
        padding-top: 12px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        @media @mobile {
          width: 24%;
        }
      }
    }
  }
  .description{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    @media @mobile {
      font-size: 16px;
      padding-bottom: 15px;
    }
  }
  .login-model{
    background-color: #ffffff;
    margin: auto;
    width: 400px;
    height: 400px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    .title{
      padding-bottom: 10px;
    }
    @media @mobile {
      width: auto;
      height: 450px;
    }
  }
}