
@fa-font-path:   "../public/fonts";

@import "sprite.less";
@import "header.less";
@import "home.less";
@import "travelers.less";
@import "account.less";
@import "profile.less";
@import "swapper-home.less";
@import "checkbox.less";
@import "swaps.less";
@import "payment.less";
@import "request.less";
@import "review.less";
@import "loader.less";
@import "login.less";
@import "info.less";
@import "footer.less";
@import "onboarding.less";
@import "transactions.less";

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/maven/MavenPro-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/maven/MavenPro-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/maven/MavenPro-Bold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/maven/MavenPro-Black.ttf') format('truetype');
  font-weight: 600;
}

body{
  font-family: MavenPro;
	padding:0;
	background-color: #e1e1e1;
    //color: rgb(199, 167, 104);
	::-webkit-scrollbar{
		background-color: transparent;
		width: 12px;
	}
	::-webkit-scrollbar-button{display: none; background-color: tranparent;}
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
		border-radius: 10px;
	}
	::-webkit-scrollbar-track-piece  { /* 4 */ }
	::-webkit-scrollbar-thumb{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	}
	::-webkit-scrollbar-corner       { display: none;}
	::-webkit-resizer                {display: none; }
}

a{
	text-decoration: none;
	&:hover,&:active,&:focus,&:visited{
		text-decoration: none;
	}
}

input[type=number] {
    font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button {
	background: #eee no-repeat 50% 50%;
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    border-radius: 28px;
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.pac-container{
  border: 2px solid #c7a768;
  box-shadow: none;
  -webkit-box-shadow: none;
  .pac-item{
    font-size: 16px;
    padding-left: 10px;
    border: none;
  }
  .pac-item-query{
    font-size: 16px;
  }
  .pac-icon{
    display: none;
  }
}

.daterangepicker_input{
  display: none;
}
.month {
  width: auto;
  font-size: 18px;
}
.fa{
  font-size: 18px;
}
.daterangepicker{
  .calendar{
    td{
      font-size: 16px;
      &.active{
        background-color: rgba(199, 167, 104, 1);
      }
      &.in-range{
        background-color: rgba(199, 167, 104, 0.2);
      }
    }
  }
  .table-condensed{
    thead{
      color: #0E5D7C;
      .month, .available{
        color: rgba(199, 167, 104, 1);
      }

    }
  }
}
a{
  color: #0E5D7C;
}
div{
  &:focus{
    outline: none;
  }
}

.request-modal{
  .modal-sm{
    width: 435px !important;
    @media @mobile {
      width: auto !important;
    }
  }
}

.full-width{
  width:100%;
}

.flex{
  display: flex;
}

.btn-primary{
  background-color: #0E5D7C;
  border-color: #0E5D7C;
  &:focus, &:active{
    outline: none;
  }
}
.close{
  opacity: 1;
}

.ng-image-gallery {
  .ng-image-gallery-modal {
    .ng-image-gallery-content {
      .galleria{
        @media @mobile {
          left: 8vw;
          right: 8vw;
        }
      }
    }
  }
}

.alertify-logs {
  font-size: 16px;
}

.alertify{
  background-color: #f9f6f1;
  .msg{
    color: #848a91 !important;
    font-size: 16px !important;
    text-align: center !important;
    line-height: 20px !important;
  }
  nav{
    display: flex;
    justify-content: space-between;
    button{
      color: #ffffff !important;
      font-size: 16px !important;
      border-radius: 5px !important;
      &.ok{
        background-color: #0E5D7C !important;
        border-color: #0E5D7C !important;
        &:focus{
          outline: none;
        }
        &:hover{
          outline: none;
          background-color: #227392 !important;
        }
      }
      &.cancel{
        background-color: rgba(199, 167, 104, 1) !important;
        color: #ffffff !important;
        &:hover{
          outline: none;
          background-color: rgba(199, 167, 104, 0.8) !important;
        }
      }
      &:focus{
        outline: none;
      }
    }
  }
}
