@import 'media.less';
.onboarding-wrapper {
  height: 610px;
  position: relative;
  @media @mobile {
    height: 750px;
  }
  .top-corner {
    position: absolute;
    top: 0;
    right: 0;
  }
  .onboarding-header{
    .phases{
      padding: 15px;
      .phase{
        padding:0;
        .top{
          display: flex;
          align-items: center;
          .circle{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #848a91;
            transition: 0.3s ease;
            &.first{
              background: rgb(14,93,124); /* Old browsers */
              background: -moz-linear-gradient(top, rgba(14,93,124,1) 0%, rgba(255,255,255,1) 66%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, rgba(14,93,124,1) 0%, rgba(255,255,255,1) 66%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, rgba(14,93,124,1) 0% ,rgba(255,255,255,1) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E5D7C', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }
            &.second{
              background: rgb(14,93,124); /* Old browsers */
              background: -moz-linear-gradient(top, rgba(14,93,124,1) 0%, rgba(14,93,124,1) 33%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, rgba(14,93,124,1) 0%, rgba(14,93,124,1) 33%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, rgba(14,93,124,1) 0%, rgba(14,93,124,1) 33%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E5D7C', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }
            &.done{
              border-color: #0E5D7C;
              background-color: #0E5D7C;
            }
            &.active{
              box-shadow: 0 0 10px 2px #0e5d7c;
            }
          }
          .line{
            border-bottom: 1px solid #848a91;
            width: 40%;
            transition: 0.4s ease;
            &.active{
              border-color: #0E5D7C;
            }
          }
        }
        .bottom{
          .phase-title{
            text-align: center;
            font-size: 18px;
            font-weight: 300;
            padding-top: 10px;
            @media @mobile {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .info-area{
    padding: 80px 0;
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      border-top-color: white !important;
    }

    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      border-right-color: white !important;
    }


    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      border-bottom-color: white !important;
    }


    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      border-left-color: white !important;
    }
    .tooltip{
      .tooltip-arrow{
        border-color: transparent !important;
      }
    }
    .tooltip-inner {
      background-color: white !important;
      width: 100% !important;
      max-width: 700px !important;
      color: black !important;
      .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        position: absolute;
        z-index: 1;
      }
      &:hover{
        .tooltiptext {
          visibility: visible;
        }
      }
    }
    .form-control{
      height: 42px;
      font-size: 18px;
    }
    textarea.form-control{
      height: auto;
    }
    .mg-0{
      margin:0;
    }
    @media @mobile {
      padding: 80px 0;
    }
    .user-info{
      padding: 1% 0;
      width: 50%;
      margin: auto;
      @media @mobile {
        width: 100%;
      }
      @media @tablet {
        width: 100%;
      }
      &.photos{
        padding: 0;
      }
      .payment-plan{
        @media @desktop, @desktop-lg {
          margin-left: -60px;
          .form-control{
            margin-left: 60px;
            width: 88%;
          }
        }
      }
      .upload-profile-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .profile-upload{
          display: block;
          opacity: 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
        }
      }
    }
    .basics{
      .name-with-icon{
        display: flex;
        align-items: flex-end;
        margin-bottom: 4px;
        .icon-bed-small{
          height: 21px;
        }
      }
      .form-control{
        @media @mobile {
          padding: 6px;
        }
      }
      .basics-name{
        font-size: 14px;
        text-align: left;
        color: #0E5D7C;
        margin-left: 4px;
        padding-top: 6px;
      }
    }
    .main-title{
      padding-bottom: 10px;
      color: #0E5D7C;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      @media @mobile {
        font-size: 25px;
      }
    }
    .sub-title{
      padding: 18px 15px;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin: auto;
      @media @mobile {
        font-size: 16px;
      }
    }
    .start-button{
      padding-top: 60px;
      display: flex;
      &.end{
        padding-top: 20px;
        flex-direction: column;
        &.swap-dates-end{
          padding-top: 0;
        }
      }
      .complete-btn {
        font-size: 18px;
        width: 170px;
        margin: auto;
        transition: ease 0.3s;
        &:hover{
          background-color: #ffffff;
          color: #0e5d7c;
        }
        &.btn-close{
          font-size: 18px;
          background-color: #ffffff;
          color: #0e5d7c;
          transition: ease 0.3s;
          &:hover{
            background-color: #0e5d7c;
            border-color: #0e5d7c;
            color: #ffffff;
          }
        }
        @media @mobile {
          font-size: 16px;
          width: 48%;
        }
      }
    }
    .large-input{
      font-size: 20px;
      height: 44px;
    }
    .listing-label{
      color: #0E5D7C;
      font-size: 16px;
      .explanation{
        font-size: 11px;
        font-weight: 300;
        color: #000;
      }
    }
    checkbox {
      .single-checkbox{
        width: 33%;
        @media @mobile {
          width: 50%;
        }
      }
    }
    .info-section{
      padding: 0 15px;
    }
    .photos{
      position: relative;
      .photos-title{
        font-size: 15px;
        text-align: center;
        padding-bottom: 10px;
      }
      .box{
        background-color: rgba(199, 167, 104, 0.2);
        z-index: 1;
        position: absolute;
        width: 107%;
        height: 87%;
        margin: 0 -15px;
        @media @mobile {
          width: 110%;
          height: 82%;
        }
        @media @tablet {
          width: 105%;
        }
        &.has-advanced-upload {
          outline: 2px dashed grey;
          outline-offset: -10px;
          .box__dragndrop {
            display: inline;
            color: grey;
            font-weight: 400;
          }
        }
        .cloudinary-fileupload{
          opacity: 0;
        }
        .choose-file{
          color: #0E5D7C;
          cursor: pointer;
          position: absolute;
          text-align: center;
          font-size: 16px;
          top: 24%;
          width: 100%;
        }
      }
      .uploaded-photos{
        .photo{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 200px;
          border: 1px solid grey;
          @media @mobile {
            height: 180px;
          }
        }
      }
      .loader-wrapper{
        position: absolute;
        background-color: rgba(169,169,169,0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
    .complete-buttons{
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      .complete-btn{
        font-size: 18px;
        width: 170px;
        @media @mobile {
          font-size: 16px;
          width: 48%;
        }
        &:hover{
          background-color: #ffffff;
          color: #0e5d7c;
        }
        &.btn-close{
          font-size: 18px;
          background-color: #ffffff;
          color: #0e5d7c;
          transition: ease 0.3s;
          &:hover{
            background-color: #0e5d7c;
            border-color: #0e5d7c;
            color: #ffffff;
          }
        }
      }
    }
    .basic{
      padding: 0 30px;
      @media @mobile {
        padding: 0;
      }
    }
  }
  .buttons{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &.home{
      flex-direction: row-reverse;
    }
    .button{
      display: flex;
      align-items: center;
      font-size: 22px;
      cursor: pointer;
      color: #0e5d7c;
    }
    .next{
      &:hover{
        .glyphicon{
          -webkit-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-animation: next 1.2s ease;
          animation: next 1.2s ease;
        }
      }
      &:active, &:focus{
        outline: none;
      }
      &.close{
        margin-left: auto;
      }
    }
  }
}
@-webkit-keyframes next{
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes next {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.payment-plan{
  .all-plans{
  }
  .single-plan{
    color: #ffffff;
    text-align: center;
    border: 2px solid #c7a768;
    transition: 0.4s ease;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.39);
    cursor: pointer;

    &.nomad{
      background: #b2def7; /* Old browsers */
      background: -moz-linear-gradient(top, #68b8d5 0%, #b2def7 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #68b8d5 0%,#b2def7 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #68b8d5 0%,#b2def7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68b8d5', endColorstr='#b2def7',GradientType=0 ); /* IE6-9 */
      .plan-image{
        background-image: url('../../images/static/backpack.png');
      }
    }
    &.globetrotter{
      background: #68b8d5; /* Old browsers */
      background: -moz-linear-gradient(top, #006EA5 0%, #68b8d5 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #006EA5 0%,#68b8d5 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #006EA5 0%,#68b8d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006EA5', endColorstr='#68b8d5',GradientType=0 ); /* IE6-9 */
      .plan-image{
        background-image: url('../../images/static/trolley.png');
      }
    }
    &.cosmopolite{
      background: #0E5D7C; /* Old browsers */
      background: -moz-linear-gradient(top, #0E5D7C 0%, #006EA5 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #0E5D7C 0%,#006EA5 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #0E5D7C 0%,#006EA5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E5D7C', endColorstr='#006EA5',GradientType=0 ); /* IE6-9 */
      .plan-image{
        background-image: url('../../images/static/suitcase.png');
      }
    }
    .plan-top{
      padding: 10px 0;
      margin: 0 20px;
      border-bottom: 2px solid #ffffff;
    }
    .plan-title{
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .plan-image{
      margin: auto;
      height: 60px;
      width: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .price{
      font-size: 30px;
      font-weight: bold;
    }
    .plan-bottom{
      padding: 20px;
    }
    .small-text{
      font-size: 12px;
      padding-bottom: 5px;
    }
    .covers{
      font-size: 14px;
      padding: 5px 0;
    }
  }
}
.tooltip.in{
  opacity: 1;
}