payment{
  .payment-wrapper{
    width:100%;
    .width-50{
      width: 50%;
    }
    .width-19{
      width: 19%;
    }
  }
  .last-row{
    display: flex;
    align-items: stretch;
    .pay{
      border-radius: 4px;
      font-size: 18px;
      padding: 6px 10px;
      height: 100%;
      text-align: center;
      &:focus{
        outline: none;
      }
    }
  }
}