.profile-page{
	background-color: #f9f6f1;
	font-family: MavenPro;

	.appt-slider-and-profpic {
		margin-top: 1%;
		//width: 95%;

		.photos{
			height:30vw;
			position: relative;
			.main-photo{
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin: auto;
				height: 100%;
				width: 100%;
				padding-right: 102%;
			}
			.ng-image-gallery {
				.ng-image-gallery-thumbnails{
					.thumb{
						display: none;
					}
				}
			}
		}
		.prof-pic {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	.main-section {
		.apt-description {
			margin-top: 2%;

			.caption-upto-separator {
				height: 112px;
			}
			.description-title {
				font-size: 32px;
				font-weight: bold;
				padding: 10px 0;
				color: #0d78ad;
				display:inline-block;
				max-width: 100%;
				white-space: nowrap;
				overflow:hidden;
				text-overflow: ellipsis;
				height: 62px;
				transition: ease 0.3s;

				@media (max-width: @screen-xs-max) {
					font-size: 12px;
					height: 26px;
				}

				&:hover {
					transition: ease 0.3s;
					white-space: normal;
					color: #0d9ce2;
					height: 200px;

					@media (max-width: @screen-xs-max) {
						height: 110px;
					}
				}
			}
			.under-title {
				font-size: 24px;
				color: #616161;
				font-size: 142%;
				font-weight: 100;
			}

			.simple-apt-info {
				//display: inline-flex;
				margin-top: 2%;
				height: 62px;

				.simple-apt-info-content {
					float: left;
					padding-top: 1%;
					padding-right: 3%;
					font-size: 150%;
					color: #616161;

					@media (max-width: @screen-xs-max) {
						font-size: 14px;
						clear: left;

						&.icon {
							width: 30px;
							height: 30px;
						}
					}
				}

				.icon {
					width: 50px;
					height: 50px;
					background-size: contain;
					background-position: 0px 0px;
					float: left;
					margin-top: -4%;

					&.icon-bed {
						background-image: url(../../images/spritesheet12.png);
						background-size: 430px 364px;
						background-position: -78px -10px;
					}
					&.icon-man {
						background-image: url(../../images/spritesheet12.png);
						background-size: 425px 350px;
						background-position: -152px -220px;
					}
					&.icon-duck {
						/////////////INSERT DUCK ICON HERE
						background-image: url(../../images/spritesheet12.png);
						background-size: 760px 623px;
						background-position: -246px -43px;
					}
					&.icon-door {
						/////////////INSERT DOOR ICON HERE
						background-image: url(../../images/spritesheet12.png);
						background-position: -759px 0px;
						background-size: 1012px 679px;
					}
				}

			}



			.left-side-description {
				font-size: 150%;
				color: #0d78ad;
				font-weight: bold;
				text-align: center;

				@media (max-width: @screen-xs-max) {
					font-size: 10px;
				}
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 18px;
				}
			}
			.facilities {

			}
			.right-side-elaboration {
				font-size: 120%;
				color: #616161;

				@media (max-width: @screen-xs-max) {
					font-size: 12px;
				}
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 18px;
				}
			}

			.read-more-activation {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.read-more-button {
				width: fit-content;

				@media (max-width: @screen-xs-max) {
					&.plain-text {
						font-size: 14px;
						width: 114px;
					}
					&.icon-plus {
						width: 30px;
						height: 30px;
						margin-right: 4%;
					}
				}
			}

			.icon-plus {
				background-image: url("../../images/icons/plus1.png");
				width: 38px;
				height: 38px;
				background-position: 1px -31px;
				background-size: 214%;
				float: left;
			}
			.plain-text {
				font-size: 120%;
				font-weight: bold;
				color: #616161;
				margin-left: 6%;
				padding-top: 1%;
			}
			.check-container {
				float: right;
				display: block;
				background-color: #e0e0e0;
				width: 20px;
				height: 20px;
				margin-top: 5%;
				margin-left: 7%;
				margin-right: 4%;

				@media (max-width: @screen-xs-max) {
					width: 10px;
					height: 10px;
				}

				.checkbox-div {
					float: left;
					//background-image: url("../../images/icons/V.png");
					display: block;
					background-size: contain;
					width: 30px;
					height: 30px;
					margin-top: -8px;
					margin-left: 0;

					@media (max-width: @screen-xs-max) {
						width: 24px;
						height: 26px;
					}
				}
			}
			.icon {
				float: left;
				display: block;

				background-image: url(../../images/spritesheet12.png);
				background-size: 365px 290px;
				width: 50px;
				height: 50px;

				@media (max-width: @screen-xs-max) {
					width: 30px;
					height: 30px;
					background-size: 223px 182px;
					background-repeat: repeat;

				}

				&.kitchen-icon {
					background-position: -4px -179px;

					@media (max-width: @screen-xs-max) {
						background-position: -4px -113px;
					}
				}
				&.tv-icon {
					background-position: -308px -122px;

					@media (max-width: @screen-xs-max) {
						background-position: -412px -76px;
					}
				}
				&.wifi-icon {
					background-image: url("../../images/icons/FLAG.png");
				}
				&.airconditioning-icon {
					background-position: -240px -237px;

					@media (max-width: @screen-xs-max) {
						background-position: -370px -150px;
					}
				}
				&.heating-icon {
					background-position: -47px -121px;

					@media (max-width: @screen-xs-max) {
						background-position: -252px -76px;
					}
				}
				&.washing-icon {
					background-position: -298px -179px;

					@media (max-width: @screen-xs-max) {
						background-position: -629px -112px;
					}
				}
				&.dryer-icon {
					background-position: -64px -62px;

					@media (max-width: @screen-xs-max) {
						background-position: -262px -39px;
					}
				}
				&.hairdryer-icon {
					background-image: url("../../images/icons/FLAG.png");
				}
				&.bathtub-icon {
					background-image: url("../../images/icons/FLAG.png");
				}
				&.elevator-icon {
					background-position: -122px -62px;

					@media (max-width: @screen-xs-max) {
						background-position: -298px -39px;
					}
				}
				&.parking-icon {
					background-position: -4px -235px;

					@media (max-width: @screen-xs-max) {
						background-position: -226px -148px;
					}
				}
				&.pool-icon {
					background-image: url("../../images/icons/FLAG.png");
				}
				&.hottub-icon {
					background-image: url("../../images/icons/FLAG.png");
				}
				&.fireplace-icon {
					background-position: -106px -120px;

					@media (max-width: @screen-xs-max) {
						background-position: -288px -75px;
					}
				}
				&.garden-icon {
					background-position: -298px -62px;

					@media (max-width: @screen-xs-max) {
						background-position: -406px -39px;
					}
				}
			}

			.description-text {
				float: left;
				padding: 4% 0 0 8%;
				font-size: 122%;
				color: #616161;
			}

			.icon-star-full {
				background-image: url("../../images/spritesheet12.png");
				width: 33px;
				height: 30px;
				background-position: -4px 326px;
				//background-repeat: no-repeat;
				//background-position: -357px -358px;
			}
			.icon-star-empty {
				background-image: url("../../images/spritesheet12.png");
				width: 33px;
				height: 30px;
				background-position: -484px 504px;
			}
			.stars {
				float: left;
				margin-left: 1%;
				//margin-top: -28%;
				.star {
					margin-top: -10%;
				}
			}
			.comments-smaller-header {
				float: left;
				margin-right: 5%;
				font-weight: bold;
			}
			.left-floaters-likes {
				clear: both;
				float: left;
				width: 100%;

				.icon-like{
					float: left;
					background-image: url("../../images/icons/like.png");
				}
				.icon-dislike {
					float: left;
					background-image: url("../../images/icons/dislike.png");
				}
				.icon-flag {
					float: left;
					background-image: url("../../images/icons/FLAG.png");
				}
				.like-count {
					float: left;
					margin: 3% 3%;
				}
			}

			.separator {
				&.before-comments {
					margin: 2% 0;
				}
			}
			.comments-show {
				.comment {
					//margin-bottom: 14%;

					.commenter-photo {
						height: 70px;
						width: 70px;
						border-radius: 50%;
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;

						@media (max-width: @screen-xs-max) {
							height: 50px;
							width: 50px;
							float: left;
							margin-right: 7%;
						}
					}
					.commenter-name {
						font-size: 120%;
						font-weight: bold;
						color: #0d78ad;
						margin-bottom: 2%;
					}
					.commenter-country-and-age {
						color: #616161;
						font-size: 120%;
						margin-bottom: 2%;
					}
					.commenter-comment {
						color: #616161;
						letter-spacing: 0.2px;
					}

					.separator {
						padding-bottom: 12%;
						margin: 2% 0;
					}
				}
			}
			.map-section {
				.country-and-city {
					font-size: 120%;
					color: #616161;
					font-weight: bold;

					@media (max-width: @screen-xs-max) {
						font-size: 10px;
						text-align: center;
					}
				}
				.address {
					font-size: 120%;
					font-weight: 100;
					color: #616161;

					@media (max-width: @screen-xs-max) {
						font-size: 14px;
						text-align: center;
					}
				}
			}

			.row {
				margin-bottom: 2%;
			}


			// MAP
			.map-view{
				padding: 0 0 0 5px;
			}
			.map{
				height: 46vw;
				@media (max-width: @screen-sm-max) {
					height: 36vw;
				}
				@media (max-width: @screen-xs-max) {
					height: 80vw;
				}
				#travelerMarkerLayer {
					img{
						border-radius:50% !important;
						width: 50px !important;
						height: 50px !important;
						display: block;
						object-fit: cover;
						transform: scale(0.75);
						border:2px solid rgba(13, 134, 234, 0);
						-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(13, 134, 234,.6);
						box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(13, 134, 234,.6);
						-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
						transition: ease 1s;
						&:hover{
							-ms-transform: scale(1.2); /* IE 9 */
							-webkit-transform: scale(1.2); /* Safari */
							transform: scale(1.2);
						}
					}
				}
				.infoWindowContent{
					font-size: 16px;
					font-weight: bold;
					padding-top: 10px;
					color: #000;
					background-color: rgba(192,192,192,0.8);
				}
				.travelers{
					font-size:20px;
					text-align: center;
					font-weight: bold;
					color: #045f79;
				}
				.map-photo{
					width: 20vw;
					height: 15vw;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
			// END MAP

		}



		.profile-description {
			margin-top: 2%;

			@media (max-width: @screen-xs-max) {
				-webkit-box-shadow: -7px -1px 51px -20px rgba(0,0,0,0.75);
				-moz-box-shadow: -7px -1px 51px -20px rgba(0,0,0,0.75);
				box-shadow: -7px -1px 51px -20px rgba(0,0,0,0.75);
			}

			.separator-more-padding {
				padding-top: 15%;
			}

			.name-and-mutual-friends {
				height: 120px;

				.circle-profile-pic {
					//height: 100px;
					//width: 100px;
					border-radius: 50%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					float: right;
					margin-right: 18px;

					@media (max-width: @screen-xs-max) {
						width: 50px;
						height: 50px;
						margin-right: 10px;
					}
				}
			}
			.swapper-name {
				font-size: 32px;
				font-weight: bold;
				padding: 10px 0;
				color: #0d78ad;

				@media (max-width: @screen-xs-max) {
					font-size: 12px;
				}
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 18px;
				}
			}
			.under-name {
				font-size: 24px;
				color: #616161;
				font-size: 142%;
				font-weight: 100;

				@media (max-width: @screen-xs-max) {
					font-size: 12px;
					text-align: center;
				}
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 18px;
				}
			}

			.mutual-friends {
				.icon-man {
					background-position: -207px -5px;
					background-position: -530px -221px;
					-webkit-background-size: auto;
					background-size: auto;
					float: left;


					@media (max-width: @screen-xs-max) {
						width: 30px;
						height: 30px;
						background-size: 185px 185px;
						background-position: -144px -5px;
					}
				}
				.mutual-friends-text {
					margin-top: 5%;
					margin-left: 16%;
					padding-top: 4%;
					color: #616161;
					font-size: 130%;

					@media (max-width: @screen-xs-max) {
						font-size: 10px;
					}
				}
			}
			.about-me {
				font-size: 120%;
				font-weight: bold;
				color: #0d78ad;
				margin-bottom: 4%;

				@media (max-width: @screen-xs-max) {
					font-size: 12px;
				}
				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
					font-size: 18px;
				}
			}
			.about-text {

				@media (max-width: @screen-xs-max) {
					font-size: 10px;
				}
			}
			.contact-host {
				font-size: 120%;
				font-weight: bold;
				color: #616161;
				margin-bottom: 4%;

				@media (max-width: @screen-xs-max) {
					font-size: 14px;
				}
			}
			.icon-plus-checkbox {
				.pet-icon {
					float: left;
					background-image: url("../../images/spritesheet12.png");
					background-size: 365px 290px;
					background-position: -63px -240px;
					display: block;
					width: 50px;
					height: 50px;
					
					@media (max-width: @screen-xs-max) {
						width: 30px;
						height: 30px;
						//margin-left: 30px;
					}
				}
				.smoke-icon {
					float: left;
					background-image: url("../../images/spritesheet12.png");
					background-size: 365px 290px;
					background-position: -106px -120px;
					display: block;
					width: 50px;
					height: 50px;

					@media (max-width: @screen-xs-max) {
						width: 30px;
						height: 30px;
						//margin-left: 30px;
					}
				}
				.description-text {
					float: left;
					padding: 8% 0 0 6%;
					font-size: 122%;
					color: #616161;

					@media (max-width: @screen-xs-max) {
						font-size: 12px;
					}
				}

				.check-container {
					float: right;
					display: block;
					background-color: #e0e0e0;
					width: 20px;
					height: 20px;
					margin-top: 5%;
					margin-left: 7%;
					margin-right: 4%;
					@media (max-width: @screen-xs-max) {
						width: 10px;
						height: 10px;
					}

					.checkbox-div {
						float: left;
						//background-image: url("../../images/icons/V.png");
						display: block;
						background-size: contain;
						width: 30px;
						height: 30px;
						margin-top: -8px;
						margin-left: 0;

						@media (max-width: @screen-xs-max) {
							width: 24px;
							height: 26px;
						}
					}
				}
			}

		}
	}

	.info{
		.info-row{
		    margin-right: 0;
	    	margin-left: 0;
		}
		.user-info{
			width: 80%;
		    position: relative;
		    margin: auto;
		    border-radius: 15px;
		    margin-top: 20px;
    		background-color: floralwhite;
			.profile-pic{
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				height: 15vw;
				width: 15vw;
				margin: auto;
				position: absolute;
			    top: -7.5vw;
			    right: 20%;
			}
			.personal{
			    position: relative;
				transition: ease 0.5s;
				text-align: center;
				font-size: 16px;
				padding-top: 8vw;
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid lightgrey;
				.name{
					transition: ease 0.5s;
				    text-align: center;
				    font-size: 20px;
				}
				.hidden-personal{
					border-radius: 15px;
				    height: 0%;
				    padding:0px;
				    width: 100%;
				    position: absolute;
				    left: 0;
				    top: 0;
				    background-color: floralwhite;
				    z-index: 10;
				    transition: ease 0.5s;
				    overflow: hidden;
				}
				&:hover{
					.hidden-personal{
						padding: 10px;
					    height: 100%;
					}
				}
			}
			.swaps{
			    text-align: center;
			    font-size: 18px;
			}
			.text{
				padding-bottom: 8px;
			}
			.dates{
				text-align: left;
				padding: 10px;
				.traveling-cities{
					.datefilter{
						float: right;
    					cursor: pointer;
					}
				}
			}
			.md-datepicker-input {
			    font-size: 16px;
			}
			.md-calendar-date-selection-indicator {
			    cursor: default;
			}
			.md-calendar-month-label:not(.md-calendar-month-label-disabled) {
			    cursor: default;
			}
			.md-button{
				height: 0;
				min-height:34px;
				padding: 4px;
			}
			.md-datepicker-input-container{
				border: none;
			}
			.md-datepicker-triangle-button{
				display: none;
			}
			.req-swap{
				padding: 10px 20%;
				.req-sent{
					text-align: center;
					font-size: 20px;
					color: 	#204d74;
				}
			}
			.btn-swap{
				width: 100%;
				font-size: 20px;
			}
		}
		.appt-info{
			padding: 0px 60px;
    		margin: 20px 5px;
    		border-radius: 15px;
    		background-color: floralwhite;
			.section{
				border-bottom: 1px solid lightgrey;
				padding: 15px;
			}
			.description-title{
				font-size: 36px;
			    font-weight: bold;
			    padding: 10px 0;

			}
			.city{
				font-size: 18px;
			}
			.rating{
			    padding-top: 5px;
			    display: flex;
    			align-items: center;
				.number-reviews{
					margin-left: 10px;
				}
			}
			.listing{
				font-size: 16px;
				text-align: center;
				.fa{
					font-size: 28px;
				}
			}
			.title{
				font-size: 26px;
			    font-weight: bold;
			    padding: 10px 0;
			}
			.text{
				font-size: 16px;
			}
			.amenity{
				padding: 5px 0;
			    font-size: 18px;
			    .fa{
			        width: 20px;
			    	margin-right: 5px;
			    }
			}
			.unstyled-list{
				list-style: none;
			}
			.reviews{
				.review{
				    border-bottom: 1px solid #d3d3d3;
    				padding-top: 20px;
					.reviewer-info{
					    align-items: center;
    					display: flex;
						.review-photo{
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							border-radius: 50%;
							height: 50px;
							width: 50px;
						}
						.name{
							margin-left: 15px;
							font-size: 18px;
							.city{
								font-size: 16px;
							}
						}
					}
					.date{
						float: right;
						font-size: 16px;
						font-weight: lighter;
					}
					.text{
						padding: 15px 10px;
					}
				}
			}
		}
	}
	.icon {
		width: 30px;
		height: 47px;
		background-size: 270px;
	}
	.spinner {
		animation: spin 2s;
		transform: rotate(360deg);
	}
	.separator {
		display: block;
		margin: 8% 0;
		border-bottom: 1px solid #bababa;
		width: 100%;
	}
	.hideme {
		opacity: 0;
	}
	.visible {
		opacity: 1;
	}
}
.modal-content{
	padding: 15px;
	.title{
		padding-bottom: 10px;
		font-size: 22px;
    	text-align: center;
	}
	.btn-send{
		float: left;
	}
}


// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//@media (max-width: @screen-xs-max) {
//	.profile-page {
//		.appt-slider-and-profpic {
//			margin-top: 1%;
//			//width: 95%;
//
//			.photos{
//				height:30vw;
//				position: relative;
//				.main-photo{
//					background-position: center;
//					background-repeat: no-repeat;
//					background-size: cover;
//					margin: auto;
//					height: 100%;
//					width: 100%;
//					padding-right: 102%;
//				}
//				.ng-image-gallery {
//					.ng-image-gallery-thumbnails{
//						.thumb{
//							display: none;
//						}
//					}
//				}
//			}
//			.prof-pic {
//				background-repeat: no-repeat;
//				background-size: cover;
//			}
//		}
//
//		.main-section {
//			.apt-description {
//				margin-top: 2%;
//
//				.description-title {
//					font-size: 32px;
//					font-weight: bold;
//					padding: 10px 0;
//					color: #0d78ad;
//				}
//				.under-title {
//					font-size: 24px;
//					color: #616161;
//					font-size: 142%;
//					font-weight: 100;
//				}
//				.simple-apt-info {
//					display: inline-flex;
//
//					.simple-apt-info-content {
//
//					}
//				}
//			}
//
//			.profile-description {
//				margin-top: 2%;
//
//				.swapper-name {
//					font-size: 32px;
//					font-weight: bold;
//					padding: 10px 0;
//					color: #0d78ad;
//				}
//				.under-name {
//					font-size: 24px;
//					color: #616161;
//					font-size: 142%;
//					font-weight: 100;
//				}
//
//				.mutual-friends {
//					.icon-man {
//						background-position: -207px -5px;
//						float: left;
//					}
//					.mutual-friends-text {
//						margin-top: 5%;
//						margin-left: 16%;
//						padding-top: 4%;
//						color: #616161;
//					}
//				}
//				.about-me {
//					font-size: 120%;
//					font-weight: bold;
//					color: #0d78ad;
//					margin-bottom: 4%;
//				}
//				.contact-host {
//					font-size: 120%;
//					font-weight: bold;
//					color: #616161;
//					margin-bottom: 4%;
//				}
//				.icon-plus-checkbox {
//					.pet-icon {
//						float: left;
//						background-image: url("../../images/icons/pets.png");
//						display: block;
//						background-size: contain;
//						width: 30px;
//						height: 30px;
//					}
//					.smoke-icon {
//
//						width: 30px;
//						height: 30px;
//					}
//					.description-text {
//
//					}
//
//					.check-container {
//
//
//						.checkbox-div {
//
//						}
//					}
//				}
//
//			}
//		}
//	}
//}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

@media (min-width: @screen-lg-min) {

}

