@import 'media.less';
.request-page{
  position: relative;
  display: flex;
  overflow: hidden;
  height: 480px;
  transition: 0.4s ease;
  @media @mobile {
    height: 540px;
  }
  &.cancel{
    height: auto;
    min-height: 200px;
  }
  .center{
    text-align: center;
  }
  .match{
    width:100%;
    .photo{
      padding: 15px;
      width: 100%;
      margin: auto;
      .profile-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid #0E5D7C;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 40px;
        @media @mobile {
          width: 80px;
          height: 80px;
          margin-bottom: 5px;
        }
      }
    }
  }
  &.block{
    display: block;
  }
  &.receipt{
    background-color: #f9f6f1;
  }
  .top-corner{
    right: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    &:focus{
      outline: none;
    }
  }
  .request-swap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s ease;
    &.hide-request{
      left: -100%;
    }
    .dates{
      .search-field{
        margin-bottom: 10px;
        position: relative;
        .glyphicon{
          position: absolute;
          right: 10px;
          top: 4px;
          padding: 6px;
          font-size: 14px;
          color: #c7a768;
          &:focus{
            outline: none;
          }
        }
      }
    }
    .guests-search{
      //width: 60%;
    }
    .accepting-dates{
      position: relative;
    }
  }
  .confirmation{
    text-align: center;
    .arrival-dates{
      margin-top: 25px;
      .accepting-dates{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
        cursor: pointer;
        .show-dates{
          text-decoration: underline;
          margin-right: 5px;
        }
      }
    }
  }
  .title{
    font-weight: 300;
    color: #0E5D7C;
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    .underline{
      border-bottom: 2px solid rgba(14,93,124,0.5);
      padding-top: 6px;
      width: 12%;
      margin: auto;
    }
  }
  .sub-title{
    color: #616161;
    font-size: 18px;
    margin-bottom: 5px;
    transition: 0.2s ease;
    .blue{
      color: #0E5D7C;
    }
    .small-text{
      font-weight: 300;
    }
    .proposition-error{
      color: red;
      transition: 0.2s ease;
    }
  }
  .payment-receipt{
    transition: 0.5s ease;
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    &.show-receipt{
      left:0;
      position: relative;
    }
    &.hide-receipt{
      left: -100%;
    }
    .deposit-plan{
      padding: 30px 10px;
      border-bottom: 1px solid #bababa;
      font-size: 18px;
      opacity: .6;
      text-align: center;
    }
    .points-details{
      font-weight: bold;
      &.gain{
        color: #027C00;
      }
    }
    .type{
      padding-top: 15px;
      font-size: 16px;
      text-align: left;
    }
    .amount{
      margin-top: 10px;
      font-size: 14px;
      margin-left: 20px;
    }
    .minus{
      font-size: 24px;
      font-weight: 600;
    }
    .total{
      font-size: 16px;
      text-align: right;
      padding: 10px;
      margin: 10px 10px 0 20px;
      border-top: 1px solid #bababa;
      &.gain{
        color: #027C00;
      }
    }
    .fa{
      font-size: 16px;
      margin-left: 5px;
      cursor: pointer;
    }
    .terms{
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
    }
    .tooltip{
      font-size: 10px;
      .tooltip-inner {
        font-family: Lato;
        background-color: #ccc !important;
        color: #333 !important;
      }
      &.left{
        .tooltip-arrow{
          border-left-color: #ccc !important;
        }
      }
      &.right{
        .tooltip-arrow{
          border-right-color: #ccc !important;
        }
      }
    }
  }
  .payment-area{
    transition: 0.2s ease;
    position: absolute;
    left: 100%;
    width: 100%;
    &.show-payment{
      left:0;
    }
  }
  .loader-wrapper{
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
  }
  .request-complete{
    padding: 40px;
    position: relative;
    margin: 0 auto;
    .complete-title{
      color: #616161;
      font-size: 18px;
      margin-bottom: 5px;
      text-align: center;
    }
    .ok-btn{
      width: 40%;
      margin: auto;
      border-radius: 4px;
      padding: 10px;
      font-size: 18px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 30%;
      &.login-btn{
        position: relative;
        margin: 20px auto;
        left: initial;
        bottom: initial;
      }
    }
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    .pay{
      width: 120px;
      border-radius: 4px;
      padding: 10px;
      font-size: 18px;
      text-align: center;
      &.no{
        background-color: #c7a768;
      }
      &:focus{
        outline: none;
      }
    }
    .back{
      width: 120px;
      border-radius: 4px;
      padding: 10px;
      font-size: 18px;
      text-align: center;
      color: #0E5D7C;
      background-color: #ffffff;
      border: 2px solid #0E5D7C;
      transition: 0.3s ease;
      &:hover{
        color: #ffffff;
        border: 2px solid #0E5D7C;
        background-color: #0E5D7C;
      }
      &:focus{
        outline: none;
      }
      &.no{
        color: #ffffff;
        background-color: #0E5D7C;
        border: 2px solid #0E5D7C;
        &:hover{
          color: #ffffff;
          background-color: #227392;
          border-color: #227392;
        }
      }
    }
  }
  .btn-swap{
    margin: 15px 0;
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    @media @mobile {
      margin: 0;
    }
    &.cancel{
      position: relative;
    }
    &:focus{
      outline: none;
    }
    &.disabled{
      cursor: not-allowed;
    }
  }
  .send-message{
    margin-top: 20px;
    @media @mobile {
      margin-top: 20px;
    }
    .send-text{
      padding: 5px;
      font-size: 16px;
    }
  }
  .cancel-swap{
    .sub-title{
      padding-top: 80px;
      color: #616161;
      font-size: 16px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
  .error{
    font-size: 16px;
    margin: 10px 0;
    color: red;
    font-weight: 300;
  }
  .single-swap{
    @media @mobile {
      flex-direction: column;
    }
    &.add-swap{
      margin-top: 15px;
      padding-top: 10px;
      border-top: 2px solid rgba(14,93,124,0.5);
      &.account-page-add{
        margin-right: 12px;
      }
      &.onboarding-add{
        width: 80%;
        margin: auto;
        border: none;
        @media @mobile {
          width: auto;
        }
      }
    }
    .search-area{
      margin: 0;
      margin-bottom: 15px;
      @media @mobile {
        margin-bottom: 0;
        margin-top: 15px;
        width: auto;
      }
      .search-field{
        padding:0 5px;
        position: relative;
        background-color: #fff;
        @media @mobile {
          padding: 10px 0;
        }
        &.transition-ease{
          transition: 0.1s ease;
        }
        .glyphicon{
          position: absolute;
          right: 5px;
          top: 8px;
          padding: 6px;
          font-size: 14px;
          color: #c7a768;
          @media @mobile {
            top: 7px;
            right: 4px;
          }
          &.pd-15{
            @media @mobile {
              right: 15px;
            }
          }
          &:focus{
            outline: none;
          }
        }
        .flexible-departure{
          position: absolute;
          top: 0;
          font-size: 10px;
          left: 64px;
        }
        .flexible-return{
          position: absolute;
          top: 0;
          font-size: 10px;
          left: 125px;
        }
        .form-control{
          padding-left: 36px;
          border-radius: 0;
          background-color: #ffffff;
          border: 1px #0E5D7C solid;
          color: rgba(199, 167, 104, 1);
          font-size: 16px;
          height: 42px;
          -webkit-box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          -moz-box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          @media @mobile {
            font-size: 14px;
            padding-right: 8px;
          }
          &:focus{
            border-color: #0E5D7C;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(14,93,124,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(14,93,124,.6);
          }
          &.no-border{
            border: none;
            box-shadow: none;
            height: 40px;
          }
        }
        .icon{
          position: absolute;
          &.icon-man-small{
            bottom: 11px;
            left: 10px;
            @media @mobile {
              bottom: 20px;
              left: 9px;
            }
          }
          &.icon-calender{
            bottom: 10px;
            left: 7px;
          }
          &.icon-infocenter{
            transform: scale(0.70);
            bottom: 6px;
            left: 10px;
            @media @mobile {
              bottom: 15px;
              left: 4px;
            }
          }
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba(199, 167, 104, 0.8);
        }
        &.when{
          border: 1px #0e5d7c solid;
          -webkit-box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          -moz-box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          box-shadow: 5px 4px 12px -8px rgba(0,0,0,0.5);
          padding: 0;
        }
      }
      .flexible-dates{
        cursor: pointer;
        height:40px;
        padding: 9px 5px;
        font-size: 16px;
        line-height: 1.42857143;
        display: block;
        font-weight: 300;
        position: relative;
        @media @mobile {
          padding: 11px 2px;
          font-size: 12px;
        }
        .glyphicon{
          position: absolute;
          top: 8px;
          right: 15px;
        }
      }
      .flex{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 5px;
      }
      .xs-flex{
        display: flex;
        align-items: center;
        @media @mobile {
          display: block;
        }
        .full-width{
          @media @mobile {
            width: 100%;
          }
        }
      }
      .flex-column{
        flex-direction: column;
      }
      .dropdown{
        &.open{
          .glyphicon{
            transform: rotate(180deg);
          }
        }
      }
      .dropdown-menu{
        left:initial;
        right: 15px;
        margin-top: 0;
      }
      .range-wr {
        min-width: 260px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 16px;
        @media @mobile {
          min-width: 260px;
        }
        .flexible-label{
          display: inline;
          color: #0e5d7c;
          font-weight: 700;
          font-size: 14px;
          padding: 0;
          width: auto;
        }
        > div {
          p {
            float: left;
            margin-right: 10px;
            color: #0e5d7c;
          }
          select {
            border: 0;
            outline: 0;
            background: transparent;
            color: #c7a768;
          }
        }
        .form-control{
          max-width: 100px;
          margin: 0 10px;
          padding: 0 7px;
          box-sizing: border-box;
          display: inline-block;
          border: 1px solid #ccc;
          height: 26px;
          min-width: 75px;
          font-size: 14px;
        }
        .duration-wr {
          input {
            max-width: 70px;
            margin: 0 10px;
            padding: 0 7px;
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #ccc;
            height: 26px;
            font-size: 14px;
          }
          .nights{
            font-weight: 300;
          }
        }
      }
    }
  }
  .no-padding{
    padding: 0;
  }
  .checkbox-wrapper{
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .deposit{
    margin: 10px 20px;
    display: flex;
    align-items: center;
  }
  .single-checkbox{
    display: flex;
    align-items: center;
    color: #333333;
    padding: 4px 0;
    &.not-included{
      opacity: 0.4;
    }
    .text{
      font-size: 14px;
      display: flex;
      align-items: baseline;
    }
    .explanation{
      align-self: center;
      margin-right: 10px;
      &.pd-10-l{
        padding-left: 10px;
      }
    }
    .things-checkbox{
      position: relative;
      border: 1px solid rgba(14,93,124,0.4);
      margin-right: 10px;
      width: 15px;
      height: 15px;
      &:focus{
        outline: none;
      }
      &.no-border{
        border: none;
        cursor: auto;
      }
    }
    .check{
      position: absolute;
      top: -8px;
      transform: scale(0);
      transition: 0.3s ease;
      &:focus{
        outline: none;
      }
      &.checked{
        transform: scale(1);
      }
    }
  }
  .form-control{
    &.error{
      margin: 0;
      border: 1px solid #a94442 !important;
      box-shadow: 0px 0px 3px 3px rgba(169,68,66,0.4) !important;
    }
  }
}

.daterangepicker{
  &.openscenter{
    table{
      position: relative;
    }
    tbody{
      &::after {
        content: ""; position: absolute; top: 40px; right: 0; bottom: 0; left: 0;
      }
      td{
        color: #999;
        &.in-range{
          color: #333;
        }
        &.start-date, &.end-date{
          color: #fff;
        }
      }
    }
    &::before {
      border-color: #fff;
    }
  }
}
