.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.icon {
  background-image: url(../../images/spritesheet16.png);    background-repeat: no-repeat;
  display: block;

  &.icon-Dryer {
    .stitches-icon(-5px, -5px, 30px, 30px);
  }

  &.icon-LAPTOP {
    .stitches-icon(-45px, -5px, 30px, 30px);
  }

  &.icon-TV {
    .stitches-icon(-85px, -5px, 30px, 30px);
  }

  &.icon-alert {
    .stitches-icon(-125px, -5px, 20px, 20px);
  }

  &.icon-bar {
    .stitches-icon(-155px, -5px, 30px, 30px);
  }

  &.icon-bath {
    .stitches-icon(-195px, -5px, 20px, 20px);
  }

  &.icon-beach {
    .stitches-icon(-225px, -5px, 30px, 30px);
  }

  &.icon-bed {
    .stitches-icon(-265px, -5px, 31px, 38px);
  }

  &.icon-bed-small {
    .stitches-icon(-306px, -5px, 21px, 27px);
  }

  &.icon-brownerrow {
    .stitches-icon(-337px, -5px, 100px, 100px);
  }

  &.icon-bus {
    .stitches-icon(-447px, -5px, 30px, 30px);
  }

  &.icon-calender {
    .stitches-icon(-5px, -45px, 20px, 20px);
  }

  &.icon-carrent {
    .stitches-icon(-35px, -45px, 30px, 30px);
  }

  &.icon-check {
    .stitches-icon(-75px, -45px, 20px, 20px);
  }

  &.icon-chevron-down {
    .stitches-icon(-5px, -115px, 128px, 128px);
  }

  &.icon-cinema {
    .stitches-icon(-105px, -45px, 30px, 30px);
  }

  &.icon-club {
    .stitches-icon(-145px, -45px, 30px, 30px);
  }

  &.icon-cocktail {
    .stitches-icon(-185px, -45px, 30px, 30px);
  }

  &.icon-coffee {
    .stitches-icon(-225px, -45px, 30px, 30px);
  }

  &.icon-delete {
    .stitches-icon(-265px, -45px, 20px, 20px);
  }

  &.icon-door {
    .stitches-icon(-295px, -45px, 30px, 30px);
  }

  &.icon-door-small {
    .stitches-icon(-447px, -45px, 21px, 21px);
  }

  &.icon-doorman {
    .stitches-icon(-447px, -76px, 30px, 30px);
  }

  &.icon-duck {
    .stitches-icon(-143px, -116px, 30px, 30px);
  }

  &.icon-duck-small {
    .stitches-icon(-183px, -116px, 21px, 21px);
  }

  &.icon-elevator {
    .stitches-icon(-214px, -116px, 30px, 30px);
  }

  &.icon-emptystar {
    .stitches-icon(-5px, -76px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-emptystar-large {
    .stitches-icon(-5px, -76px, 20px, 20px);
  }

  &.icon-envelope-up {
    .stitches-icon(-254px, -115px, 100px, 100px);
  }

  &.icon-envelope-white {
    .stitches-icon(-364px, -116px, 30px, 30px);
  }

  &.icon-extreme {
    .stitches-icon(-404px, -116px, 30px, 30px);
  }

  &.icon-fire {
    .stitches-icon(-444px, -116px, 30px, 30px);
  }

  &.icon-gallery {
    .stitches-icon(-143px, -156px, 30px, 30px);
  }

  &.icon-gas {
    .stitches-icon(-183px, -156px, 30px, 30px);
  }

  &.icon-gym {
    .stitches-icon(-364px, -156px, 30px, 30px);
  }

  &.icon-hairdry {
    .stitches-icon(-404px, -156px, 30px, 30px);
  }

  &.icon-halfstar {
    .stitches-icon(-75px, -76px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-halfstar-large {
    .stitches-icon(-75px, -76px, 20px, 20px);
  }

  &.icon-heart {
    .stitches-icon(-444px, -156px, 30px, 30px);
  }

  &.icon-heart-empty {
    .stitches-icon(-143px, -196px, 30px, 30px);
  }

  &.icon-heart-white {
    .stitches-icon(-183px, -196px, 30px, 30px);
  }

  &.icon-heating {
    .stitches-icon(-364px, -196px, 30px, 30px);
  }

  &.icon-hotub {
    .stitches-icon(-404px, -196px, 30px, 30px);
  }

  &.icon-house {
    .stitches-icon(-143px, -236px, 100px, 100px);
  }

  &.icon-infocenter {
    .stitches-icon(-444px, -196px, 30px, 30px);
  }

  &.icon-iron {
    .stitches-icon(-253px, -236px, 30px, 30px);
  }

  &.icon-keys {
    .stitches-icon(-293px, -236px, 100px, 100px);
  }

  &.icon-kids {
    .stitches-icon(-403px, -236px, 30px, 30px);
  }

  &.icon-kitchen {
    .stitches-icon(-443px, -236px, 30px, 30px);
  }

  &.icon-like {
    .stitches-icon(-265px, -76px, 20px, 20px);
  }

  &.icon-logo {
    .stitches-icon(-5px, -276px, 51px, 50px);
  }

  &.icon-logotype {
    .stitches-icon(-5px, -346px, 100px, 43px);
  }

  &.icon-mail {
    .stitches-icon(-223px, -156px, 20px, 20px);
  }

  &.icon-man {
    .stitches-icon(-66px, -276px, 30px, 30px);
  }

  &.icon-man-small {
    .stitches-icon(-223px, -196px, 18px, 21px);
  }

  &.icon-matos {
    .stitches-icon(-115px, -346px, 100px, 100px);
  }

  &.icon-money {
    .stitches-icon(-225px, -346px, 100px, 100px);
  }

  &.icon-museum {
    .stitches-icon(-253px, -276px, 30px, 30px);
  }

  &.icon-music {
    .stitches-icon(-403px, -276px, 30px, 30px);
  }

  &.icon-norecycle {
    .stitches-icon(-443px, -276px, 30px, 30px);
  }

  &.icon-nosmoking {
    .stitches-icon(-403px, -316px, 30px, 30px);
  }

  &.icon-openmarket {
    .stitches-icon(-443px, -316px, 30px, 30px);
  }

  &.icon-park {
    .stitches-icon(-335px, -356px, 30px, 30px);
  }

  &.icon-parking {
    .stitches-icon(-375px, -356px, 30px, 30px);
  }

  &.icon-pets {
    .stitches-icon(-415px, -356px, 30px, 30px);
  }

  &.icon-pin-blue {
    .stitches-icon(-335px, -396px, 40px, 44px);
  }

  &.icon-pin-green {
    .stitches-icon(-385px, -396px, 60px, 36px);
  }

  &.icon-pin-red {
    .stitches-icon(-5px, -442px, 40px, 38px);
  }

  &.icon-plus1 {
    .stitches-icon(-487px, -5px, 100px, 100px);
  }

  &.icon-pool {
    .stitches-icon(-487px, -115px, 30px, 30px);
  }

  &.icon-privateB {
    .stitches-icon(-527px, -115px, 30px, 30px);
  }

  &.icon-privateE {
    .stitches-icon(-484px, -155px, 30px, 30px);
  }

  &.icon-recycle {
    .stitches-icon(-524px, -155px, 30px, 30px);
  }

  &.icon-restaurant {
    .stitches-icon(-564px, -155px, 30px, 30px);
  }

  &.icon-search {
    .stitches-icon(-484px, -195px, 30px, 30px);
  }

  &.icon-shopping {
    .stitches-icon(-524px, -195px, 30px, 30px);
  }

  &.icon-shower {
    .stitches-icon(-564px, -195px, 30px, 30px);
  }

  &.icon-smoking {
    .stitches-icon(-484px, -235px, 30px, 30px);
  }

  &.icon-snowflake {
    .stitches-icon(-524px, -235px, 30px, 30px);
  }

  &.icon-star {
    .stitches-icon(-567px, -115px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-star-large {
    .stitches-icon(-567px, -115px, 20px, 20px);
  }

  &.icon-supermarket {
    .stitches-icon(-564px, -235px, 30px, 30px);
  }

  &.icon-swaper {
    .stitches-icon(-106px, -275px, 20px, 20px);
  }

  &.icon-target {
    .stitches-icon(-483px, -275px, 100px, 100px);
  }

  &.icon-vegen {
    .stitches-icon(-455px, -385px, 30px, 30px);
  }

  &.icon-walking {
    .stitches-icon(-495px, -385px, 30px, 30px);
  }

  &.icon-washer {
    .stitches-icon(-535px, -385px, 30px, 30px);
  }

  &.icon-wheelchair {
    .stitches-icon(-55px, -425px, 30px, 30px);
  }

  &.icon-wifi {
    .stitches-icon(-455px, -425px, 30px, 30px);
  }

  &.icon-zoo {
    .stitches-icon(-495px, -425px, 30px, 30px);
  }

}

