.stitches-icon(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.icon {
  background-image: url(../../images/spritesheet.png);    background-repeat: no-repeat;
  display: block;

  &.icon-Dryer {
    .stitches-icon(-5px, -5px, 30px, 30px);
  }

  &.icon-LAPTOP {
    .stitches-icon(-45px, -5px, 30px, 30px);
  }

  &.icon-TV {
    .stitches-icon(-85px, -5px, 30px, 30px);
  }

  &.icon-alert {
    .stitches-icon(-125px, -5px, 20px, 20px);
  }

  &.icon-bar {
    .stitches-icon(-155px, -5px, 30px, 30px);
  }

  &.icon-bath {
    .stitches-icon(-195px, -5px, 20px, 20px);
  }

  &.icon-beach {
    .stitches-icon(-225px, -5px, 30px, 30px);
  }

  &.icon-bed {
    .stitches-icon(-265px, -5px, 30px, 30px);
  }

  &.icon-brownerrow {
    .stitches-icon(-305px, -5px, 100px, 100px);
  }
  &.icon-arrow-left {
    .stitches-icon(-305px, -5px, 100px, 100px);
    transform: rotate(90deg);
  }
  &.icon-arrow-right {
    .stitches-icon(-305px, -5px, 100px, 100px);
    transform: rotate(-90deg);
  }

  &.icon-bus {
    .stitches-icon(-415px, -5px, 30px, 30px);
  }

  &.icon-calender {
    .stitches-icon(-455px, -5px, 20px, 20px);
  }

  &.icon-carrent {
    .stitches-icon(-5px, -45px, 30px, 30px);
  }

  &.icon-check {
    .stitches-icon(-125px, -35px, 20px, 20px);
  }

  &.icon-chevron-down {
    .stitches-icon(-155px, -45px, 128px, 128px);
  }

  &.icon-cinema {
    .stitches-icon(-45px, -45px, 30px, 30px);
  }

  &.icon-club {
    .stitches-icon(-85px, -45px, 30px, 30px);
  }

  &.icon-cocktail {
    .stitches-icon(-415px, -45px, 30px, 30px);
  }

  &.icon-coffee {
    .stitches-icon(-5px, -85px, 30px, 30px);
  }

  &.icon-delete {
    .stitches-icon(-455px, -35px, 20px, 20px);
  }

  &.icon-door {
    .stitches-icon(-45px, -85px, 30px, 30px);
    margin: -3px;
    margin-bottom: 2px;
  }

  &.icon-doorman {
    .stitches-icon(-85px, -85px, 30px, 30px);
  }

  &.icon-elevator {
    .stitches-icon(-415px, -85px, 30px, 30px);
  }

  &.icon-emptystar {
    .stitches-icon(-125px, -65px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-emptystar-large {
    .stitches-icon(-125px, -65px, 20px, 20px);

  }

  &.icon-envelope-up {
    .stitches-icon(-293px, -115px, 100px, 100px);
  }

  &.icon-envelope-white {
    .stitches-icon(-5px, -125px, 30px, 30px);
  }

  &.icon-extreme {
    .stitches-icon(-45px, -125px, 30px, 30px);
  }

  &.icon-fire {
    .stitches-icon(-85px, -125px, 30px, 30px);
  }

  &.icon-gallery {
    .stitches-icon(-403px, -125px, 30px, 30px);
  }

  &.icon-gas {
    .stitches-icon(-443px, -125px, 30px, 30px);
  }

  &.icon-gym {
    .stitches-icon(-5px, -165px, 30px, 30px);
  }

  &.icon-hairdry {
    .stitches-icon(-45px, -165px, 30px, 30px);
  }

  &.icon-halfstar {
    .stitches-icon(-455px, -65px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-halfstar-large {
    .stitches-icon(-455px, -65px, 20px, 20px);
  }

  &.icon-heart {
    .stitches-icon(-85px, -165px, 30px, 30px);
  }

  &.icon-heart-empty {
    .stitches-icon(-403px, -165px, 30px, 30px);
  }

  &.icon-heating {
    .stitches-icon(-443px, -165px, 30px, 30px);
  }

  &.icon-hotub {
    .stitches-icon(-5px, -205px, 30px, 30px);
  }

  &.icon-house {
    .stitches-icon(-45px, -225px, 100px, 100px);
  }

  &.icon-infocenter {
    .stitches-icon(-155px, -205px, 30px, 30px);
  }

  &.icon-iron {
    .stitches-icon(-195px, -205px, 30px, 30px);
  }

  &.icon-keys {
    .stitches-icon(-235px, -225px, 100px, 100px);
  }

  &.icon-kids {
    .stitches-icon(-403px, -205px, 30px, 30px);
  }

  &.icon-kitchen {
    .stitches-icon(-443px, -205px, 30px, 30px);
  }

  &.icon-like {
    .stitches-icon(-125px, -95px, 20px, 20px);
  }

  &.icon-mail {
    .stitches-icon(-455px, -95px, 20px, 20px);
  }

  &.icon-man {
    .stitches-icon(-345px, -245px, 100px, 100px);
  }

  &.icon-matos {
    .stitches-icon(-5px, -355px, 100px, 100px);
  }

  &.icon-money {
    .stitches-icon(-115px, -355px, 100px, 100px);
  }

  &.icon-museum {
    .stitches-icon(-5px, -245px, 30px, 30px);
  }

  &.icon-music {
    .stitches-icon(-155px, -245px, 30px, 30px);
  }

  &.icon-norecycle {
    .stitches-icon(-195px, -245px, 30px, 30px);
  }

  &.icon-nosmoking {
    .stitches-icon(-225px, -355px, 30px, 30px);
  }

  &.icon-openmarket {
    .stitches-icon(-265px, -355px, 30px, 30px);
  }

  &.icon-park {
    .stitches-icon(-305px, -355px, 30px, 30px);
  }

  &.icon-parking {
    .stitches-icon(-345px, -355px, 30px, 30px);
  }

  &.icon-pets {
    .stitches-icon(-385px, -355px, 30px, 30px);
  }

  &.icon-pin-blue {
    .stitches-icon(-425px, -355px, 40px, 44px);
  }

  &.icon-pin-green {
    .stitches-icon(-225px, -409px, 60px, 36px);
  }

  &.icon-pin-red {
    .stitches-icon(-295px, -409px, 40px, 38px);
  }

  &.icon-plus1 {
    .stitches-icon(-485px, -5px, 100px, 100px);
  }

  &.icon-pool {
    .stitches-icon(-485px, -115px, 30px, 30px);
  }

  &.icon-privateB {
    .stitches-icon(-525px, -115px, 30px, 30px);
  }

  &.icon-privateE {
    .stitches-icon(-483px, -155px, 30px, 30px);
  }

  &.icon-recycle {
    .stitches-icon(-523px, -155px, 30px, 30px);
  }

  &.icon-restaurant {
    .stitches-icon(-483px, -195px, 30px, 30px);
  }

  &.icon-search {
    .stitches-icon(-523px, -195px, 30px, 30px);
  }

  &.icon-shopping {
    .stitches-icon(-483px, -235px, 30px, 30px);
  }

  &.icon-shower {
    .stitches-icon(-523px, -235px, 30px, 30px);
  }

  &.icon-smoking {
    .stitches-icon(-455px, -275px, 30px, 30px);
  }

  &.icon-snowflake {
    .stitches-icon(-495px, -275px, 30px, 30px);
  }

  &.icon-star {
    .stitches-icon(-565px, -115px, 20px, 20px);
    transform: scale(0.7);
    margin-left: -2px;
  }
  &.icon-star-large {
    .stitches-icon(-565px, -115px, 20px, 20px);
  }

  &.icon-supermarket {
    .stitches-icon(-535px, -275px, 30px, 30px);
  }

  &.icon-swaper {
    .stitches-icon(-125px, -145px, 20px, 20px);
  }

  &.icon-target {
    .stitches-icon(-475px, -315px, 100px, 100px);
  }

  &.icon-vegen {
    .stitches-icon(-5px, -315px, 30px, 30px);
  }

  &.icon-walking {
    .stitches-icon(-155px, -315px, 30px, 30px);
  }

  &.icon-washer {
    .stitches-icon(-195px, -315px, 30px, 30px);
  }

  &.icon-wheelchair {
    .stitches-icon(-345px, -425px, 30px, 30px);
  }

  &.icon-wifi {
    .stitches-icon(-385px, -425px, 30px, 30px);
  }

  &.icon-zoo {
    .stitches-icon(-425px, -425px, 30px, 30px);
  }
}

