@import 'media.less';

swapper-home{
  .traveler {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 8px -6px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 5px 8px -6px rgba(0,0,0,0.39);
    box-shadow: 5px 5px 8px -6px rgba(0,0,0,0.39);
    height: 380px;
    cursor: pointer;
    transition: 0.4s ease;
    @media @tablet {
      height: 380px;
    }
    @media @mobile {
      height: 380px;
    }
    &:focus {
      outline: none;
    }
    .carousel {
      height: 260px;
      @media @tablet {
        height: 260px;
      }
      .carousel-inner {
        height: 100%;
      }
      .item {
        height: 100%;
      }
      .carousel-caption {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .carousel-control {
      transition: 0.3s ease;
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
      background-image: -o-linear-gradient(left, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001));
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, .0001)));
      background-image: linear-gradient(to right, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
      .carousel-control-arrow {
        color:#E84F2F;
        font-size: 26px;
        position: absolute;
        cursor: pointer;
        top: ~'calc(50% - 20px)';
      }
      &.right {
        background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
        background-image: -o-linear-gradient(right, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001));
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, .0001)));
        background-image: linear-gradient(to left, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .0001) 100%);
        .carousel-control-arrow {
          right: 10%;
        }
      }
      &.left{
        .carousel-control-arrow {
          left: 10%;
        }
      }
    }
    .profile-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid grey;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      bottom: 115px;
      right: 15px;
      //@media @desktop {
      //  bottom: 105px;
      //}
      @media @tablet {
        width: 60px;
        height: 60px;
      }
    }
    .favorite{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      .heart-shape{
        position: absolute;
        left: 13px;
        top: 12px;
        width: 16px;
        height: 18px;
        -webkit-transform: rotate(43deg);
        -moz-transform: rotate(43deg);
        -ms-transform: rotate(43deg);
        -o-transform: rotate(43deg);
        transform: rotate(43deg);
        border-bottom-right-radius: 3px;
        border-top-right-radius: 4px;
        background-color: rgba(255,255,255, 1);
      }
      .heart-shape:before,
      .heart-shape:after{
        position: absolute;
        width: 15px;
        height: 15px;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: rgba(255,255,255, 1);
      }
      .heart-shape:before{
        bottom: 1px;
        left: -8px;
      }
      .heart-shape:after{
        top: -6px;
        right: 1px;
      }
      &.like{
        &:hover{
          -webkit-animation: pulse 0.6s linear;
          animation: pulse 0.6s linear;
        }
      }
      &.community{
        background-color: #ffffff;
        border-radius: 50%;
        left: initial;
        right: 15px;
        top: 15px;
      }
      .icon{
        margin: 5px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        &.icon-heart-empty{
          -webkit-transform: translateZ(0) scale(0.9);
          -ms-transform: translateZ(0) scale(0.9);
          transform: translateZ(0) scale(0.9);
        }
        &.icon-heart-white{
          margin:0;
        }
        &:focus{
          outline: none;
        }
        &.pulse{
          -webkit-animation: pulse 0.6s linear;
          animation: pulse 0.6s linear;
        }
      }
    }
    .user-info {
      height: 106px;
      padding-top: 4px;
      overflow: hidden;
      .apt-title {
        font-size: 18px;
        font-weight: 500;
        padding: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #484848;
        max-height: 25px;
        align-items: center;
      }
      .apt-sub-title {
        padding: 2px 0;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #616161;
      }
    }
    .rating {
      display: flex;
      align-items: center;
      font-size: 14px;
      height: 15px;
      margin-top: 6px;
      .number-reviews {
        margin-left: 10px;
      }
      .new-appt {
        color:#0E5D7C;
      }
    }
    .basics {
      display: flex;
      //justify-content: space-between;
      padding-top: 10px;
      color: #616161;
      @media  @desktop, @tablet, @mobile{
        padding-top: 8px;
      }
      .tiny-text {
        padding-right: 18px;
        font-size: 12px;
        display: flex;
        align-items: center;
        &.man{
          padding-right: 14px;
        }
        @media  @desktop, @tablet, @mobile{
          font-size: 11px;
          padding-right: 12px;
        }
        .icon{
          margin-right: 0;
          &.icon-man-small{
            margin-left: -2px;
          }
          &.icon-door-small{
            margin-left: -2px;
            margin-right: 2px;
          }
          &.icon-bed-small{
            margin-right: 6px;
          }
          &.icon-duck-small{
            margin-right: 7px;
          }
        }
        @media @mobile {
          margin-top: 0;
        }
      }
    }

    .age-and-city {

    }

    .carousel-image {
      width: 100%;
      height: 100%;
      top: 0%;
      right: 0;
      left: 0;
      padding-bottom: 0;
    }
  }
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-left-color: #0E5D7C !important;
}
.tooltip{
  .tooltip-arrow{
    border-color: #0E5D7C !important;
  }
}
.tooltip-inner {
  background-color: #0E5D7C !important;
  color: white !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}