swaps{
  .swaps-wrapper{
    padding: 30px;
    .single-swap{
      display: flex;
      .search-area{
        margin: 0;
        width: 75%;
        margin-bottom: 15px;
        .search-field{
          padding:0 5px;
        }
      }
    }
  }
}