//#navbarSupportedContent {
//	-webkit-box-shadow: 4px 7px 33px 0px rgba(0,0,0,0.75);
//	-moz-box-shadow: 4px 7px 33px 0px rgba(0,0,0,0.75);
//	box-shadow: 3px -2px 19px 0px rgba(0,0,0,0.75);
//}
.travelers-page{
	//background-color: #e1e1e1;
	background-color: #fcfcfc;
	.title{
		padding: 40px 0px 5px 0;
	}
	.see-who{
		font-size: 26px;
		font-weight: 500;
		margin-left: -15px;
	}
	.search-city{
		// padding: 50px 0;
	    width: 200px;
	    float: right;
	    .search-icon{
	    	background-color: white;
	    	border: none;
	    	cursor: pointer;
	    }
	    .search-box{
	    	border: none;
	    	-webkit-box-shadow: none;
		    box-shadow: none;
		    -webkit-transition: none;
		    -o-transition: none;
	    }
	}
	.more-filters{
		margin-top: 10px;
		.filter-btn{
			width: 100%;
    		text-align: left;
			span{
				float:right;
			}
		}
	}
	.swappers-col{
		height: 34vw;
		overflow-y: scroll;
		.no-results{
			font-size: 16px;
		}
	}
	.swappers{
		.carousel-indicators{
			display:none;
		}
		.appt-information{
			display: flex;
			background-color: rgba(255,255,255,0.5);
			margin-bottom: 10px;
			.appt-photos{
				padding-left: 0;
			}
			.photo{
				img{
					object-fit: cover;
				    width: 100%;
				    height: 15vw;
				    border: 1px solid lightslategray;
				}
			}
			.rating{
				padding-top: 5px;
			    display: flex;
    			align-items: center;
				.number-reviews{
					margin-left: 10px;
				}
			}
			.info{
				padding-top: 10px;
    			font-size: 16px;
			}
			.description{
				padding: 5px;
			    font-size: 18px;
			}
			.property{
				font-size: 16px;
				padding: 5px;
			}
		}
		.swapper{
		    min-height: 15vw;
		    .display-name{
		    	padding: 10px 0;
		    	display: flex;
				align-items: center;
		    }
			.pic{
			    background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50%;
				height: 5vw;
				width: 5vw;
			}
			.name{
    			font-size: 20px;
			}
			.info{
				padding-top: 6px;
    			font-size: 16px;
			}
			.view-profile{
				position: absolute;
    			bottom: 5px;
    			right: 15px;
			}
		}
	}
	.filter-nav{
		.md-sidenav-right{
			left: ~"calc(100% - 15px)";
			overflow: hidden;
		}
		.side-nav-inside{
			height: 100%;
    		overflow: auto;
			.filters{
				padding: 15px;
				.control-label{
					margin-top: 5px;
					font-size: 18px;
					outline: none;
					&:focus{
						outline: none;
					}
				}
				.form-control{
					font-size: 16px;
				}
				.dates{
					position: relative;
					.date-calendar{
						position: absolute;
						right: 10px;
						top: 0;
						padding: 6px;
						font-size: 18px;
					}
				}
				.more-options{
					margin-top: 15px;
					border-top: 1px solid lightgray;
				}
				.ameneties{
					height: 0px;
					overflow: hidden;
					transition: 1s ease;
					-webkit-transition: 1s ease;
					&.show{
						height: 150px;
					}
					ul{
						padding-left: 20px;
					}
				}
				.amenity-label {
					display: flex;
					align-items: center;
				}
				input[type=checkbox] {
					margin-top: 0;
					margin-right: 5px;
				}
			}
			.filter-buttons{
				position: absolute;
				left: 0;
				right: 15px;
				bottom: 0;
				background-color: #fff;
				.search-btn{
					float: right;
					margin-left: 10px;
				}
				.clear-btn{
					float: right;
				}
			}
		}
	}
	.map{
		height:34vw;
		#travelerMarkerLayer {
			img{
				border-radius:50% !important;
				width: 50px !important;
				height: 50px !important;
				display: block;
				object-fit: cover;
				transform: scale(0.75);
				border:2px solid rgba(13, 134, 234, 0);
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(13, 134, 234,.6);
    			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(13, 134, 234,.6);
				-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
    			transition: ease 1s;
				&:hover{
					-ms-transform: scale(1.2); /* IE 9 */
				    -webkit-transform: scale(1.2); /* Safari */
				    transform: scale(1.2);
				}
			}
		}
		.infoWindowContent{
			font-size: 16px;
		    font-weight: bold;
		    padding-top: 10px;
		    color: #000;
		    background-color: rgba(192,192,192,0.8);
		}
		.travelers{
		    font-size:20px;
		    text-align: center;
		    font-weight: bold;
			color: #045f79;
		}
		.map-photo{
			width: 20vw;
			height: 15vw;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.page-numbers{
    	margin: 25px auto;
		width: 30%;
		.number{
			outline: none;
			color: #141714;
			cursor: pointer;
			font-size: 16px;
			display: inline-block;
			vertical-align: middle;
			padding: 5px 10px;
			&.current{
				cursor: initial;
				background-color: #045f79;
				border-radius: 50%;
				color: #fff;
			}

		}
		.arrow{
			outline: none;
			color: #141714;
			cursor: pointer;
			font-size: 18px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 16px;
			border-radius: 50%;
			border: 1px solid #141714;
			width: 30px;
    		height: 30px;
			&.no-show{
				color: transparent;
				border: transparent;
				cursor: auto;
			}
			.glyphicon{
				padding: 4px;
			}

		}
	}
	//* white background and box outline */
	.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div:last-child
	{
	    //* we have to use !important because we are overwritng inline styles */
	    background-color: transparent !important;
	    border-radius: 10px !important;
	    box-shadow: none !important;
	    width: 100% !important;
	    height: 100% !important;
	}

	//* arrow colour */
	.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
	{
	    background-color: blue !important;
	    display: none !important;
	}

	//* close button */
	.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
	{
	    margin-right: 5px;
	    margin-top: 5px;
	}

	//* image icon inside close button */
	.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img
	{
	    display: none;
	}

	//* positioning of infowindow */
	.gm-style-iw
	{
	    //top: 22px !important;
	    //left: 22px !important;
	}

	.people-list {
		clear: both;
		overflow-y: auto;
		height: 760px;
		color: #2da5e1;

		.guy-box {
			background-color: #ffffff;
			padding: 0;

			-webkit-box-shadow: 5px 6px 15px -6px rgba(0,0,0,0.39);
			-moz-box-shadow: 5px 6px 15px -6px rgba(0,0,0,0.39);
			box-shadow: 5px 6px 15px -6px rgba(0,0,0,0.39);
			font-family: Arial, "Calibri Light", sans-serif;

			img {
				max_width: 100%;
				max_height: 100%;
				height: 100px;
			}

			.apartment-image {
				padding-right: 0;
			}

			.apt-img {
				width: 100%;
			}
			.prof_img_cont{
				margin-left: -26%;

				.prof_img {
					height: 100px;
					width: 100%;
				}
			}


			.apt-description {
				font-weight: 600;
			}

			.text-under-apt {
				height: 6vw;
				overflow-y: auto;
				background-color: #fcfcfc;;
			}

			.tiny-text {
				font-size: 80%;
			}

			.age-and-city {

			}

			.carousel-image {
				width: 100%;
				height: 100%;
				top: 0%;
				right: 0;
				left: 0;
				padding-bottom: 0;
			}
		}
	}

	::-webkit-scrollbar {
		display: none;
	}



	.travelers-result-pages {
		display: inline-block;
		text-decoration: none;

		.page-list {
			color: black;
			margin: auto;
			width: 42%;
			text-decoration: none;
			list-style-type: none;

			.page-number {
				float: left;
				padding: 10px;
			}

			a:hover:not(.active) {
				background-color: #ddd;
			}

			a.active {
				background-color: rgba(55, 217, 255, 0.64);
				color: white;
			}
		}


	}

}
.daterangepicker_input{
	display: none;
}
.month {
	width: auto;
	font-size: 18px;
}
.fa{
	font-size: 18px;
}
.daterangepicker{
	.calendar{
		td{
			font-size: 16px;
			&.active{
				background-color: #008500;
			}
			&.in-range{
				background-color: #CFF4CF;
			}
		}
	}
}






// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


@media (max-width: @screen-xs-max) {
	.guy-box {
		position: relative;
		height: 32%;

		.text-under-apt {
			//position: relative;
			//height: 100%;
			height: 16vw;
		    //height: ~'calc(100% - 16vw);
		}

		.tiny-text {
			margin-top: 26%;
			//bottom: 0;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

@media (min-width: @screen-lg-min) {

}


