<div class="request-page cancel block">
    <div class="top-corner icon icon-delete" ng-click="close()"></div>
    <div class="cancel-swap" ng-hide="showMessage">
        <div class="sub-title">
            {{subTitle}}
        </div>

        <div class="buttons">
            <div class="back no btn-primary" ng-click="close()">
                No
            </div>
            <div class="back pay btn-primary" ng-click="yes()">
                Yes
            </div>
        </div>
    </div>
    <div class="cancel-swap" ng-if="showMessage && !cancelSent">
        <div class="sub-title" ng-if="decline">Please tell {{name}} why you wish to decline the request</div>
        <div class="sub-title" ng-if="!decline">Canceling a confirmed Swap can be an inconvenience, please tell {{name}} why you wish to cancel the Swap</div>
        <div class="send-message">
            <textarea rows="3" cols="20" class="form-control send-text" ng-model="send.message" placeholder="">
                          </textarea>
        </div>
        <div class="error" ng-if="error">
            {{error}}
        </div>
        <input type="button" class="btn btn-primary btn-swap cancel {{send.message == ''?'disabled':''}}" value="{{decline?'Decline':'Cancel'}} Request" ng-click="cancelRequest()" ng-disabled="send.message == ''" disabled="{{send.message == ''}}">
        <div class="loader-wrapper" ng-if="processing">
            <div class="loader">

            </div>
        </div>
    </div>
    <div class="request-complete" ng-if="cancelSent">
        <div class="title"> The Swap has been canceled</div>
        <div class="btn-primary ok-btn" ng-click="close()">OK</div>
    </div>
</div>
