<div class="request-page">
    <div class="top-corner icon icon-delete" ng-click="close()"></div>
    <div class="match" ng-if="isMatch">
        <div class="title">
            I like you too!
            <div class="underline"></div>
        </div>

        <div class="photo">
            <div class="profile-img" style="background-image: url('{{profile.image}}')"></div>
        </div>

        <div class="sub-title center">
            You and {{profile.firstName}} have liked each others homes! <br>
            Why waste time? request to Swap now.
        </div>
        <input type="button" class="btn btn-primary btn-swap" value="Request Swap" ng-click="showRequest()">

    </div>
    <div class="loader-wrapper" ng-if="processing && !requestPending && !requestComplete">
        <div class="loader">

        </div>
    </div>
    <div class="request-swap {{receipt?'hide-request':''}}" ng-hide="processing || requestComplete || isMatch || requestPending">
        <div class="title">
            {{confirmation?'Confirm Swap':accepting?'Accept Swap':'Propose a Swap!'}}
            <div class="underline"></div>
        </div>
        <div class="sub-title center" ng-if="proposing">
            Choose the dates you would like to propose to swap and the number of travelers you'll be.
        </div>
        <div class="sub-title center" ng-if="accepting && accepting.proposition.rangeLabel != 'Exact Dates'">
            {{profile.firstName}} proposed {{accepting.oneWay?'a one way Swap':'to swap'}} on flexible dates.<br>
            <span class="{{swap.error?'proposition-error':''}}"> Choose {{accepting.proposition.rangeLabel == 'Weekends'?'A weekend (' +data.weekendStart[accepting.proposition.startRange].displayName + ' - ' + data.weekendEnd[accepting.proposition.endRange].displayName + ')':(accepting.proposition.startRange != accepting.proposition.endRange?accepting.proposition.startRange + ' - ' + accepting.proposition.endRange :accepting.proposition.startRange) + (accepting.proposition.startRange> 1?' nights':' nights')}}
            within the proposed dates</span>, from {{accepting.proposition.checkin | date: 'EEE, MMM dd'}}  to {{accepting.proposition.checkout | date: 'EEE, MMM dd'}}
        </div>
        <div class="sub-title center" ng-if="accepting && accepting.proposition.rangeLabel == 'Exact Dates'">
            {{profile.firstName}} proposed {{accepting.oneWay?'a one way Swap':'to swap'}} from {{accepting.proposition.checkin | date: 'EEE, MMM dd'}}  to {{accepting.proposition.checkout | date: 'EEE, MMM dd'}}.<br>
        </div>
        <div class="single-swap add-swap" ng-if="!confirmation" ng-hide="receipt">
            <div class="row search-area">
                <div class="search-field when transition-ease {{accepting && accepting.oneWay?'col-sm-12':'col-sm-9'}} col-xs-12">
                    <div class="{{accepting.proposition.rangeLabel == 'Exact Dates'?'accepting-dates':''}}" ng-if="accepting">
                        <input type="text" class="form-control no-border {{datesError?'error':''}}" ng-focus="validateDates()" placeholder="Select Dates" id="searchDate" name="searchDate" ng-model="swap.dates" swap-dates="swap" user="user" profile="profile"
                               user-city="userCity" locale-format="localeFormat" model-format="modelFormat"  find-travel="accepting.proposition.rangeLabel != 'Exact Dates'" set-up-swap="false" datepicker
                               data="data" request="accepting" read-only-check="accepting.proposition.rangeLabel == 'Exact Dates'" start="accepting.proposition.checkin" end="accepting.proposition.checkout" parent-el="'accepting-dates'">
                        <div class="glyphicon glyphicon glyphicon-remove {{swap.when?'':'pd-15'}}" ng-click="removeDates(swap)" ng-if="swap.dates && accepting.proposition.rangeLabel != 'Exact Dates'"></div>
                    </div>
                    <div class="row xs-flex" ng-if="proposing">
                        <div class="{{swap.when?'col-xs-7 col-sm-7':'col-sm-12'}}">
                            <input type="text" class="form-control no-border {{datesError?'error':''}}" ng-focus="validateDates()" placeholder="Select Dates" id="searchDateAdd" name="searchDateAdd" ng-model="swap.dates" swap-dates="swap" user="user" profile="profile"
                                   user-city="userCity" locale-format="localeFormat" model-format="modelFormat"  find-travel="true" set-up-swap="true" datepicker
                                   data="data"  ng-change="changeDates(swap)">
                            <div class="glyphicon glyphicon glyphicon-remove {{swap.when?'':'pd-15'}}" ng-click="removeDates(swap)" ng-if="swap.dates"></div>
                            <span class="flexible-departure">{{swap.rangeLabel === 'Weekends'?'Weekends':''}}</span>
                        </div>
                        <div class="{{swap.when?'col-xs-5 col-sm-5':'col-xs-0'}} no-padding">
                            <div class="dropdown">
                                <div class="flexible-dates" data-toggle="dropdown" ng-if="swap.when">
                                    {{swap.rangeLabel === 'Weekends'? data.weekendStart[swap.startRange].value +'-'+data.weekendEnd[swap.endRange].value :swap.rangeLabel === 'Date Range'?(swap.startRange != swap.endRange?swap.startRange +'-'+ swap.endRange:swap.startRange)+ (swap.startRange>1?' Nights':' Night'): ''}}
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>
                                <div class="dropdown-menu">
                                    <form name="rangeForm" class="range-wr" novalidate>
                                        <div ng-if="swap.rangeLabel === 'Weekends'" class="xs-flex full-width flex-column">
                                            <div class="flex">
                                                <label class="flexible-label">Check in: </label>
                                                <select ng-model="swap.startRange" class="form-control">
                                                    <option ng-repeat="x in data.weekendStart" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                            <div class="flex">
                                                <label class="flexible-label">Check out: </label>
                                                <select ng-model="swap.endRange" class="form-control">
                                                    <option ng-repeat="x in data.weekendEnd" value="{{x.id}}">{{x.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div ng-if="swap.rangeLabel === 'Date Range'" class="duration-wr">
                                            <div class="no-padding col-xs-12">
                                                <div class="checkbox-wrapper">
                                                    <div class="single-checkbox">
                                                        <div class="things-checkbox" ng-click="setExactDates(swap)">
                                                            <div class="check icon icon-check {{exactDates?'checked':''}}"></div>
                                                        </div>
                                                        <div class="text flexible-label">
                                                            Exact Dates
                                                        </div>
                                                    </div>
                                                    <div class="single-checkbox">
                                                        <div class="things-checkbox" ng-click="setExactDates(swap)">
                                                            <div class="check icon icon-check {{!exactDates?'checked':''}}"></div>
                                                        </div>
                                                        <div class="text">
                                                            <label class="flexible-label">Duration: </label>
                                                            <input type="text" class="form-control" placeholder="{{minNightsRange}}-{{maxNightsRange}}" name="durationRange" ng-model="swap.duration" ng-change="changeRange(swap)">
                                                            <span class="nights">Nights</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icon icon-calender"></div>
                </div>
                <div class="search-field right transition-ease col-sm-3 col-xs-12 " ng-hide="accepting && accepting.oneWay">
                    <div class="guests-search">
                        <input type="number" class="form-control guests {{guestsError?'error':''}}" id="guests" placeholder="2" ng-model="swap.guests" ng-focus="guestsError=false" min="1" max="8">
                    </div>
                    <div class="icon icon-man-small"></div>
                </div>
            </div>
        </div>

        <div class="checkbox-wrapper" ng-if="proposing">
            <div class="single-checkbox">
                <div class="things-checkbox" ng-click="setOneWaySwap()">
                    <div class="check icon icon-check {{swap.oneWay?'checked':''}}"></div>
                </div>
                <div class="text">
                    I would like to propose a one way swap.
                    <span class="explanation pd-10-l"><i class="fa fa-question-circle-o" aria-hidden="true" uib-tooltip="I wish to stay at {{profile.firstName}}'s home but I do not want to offer my home in exchange (10 travel points per night)" tooltip-placement="left" tooltip></i></span>
                </div>
            </div>
        </div>

        <div class="sub-title send-message" ng-if="!confirmation">
            <label for="about" class="small-text blue">Tell {{profile.firstName}} a little about your trip</label>
            <textarea id="about" rows="3" cols="20" class="form-control send-text {{messageError?'error':''}}" ng-model="send.message" ng-focus="messageError=false" placeholder="Hey {{profile.firstName}}! ...">
                          </textarea>
        </div>
        <div class="confirmation" ng-if="confirmation">
            <div class="sub-title">
                Confirming swap with <strong>{{profile.firstName}}</strong> <br>from <strong>{{profile.city}}, {{profile.country}}</strong> <br>for<strong> {{request.nights}} {{request.nights>1?'Nights':'Night'}}</strong><br>

                <div class="arrival-dates">
                    <div class="dates">
                        Check in: <strong> {{request.checkin | date: 'EEEE, MMMM d, yyyy'}}</strong><br>
                        Check out: <strong> {{request.checkout | date: 'EEEE, MMMM d, yyyy'}}</strong><br>
                    </div>
                    <div class="accepting-dates" id="confirmDate" name="searchDate" ng-model="swap.dates" swap-dates="swap" user="user" profile="profile"
                         user-city="userCity" locale-format="localeFormat" model-format="modelFormat"  find-travel="false" set-up-swap="false" datepicker
                         data="data" request="request" read-only-check="true" start="swap.from" end="swap.to">
                        <div class="show-dates">
                            Show Dates
                        </div>
                        <div class="icon icon-calender">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="button" class="btn btn-primary btn-swap" value="Propose Swap" ng-click="checkSwap()" ng-if="!confirmation && !accepting">
        <input type="button" class="btn btn-primary btn-swap" value="{{confirmation?'Confirm Swap':'Accept Swap'}}" ng-click="showPayment()" ng-if="confirmation || accepting">
    </div>
    <div class="payment-receipt {{receipt?'show-receipt':''}} {{payment?'hide-receipt':''}}" ng-hide="requestComplete">
        <div class="" ng-if="notEnoughCredits">
            <points data="data" user="user" request="true" missing="missing" hide-credits="hideBuyCredits()"></points>
        </div>
        <div ng-if="!notEnoughCredits || (accepting && accepting.oneWay)">
            <div class="deposit-plan">Travel Points Details</div>
            <!--<div class="type" ng-if="(accepting && accepting.oneWay)">You will receive travel points for every night you offer your home</div>-->
            <div class="type">Travel points:</div>
            <!--<div class="amount">${{depositPlan.night}} Per Night X {{numberOfNights}} {{numberOfWeeks>1?'Nights':'Night'}} X {{swap.guests}} {{swap.guests>1?'Guest':'Guests'}}</div>-->
            <div class="amount"><span class="points-details">Cost: </span>{{paymentPerNight}} Per Night X {{numberOfNights}} {{numberOfNights>1?'Nights':'Night'}} = <span class="points-details">{{paymentPerNight * numberOfNights}} </span></div>
            <div class="amount"><span class="points-details gain">Gain: </span>{{gainPerNight}} Per Night X {{numberOfNights}} {{numberOfNights>1?'Nights':'Night'}} = <span class="points-details">{{gainPerNight * numberOfNights}} </span></div>
            <div class="total" ng-if="totalPayment == 0"><strong>NO CHARGE</strong></div>
            <div class="total {{hasGain?'gain':''}}" ng-if="totalPayment != 0">Total points {{hasGain?'gained':'used'}}: <strong>{{totalPayment}}</strong></div>
            <!--<div class="checkbox-wrapper" ng-if="accepting">-->
                <!--<div class="single-checkbox">-->
                    <!--<div class="things-checkbox" ng-click="setDeposit()">-->
                        <!--<div class="check icon icon-check {{hasDeposit?'checked':''}}"></div>-->
                    <!--</div>-->
                    <!--<div class="text">-->
                        <!--I would like both sides to put down a weekly security deposit of ${{depositPlan.week}}-->
                        <!--<span class="explanation"><i class="fa fa-question-circle-o" aria-hidden="true" uib-tooltip="The security deposit remains in your account and is not charged at all, except in cases where damages were claimed, or if you cancelled a Swap too close to the scheduled Swap date." tooltip-placement="left" tooltip></i></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="type">
                Weekly security deposit
                <span class="explanation"><i class="fa fa-question-circle-o" aria-hidden="true" uib-tooltip="The security deposit remains in your account and is not charged at all, except in cases where damages were claimed, or if you cancelled a Swap too close to the scheduled Swap date." tooltip-placement="right" tooltip></i></span>
            </div>
            <div>
                <div class="amount">${{depositPlan.week}} Per Week X {{numberOfWeeks}} {{numberOfWeeks>1?'Weeks':'Week'}}</div>
                <div class="total">Total Deposit: <strong>${{totalDeposit}}</strong></div>
            </div>
            <div class="terms">
                By continuing you agree to our <br><a class="link" href="https://swapshome.com/terms-and-conditions" target="_blank">Terms and Conditions</a>
                and <a class="link" href="https://swapshome.com/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
            <div class="buttons">
                <div class="back btn-primary" ng-click="goBack()">
                    Back
                </div>
                <div class="pay btn-primary" ng-click="goToPayment()">
                    Swap
                </div>
            </div>
        </div>
    </div>
    <div class="payment-area {{payment?'show-payment':''}}" ng-hide="requestComplete">
        <payment ng-if="payment" data="data" deposit="totalDeposit" pay="totalPayment" user-id="userId" recipient-id="recipientId" dates="dates" message="send.message" guests="swap.guests" plan="user.deposit" request-type="confirmation?data.requestType.confirm:data.requestType.accept" request-id="requestId"></payment>
        <div class="loader-wrapper" ng-if="processing">
            <div class="loader">

            </div>
        </div>
    </div>
    <div class="request-complete" ng-if="requestComplete">
        <div class="complete-title" ng-if="!requestError"> {{completeText}}</div>
        <div class="complete-title error" ng-if="requestError">Request Failed</div>
        <div class="sub-title center" ng-if="requestError"> {{requestError}}</div>
        <div class="btn-primary ok-btn" ng-click="close()">OK</div>
    </div>
    <div class="request-complete" ng-if="requestPending">
        <div class="title"> You must log in in order to see if {{profile.firstName}} has responded</div>
        <div class="btn-primary ok-btn login-btn" ng-click="close();openLogin()">Log in</div>
        <div class="sub-title center">Don't have an account?</div>
        <div class="btn-primary invert-btn ok-btn login-btn" ng-click="close();openLogin('Join Swaps',true )">Join</div>
    </div>
</div>
